<!DOCTYPE html>
<html lang="en">
<%- include('../../Partials/MetaData') -%>


<body>
<%- include('../../Partials/NavBar') -%>
			    <form class="needs-validation" action="/Frontend/Main_Result" method="post">
					<%- include('../../Partials/Global_Variables') -%>
					<input id="Form_Title13" name="Form_Title" type="hidden" value="Previous Forms">
	<div class="container ">
		

				
				
			  <div class="row"  >

				  
				  

				
			<div class="col">	
                <label for="Date">Date</label>
				 
                <input type="Date" class="form-control input4" id="Date" name="Date" value="<%=TodaysDate %>" required>
			
					  </div>
				
					  
					  
					  
				  
				  				  	  			<div class="col">	
						<label for="Floor_Ground">Store Locations</label>
													<div  id="Report_Placement" style="display:none">
                                   <select class="custom-select d-block w-100" id="Range_Select"  name="Report_Location" required>
                   <option Value="All">All</option>   
					   <option Value="Cotati">Cotati</option>
					   <option Value="Montecito">Montecito</option>
					   <option Value="Stony Point">Stony Point</option>
					   <option Value="Windsor">Windsor</option>
					   
                </select>
			     </div>
					  </div>
              </div>    
           
			<div class="row content_center" >
	
	
<div class="col d-flex justify-content-center"  >
	<div>
	<button  Id= "Button_10" class="Form_Buttons mt-5 Incoming_Materials Yellow " name="Form_Name" type="submit" value="Receiving_Commissary" ></button>
	<P  Id= "Button_13" class=" Form_text Button_Index1" name="Var7">Receiving (Commissary)</P>	
 </div>
    </div>
								
<div class="col d-flex justify-content-center" >
	<div>
	<button  Id= "Button_11" class="Form_Buttons mt-5 Receiving_Store Purple2" name="Form_Name" type="submit" value="Receiving_Stores" ></button>
	<P  Id= "Button_13" class=" Form_text Button_Index1" name="Var7">Receiving (Stores)</P>	
</div>
</div>
								
<div class="col d-flex justify-content-center" >
	<div>
	<button  Id= "Button_12" class="Form_Buttons mt-5 Thermometer Blue" name="Form_Name" type="submit" value="Thermometer_Calibration" ></button>
	<P  Id= "Button_13" class=" Form_text Button_Index1" name="Var7">Thermometer Calibration</P>	
  </div>
</div>

				
  </div>
	
		
		<div class="row Colum_Properties2" >
				

	 </form>	
			<div class="col d-flex justify-content-center" >
<form action="/DeliForms/Previous_Form_Selection" method="post">
	  <%- include('../../Partials/Global_Variables') -%>
	<input id="Form_Title9" name="Form_Title" type="hidden" value="Previous Forms">
	<button  Id= "Button_14" class="Form_Buttons mt-5 Back_Button Red" name="Var7" type="submit"  ></button>
	<P  Id= "Button_13" class=" Form_text Button_Index1" name="Var7">Previous<br>Page</P>	
    </form>	  
</div>
	
				
  </div>
	

		
		
		

		

		

		

		

		
		
		
		
	
		
					<!-- Bkank Row --> 
			<div class="row" >
			
		<div class="col d-flex justify-content-center mt-5"  >

	</div>
		
				<div class="col d-flex justify-content-center mt-5"   >
		</div>
		</div>
				
</div>
		
<!-- Bottom Buttons --> 
	
		<div class="row fixed-bottom" >
              <div class="col mb-3">
				  
				  <form action="/Frontend/Dashboard" class="button_height" method="post">
					  <%- include('../../Partials/Global_Variables') -%>
					  <input id="Form_Title13" name="Form_Title" type="hidden" value="Forms">
					  <br>
                       <button class="btn btn-block btn-primary btn-lg Light_Green_Button button_height "  data-toggle="collapse" data-target="#Hide_Stored" type="submit">Dashboard</button>
					  </form>
      
              </div>
		
              <div class="col mb-3">
				 
				  <form action="/Frontend/Reports" class="button_height" method="post">
					    <%- include('../../Partials/Global_Variables') -%>
					  <input id="Form_Title14" name="Form_Title" type="hidden" value="Reports">
					   <br>
                       <button class="btn btn-block btn-primary btn-lg button_height Green_Button"  data-toggle="collapse" data-target="#Hide_Stored" type="submit">Reports</button>
       </form>
              </div>
		
		
	</div>
		
	
	
<%- include('../../Partials/ScriptData') -%>
	
	</body>
</html>
