
<!doctype html>
<html lang="en">
<%- include('../../Partials/MetaData') -%>
<%- include('../../Partials/Print_Style') -%>
  <body >
	  

<%- include('../../Partials/NavBar') -%>
	  
	  
	  
    <div class="container noPrint">
  	  	  	  <%
        if(userData.length!=0){
        var Corection_Number=0;
	
        userData.forEach(function(data){
        %>
	  

      <div class="row " >
        
        <div class="col-md-10 mb-3" >
      <p id="collapsetext">
		  
		  




This form must be filled out by the employee at Oliver’s Market receiving Cook-Chill ROP soups and sauces produced at the commissary kitchen location. Proper label, shelf life status, and intact package seal must be confirmed upon receipt. Temperature for a representative sample from each batch of received product must be measured using a calibrated thermometer. Thermometer can be sandwiched between two packages to measure temperature or frozen status can be determined by sight/touch. Only HACCP trained employees may receive ingredients used in conjunction with the HACCP Program and Management will verify that employees are correctly receiving product through visual observation of receiving activities at least monthly. Retain this log for 90 days minimum past the most recent entry.<br><br>

<strong><u>Corrective Action:</strong></u> Cook-chilled packages must be discarded if labels are not present, shelf life has passed, packages were broken during transportation, or temperature of packages is >41ºF. 

		
			
			
			
			
			</p>
			
			<p id="collapsetext2" style="display:none" >Expand Instructions...</p>
			</div> 
		          
	
		  
		  <div class="col-md-2 mb-3">
			
  <button class= "btn btn-primary btn-lg Grey2" type="button" id="Up" style="display:Block" onclick="Hidetext()" >▲   

  </button>
			
				  
				  				  
  <button class= "btn btn-primary btn-lg Grey2" type="button" Id="Down" style="display:none"  onclick="Showtext()" >▼

  </button>
			</div>
		  
		    </div>
		
		
          <form class="needs-validation" action="../../Frontend/Dashboard" method="post">
			 <input id="Form_Name" name="Form_Name" type="hidden" value="Receiving_Stores">
			  <%- include('../../Partials/Global_Variables') -%>
			  <input id="Form_Title" name="Form_Title" type="hidden" value="Forms">
<input id="Form_Id" name="Id" type="hidden" value="<%=data.Id %>">	
		  
		 <div class="row">
              <div class="col-md-6 mb-3">
                <label for="Date">Date</label>
				  <p class="form-control"><%=data.Date %></p>
                <input type="hidden" class="form-control" id="Date" placeholder="" name="Date" value="<%=data.Date %>" >
                <div class="invalid-feedback">
                  Valid Date is .
                </div>
              </div>
					   
					   
              <div class="col-md-6 mb-3">
				 <label for="country">Store Location</label>
				  <p class="form-control"><%=data.store %></p>
                <input type="hidden" class="custom-select d-block w-100" id="country" name="FormStore" value="<%=data.store %>">
              </div>
					   
            </div>
			  
			  
			 
<!-------Time-------------------------------------------------------------------------------------------------------->
            <div class="row align-items-end">
              <div class="col-md-12 mb-3">
                <label for="Floor_Ground">Time</label>
				  <p class="form-control"><%=data.Column_1 %></p>
                  <input type="hidden" class="custom-select d-block w-100" id="Floor_Ground" onchange="Hide_Option_Floor_Ground()" name="Column_1" value="<%=data.Column_1 %>">
              </div>
          
			  
			  </div>
			  
			 
			  
 <!-- hidden Row --------------------------------------------------------------------------------------------------------->
	
			  			  	  <%
        if(userDataCor.length!=0){
        var T=1;
        userDataCor.forEach(function(dataCor){
        %>	  
			  
			  <div  id="Hide_Floor_Ground" style="display:none">
			  <div class="row"  >
				  
				  
				  
			  		<div class="col mb-3">	
			<label for="Action_Taken1">Corrective Action </label>
						<p class="form-control"><%=dataCor.Corection_1 %></p>
                <input type="hidden" class="form-control" name="Corection_1" id="Action_Floor_Ground" placeholder="" value="<%=dataCor.Corection_1 %>" >
			     </div>
				  
			
			  </div>
			  

	
	
              
			  
			  <div class="row"  >

				  
				  

				  
			<div class="col mb-3">	
	                <label for="Date_Floor_Ground">Date</label>
				<p class="form-control"><%=dataCor.Corection_2 %></p>
                <input type="hidden" class="form-control" name="Corection_2" id="Date_Floor_Ground" placeholder="" value="<%=dataCor.Corection_2 %>" >
			     </div>
			<div class="col mb-3">	
				<label for="Time_Floor_Ground">Time</label>
				<p class="form-control"><%=dataCor.Corection_3 %></p>
                <input type="hidden" class="form-control" name="Corection_3" id="Time_Floor_Ground" placeholder="" value="<%=dataCor.Corection_3 %>" >
			     </div>
				  				  	  			<div class="col mb-3">	
						<label for="Corrected_By_Floor_Ground">Corrected By</label>
													<p class="form-control"><%=dataCor.Corection_4 %></p>
                <input type="hidden" class="form-control" name="Corection_4" id="Corrected_By_Floor_Ground" placeholder="" value="<%=dataCor.Corection_4 %>" >
			     </div>
              </div> 
			
			  
</div>
			  
			  			  			  			          <%  T++; }) %>
        <% } else{ %>
            <tr>
                
            </tr>
        <% } %>
<!----------------------------------------------------------------------------------------------------------------------------------->


<!-------Delivery Driver-------------------------------------------------------------------------------------------------------->
            <div class="row align-items-end">
              <div class="col-md-12 mb-3">
                <label for="Pest">Delivery Driver</label>
				  <p class="form-control"><%=data.Column_2 %></p>
                  <input type="hidden" class="custom-select d-block w-100" id="Pest" onchange="Hide_Option_Pest()" name="Column_2" value="<%=data.Column_2 %>">

              </div>
          
			  
			  </div>
			  
			 
			  
 <!-- hidden Row --------------------------------------------------------------------------------------------------------->
			  			  	  <%
        if(userDataCor.length!=0){
        var T=1;
        userDataCor.forEach(function(dataCor){
        %>	  
			  
			  <div  id="Hide_Pest" style="display:none">
			  <div class="row"  >
				  
				  
				  
			  		<div class="col mb-3">	
			<label for="Action_Pest">Corrective Action </label>
						<p class="form-control"><%=dataCor.Corection_5 %></p>
                <input type="hidden" class="form-control" name="Corection_5" id="Action_Pest" placeholder="" value="<%=dataCor.Corection_5 %>" >
			     </div>
				  
			
			  </div>
			  

	
	
              
			  
			  <div class="row"  >

				  
				  

				  
			<div class="col mb-3">	
	                <label for="Date_Pest">Date</label>
				<p class="form-control"><%=dataCor.Corection_6 %></p>
                <input type="hidden" class="form-control" name="Corection_6" id="Date_Pest" placeholder="" value="<%=dataCor.Corection_6 %>" >
			     </div>
			<div class="col mb-3">	
				<label for="Time_Pest">Time</label>
				<p class="form-control"><%=dataCor.Corection_7 %></p>
                <input type="hidden" class="form-control" name="Corection_7" id="Time_Pest" placeholder="" value="<%=dataCor.Corection_7 %>" >
			     </div>
				  				  	  			<div class="col mb-3">	
						<label for="Corrected_Pest">Corrected By</label>
													<p class="form-control"><%=dataCor.Corection_8 %></p>
                <input type="hidden" class="form-control" name="Corection_8" id="Corrected_Pest" placeholder="" value="<%=dataCor.Corection_8 %>" >
			     </div>
              </div> 
			
			  
</div>
			  
			  			  			  			          <%  T++; }) %>
        <% } else{ %>
            <tr>
                
            </tr>
        <% } %>
<!----------------------------------------------------------------------------------------------------------------------------------->

			  
<!-------Labels Present & Accurate?-------------------------------------------------------------------------------------------------------->
            <div class="row align-items-end">
              <div class="col-md-12 mb-3">
                <label for="Debris">Labels Present & Accurate?</label>
				  <p class="form-control"><%=data.Column_3 %></p>
                  <input type="hidden" class="custom-select d-block w-100" id="Debris" onchange="Hide_Option_Debris()" name="Column_3" value="<%=data.Column_3 %>">

              </div>

          
			  
			  </div>
			  
			 
			  
 <!-- hidden Row --------------------------------------------------------------------------------------------------------->
						  			  	  <%
        if(userDataCor.length!=0){
        var T=1;
        userDataCor.forEach(function(dataCor){
        %>	  
			  
			  <div  id="Hide_Debris" style="display:none">
			  <div class="row"  >
				  
				  
				  
			  		<div class="col mb-3">	
			<label for="Action_Debris">Corrective Action </label>
						<p class="form-control"><%=dataCor.Corection_9 %></p>
                <input type="hidden" class="form-control" name="Corection_9" id="Action_Debris" placeholder="" value="<%=dataCor.Corection_9 %>" >
			     </div>
				  
			
			  </div>
			  

	
	
              
			  
			  <div class="row"  >

				  
				  

				  
			<div class="col mb-3">	
	                <label for="Date_Debris">Date</label>
				<p class="form-control"><%=dataCor.Corection_10 %></p>
                <input type="hidden" class="form-control" name="Corection_10" id="Date_Debris" placeholder="" value="<%=dataCor.Corection_10 %>" >
			     </div>
			<div class="col mb-3">	
				<label for="Time_Debris">Time</label>
				<p class="form-control"><%=dataCor.Corection_11 %></p>
                <input type="hidden" class="form-control" name="Corection_11" id="Time_Debris" placeholder="" value="<%=dataCor.Corection_11 %>" >
			     </div>
				  				  	  			<div class="col mb-3">	
						<label for="Corrected_Debris">Corrected By</label>
													<p class="form-control"><%=dataCor.Corection_12 %></p>
                <input type="hidden" class="form-control" name="Corection_12" id="Corrected_Debris" placeholder="" value="<%=dataCor.Corection_12 %>" >
			     </div>
              </div> 
			
			  
</div>
			  
			  			  			  			          <%  T++; }) %>
        <% } else{ %>
            <tr>
                
            </tr>
        <% } %>
<!----------------------------------------------------------------------------------------------------------------------------------->
  
 
<!-------Items Within Shelf-Life?-------------------------------------------------------------------------------------------------------->
            <div class="row align-items-end">
              <div class="col-md-12 mb-3">
                <label for="Covered">Items Within Shelf-Life?</label>
				  <p class="form-control"><%=data.Column_4 %></p>
                  <input type="hidden" class="custom-select d-block w-100" id="Covered" onchange="Hide_Option_Covered()" name="Column_4" value="<%=data.Column_4 %>">
              </div>
          
			  
			  </div>
			  
			 
			  
 <!-- hidden Row --------------------------------------------------------------------------------------------------------->
					  			  	  <%
        if(userDataCor.length!=0){
        var T=1;
        userDataCor.forEach(function(dataCor){
        %>	  
			  
			  <div  id="Hide_Covered" style="display:none">
			  <div class="row "  >
				  
				  
				  
			  		<div class="col mb-3">	
			<label for="Action_Covered">Corrective Action </label>
						<p class="form-control"><%=dataCor.Corection_13 %></p>
                <input type="hidden" class="form-control" name="Corection_13" id="Action_Covered" placeholder="" value="<%=dataCor.Corection_13 %>" >
			     </div>
				  
			
			  </div>
			  

	
	
              
			  
			  <div class="row"  >

				  
				  

				  
			<div class="col mb-3">	
	                <label for="Date_Covered">Date</label>
				<p class="form-control"><%=dataCor.Corection_14 %></p>
                <input type="hidden" class="form-control" name="Corection_14" id="Date_Covered" placeholder="" value="<%=dataCor.Corection_14 %>" >
			     </div>
			<div class="col mb-3">	
				<label for="Time_Covered">Time</label>
				<p class="form-control"><%=dataCor.Corection_15 %></p>
                <input type="hidden" class="form-control" name="Corection_15" id="Time_Covered" placeholder="" value="<%=dataCor.Corection_15 %>" >
			     </div>
				  				  	  			<div class="col mb-3">	
						<label for="Corrected_Covered">Corrected By</label>
													<p class="form-control"><%=dataCor.Corection_16 %></p>
                <input type="hidden" class="form-control" name="Corection_16" id="Corrected_Covered" placeholder="" value="<%=dataCor.Corection_16 %>" >
			     </div>
              </div> 
			
			  
</div>
			  
			  			  			  			          <%  T++; }) %>
        <% } else{ %>
            <tr>
                
            </tr>
        <% } %>
<!----------------------------------------------------------------------------------------------------------------------------------->
 
<!-------Packages Sealed & Intact?----------->
            <div class="row align-items-end">
              <div class="col-md-12 mb-3">
                <label for="Stored">Packages Sealed & Intact?</label>
				  <p class="form-control"><%=data.Column_5 %></p>
                  <input type="hidden" class="custom-select d-block w-100" id="Stored" onchange="Hide_Option_Stored()" name="Column_5" value="<%=data.Column_5 %>">

              </div>

          
			  
			  </div>
			  
			 
			  
 <!-- hidden Row --------------------------------------------------------------------------------------------------------->
			  			  			  	  <%
        if(userDataCor.length!=0){
        var T=1;
        userDataCor.forEach(function(dataCor){
        %>	  
			  
			  <div  id="Hide_Stored" style="display:none">
			  <div class="row"  >
				  
				  
				  
			  		<div class="col mb-3">	
			<label for="Action_Stored">Corrective Action </label>
						<p class="form-control"><%=dataCor.Corection_17 %></p>
                <input type="hidden" class="form-control" name="Corection_17" id="Action_Stored" placeholder="" value="<%=dataCor.Corection_17 %>" >
			     </div>
				  
			
			  </div>
			  

	
	
              
			  
			  <div class="row"  >

				  
				  

				  
			<div class="col mb-3">	
	                <label for="Date_Stored">Date</label>
				<p class="form-control"><%=dataCor.Corection_18 %></p>
                <input type="hidden" class="form-control" name="Corection_18" id="Date_Stored" placeholder="" value="<%=dataCor.Corection_18 %>" >
			     </div>
			<div class="col mb-3">	
				<label for="Time_Stored">Time</label>
				<p class="form-control"><%=dataCor.Corection_19 %></p>
                <input type="hidden" class="form-control" name="Corection_19" id="Time_Stored" placeholder="" value="<%=dataCor.Corection_19 %>" >
			     </div>
				  				  	  			<div class="col mb-3">	
						<label for="Corrected_Stored">Corrected By</label>
													<p class="form-control"><%=dataCor.Corection_20 %></p>
                <input type="hidden" class="form-control" name="Corection_20" id="Corrected_Stored" placeholder="" value="<%=dataCor.Corection_20 %>" >
			     </div>
              </div> 
			
			  
</div>
			  
			  			  			  			          <%  T++; }) %>
        <% } else{ %>
            <tr>
                
            </tr>
        <% } %>
<!-----------------------------------------------------------------------------------------------------------------------------------> 
			  
<!-------Receiving Temp. (ºF)----------->
            <div class="row align-items-end">
              <div class="col-md-12 mb-3">
                <label for="sanitized">Receiving Temp. (ºF)</label>
				  <p class="form-control"><%=data.Column_6 %></p>
                  <input type="hidden" class="custom-select d-block w-100" id="sanitized" onchange="Hide_Option_sanitized()" name="Column_6" value="<%=data.Column_6 %>">
              </div>

          
			  
			  </div>
			  
			 
			  
 <!-- hidden Row --------------------------------------------------------------------------------------------------------->
			  			  			  	  <%
        if(userDataCor.length!=0){
        var T=1;
        userDataCor.forEach(function(dataCor){
        %>	  
			  
			  <div  id="Hide_sanitized" style="display:none">
			  <div class="row"  >
				  
				  
				  
			  		<div class="col mb-3">	
			<label for="Action_sanitized">Corrective Action </label>
						<p class="form-control"><%=dataCor.Corection_21 %></p>
                <input type="hidden" class="form-control" name="Corection_21" id="Action_sanitized" placeholder="" value="<%=dataCor.Corection_21 %>" >
			     </div>
				  
			
			  </div>
			  

	
	
              
			  
			  <div class="row"  >

				  
				  

				  
			<div class="col mb-3">	
	                <label for="Date_sanitized">Date</label>
				<p class="form-control"><%=dataCor.Corection_22 %></p>
                <input type="hidden" class="form-control" name="Corection_22" id="Date_sanitized" placeholder="" value="<%=dataCor.Corection_22 %>" >
			     </div>
			<div class="col mb-3">	
				<label for="Time_sanitized">Time</label>
				<p class="form-control"><%=dataCor.Corection_23 %></p>
                <input type="hidden" class="form-control" name="Corection_23" id="Time_sanitized" placeholder="" value="<%=dataCor.Corection_23 %>" >
			     </div>
				  				  	  			<div class="col mb-3">	
						<label for="Corrected_sanitized">Corrected By</label>
													<p class="form-control"><%=dataCor.Corection_24 %></p>
                <input type="hidden" class="form-control" name="Corection_24" id="Corrected_sanitized" placeholder="" value="<%=dataCor.Corection_24 %>" >
			     </div>
              </div> 
			
			  
</div>
			  
			  			  			  			          <%  T++; }) %>
        <% } else{ %>
            <tr>
                
            </tr>
        <% } %>
<!-----------------------------------------------------------------------------------------------------------------------------------> 
			  
<!-------Corrective Action Necessary?----------->
            <div class="row align-items-end">
              <div class="col-md-12 mb-3">
                <label for="Trash">Corrective Action Necessary?</label>
				  <p class="form-control"><%=data.Column_7 %></p>
                  <input type="hidden" class="custom-select d-block w-100" id="Trash" onchange="Hide_Option_Trash()" name="Column_7" value="<%=data.Column_7 %>" >
              </div>

			  
			  </div>
			  
			 
			  
 <!-- hidden Row --------------------------------------------------------------------------------------------------------->
			  			  			  	  <%
        if(userDataCor.length!=0){
        var T=1;
        userDataCor.forEach(function(dataCor){
        %>	  
			  
			  <div  id="Hide_Trash" style="display:none">
			  <div class="row"  >
				  
				  
				  
			  		<div class="col mb-3">	
			<label for="Action_Trash">Corrective Action </label>
						<p class="form-control"><%=dataCor.Corection_25 %></p>
                <input type="hidden" class="form-control" name="Corection_25" id="Action_Trash" placeholder="" value="<%=dataCor.Corection_25 %>" >
			     </div>
				  
			
			  </div>
			  

	
	
              
			  
			  <div class="row"  >

				  
				  

				  
			<div class="col mb-3">	

                <input type="hidden" class="form-control" name="Corection_26" id="Date_Trash" placeholder="" value="<%=dataCor.Corection_26 %>" >
			 

                <input type="hidden" class="form-control" name="Corection_27" id="Time_Trash" placeholder="" value="<%=dataCor.Corection_27 %>" >

					
                <input type="hidden" class="form-control" name="Corection_28" id="Corrected_Trash" placeholder="" value="<%=dataCor.Corection_28 %>" >
			     </div>
              </div> 
			
			  
</div>
			  
			  			  			  			          <%  T++; }) %>
        <% } else{ %>
            <tr>
                
            </tr>
        <% } %>
<!-----------------------------------------------------------------------------------------------------------------------------------> 
	
			  
<!-------Receiver Initial----------->
            <div class="row align-items-end">
              <div class="col-md-12 mb-3">
                <label for="Health">Receiver Initial</label>
				  <p class="form-control"><%=data.Column_8 %></p>
                  <input type="hidden" class="custom-select d-block w-100" id="Health" onchange="Hide_Option_Health()" name="Column_8" value="<%=data.Column_8 %>">
              </div>

          
			  
			  </div>
			  
			 
<!--------------------------------------------------------------------------------------------------------------------------> 			  
 
	
				          <%  Corection_Number++; }) %>
        <% } else{ %>
            <tr>
                
            </tr>
        <% } %>		  
			  
<!---------------Bottom Buttons------------------------------------------------------------------------------------------------------> 
			  <br>
			  <hr class="mb-4">
			
			  			  <div class="row"  >

				  
				  

				  
			<div class="col mb-3">	
				
	                                      <button class="btn btn-primary btn-lg btn-block Grey2"  data-toggle="collapse" data-target="#Hide_row_Floor_Ground" type="submit">Dashboard</button>
					
			     </div>
		
				  				  	  			<div class="col mb-3">
													
													<div class="test">
						                       <button class="btn btn-primary btn-lg btn-block Grey2"  data-toggle="collapse" data-target="#Hide_row_Floor_Ground" 
											   type="button" 
											   onclick="window.print();return false;">Print</button>
														</div>
			     </div>
              </div> 
			  
          </form>
        
  
			  

    </div>
<%- include('../../Partials/Weekly_Processing_Print_Table') -%>
<%- include('../../Partials/ScriptDataOnLoad') -%>
	  
  </body>
</html>
