
<!doctype html>
<html lang="en">
<%- include('../../Partials/MetaData') -%>
<%- include('../../Partials/Print_Style') -%>
  <body >
	  

<%- include('../../Partials/NavBar') -%>
	  
	  
	  
    <div class="container noPrint">
  	  	  	  <%
        if(userData.length!=0){
        var Corection_Number=0;
	
        userData.forEach(function(data){
        %>
	  

      <div class="row " >
        
        <div class="col-md-10 mb-3" >
      <p id="collapsetext">
		  
		Calibration will be performed at least weekly. The employee will record the calibration check and any necessary corrective actions each time a thermometer is calibrated. Management will verify that employees are using and calibrating thermometers correctly through visual observation of calibration activities at least monthly. Retain this log for 2 years minimum  <br><br>
		  
		  <strong>How to Calibrate a Thermometer</strong><br><br>

1.	Fill a container with ice (crushed ice works best) and add water. There should be more ice than water.<br>
2.	Place the thermometer in the water so it is submerged past the indication on the stem (the indent). For infrared thermometers, point at the surface of the water.<br> 
3.	Wait at least 1 minute for the thermometer to adjust.<br>
4.	Read the thermometer and record the temperature.<br>
&nbsp;&nbsp;&nbsp;&nbsp;a.	If thermometer reads 32°F +/- 2°F thermometer is calibrated. If not, adjustment is necessary.
</p>
			
			<p id="collapsetext2" style="display:none" >Expand Instructions...</p>
			</div> 
		          
	
		  
		  <div class="col-md-2 mb-3">
			
  <button class= "btn btn-primary btn-lg Grey2" type="button" id="Up" style="display:Block" onclick="Hidetext()" >▲   

  </button>
			
				  
				  				  
  <button class= "btn btn-primary btn-lg Grey2" type="button" Id="Down" style="display:none"  onclick="Showtext()" >▼

  </button>
			</div>
		  
		    </div>
		
		
          <form class="needs-validation" action="/data_update" method="post">
			 <input id="Form_Name" name="Form_Name" type="hidden" value="Thermometer_Calibration">
			  <%- include('../../Partials/Global_Variables') -%>
			  <input id="Form_Title" name="Form_Title" type="hidden" value="Forms">
<input id="Form_Id" name="Id" type="hidden" value="<%=data.Id %>">	
		  
		 <div class="row">
              <div class="col-md-6 mb-3">
                <label for="Date">Date</label>
                <input type="Date" class="form-control" id="Date" placeholder="" name="Date" value="<%=data.Date %>" >
                <div class="invalid-feedback">
                  Valid Date is .
                </div>
              </div>
					   
					   
              <div class="col-md-6 mb-3">
				  				  				                  <label for="country">Store Location</label>
                <select class="custom-select d-block w-100" id="country" name="FormStore" required>
                 <option value="<%=data.store %>"><%=data.store %></option>
                  <option value="Cotati">Cotati</option>
					<option value="Montecito">Montecito</option>
					<option value="Stony Point">Stony Point</option>
					<option value="Windsor">Windsor</option>
                </select>
                <div class="invalid-feedback">
                  Please select a valid Store.
          
              </div>
              </div>
					   
            </div>
			  
<!----------------------------------------------------------------------------------------------------------------------------------->
			  			  
<!-------Thermometer Type -------------------------------------------------------------------------------------------------------->
            <div class="row align-items-end">
              <div class="col-md-12 mb-3">
                <label for="Pest">Thermometer Type </label>
                  <select class="custom-select d-block w-100" id="Debris" onchange="Hide_Option_Debris()" name="Column_3">
                  <option value="<%=data.Column_3 %>"><%=data.Column_3 %></option>
                    <option Value="Digital">Digital</option>
					<option Value="Analog">Analog</option>
		            <option Value="Infrared">Infrared</option>
                </select>
				         <div class="invalid-feedback">
                  Please select a valid Condition.
                </div>
              </div>

          
			  
			  </div>
			  
			 
			  
 <!-- hidden Row --------------------------------------------------------------------------------------------------------->
						  			  	  <%
        if(userDataCor.length!=0){
        var T=1;
        userDataCor.forEach(function(dataCor){
        %>	  
			  
			  <div  id="Hide_Debris" style="display:none">
			  <div class="row"  >
				  
				  
				  
			  		<div class="col mb-3">	
			<label for="Action_Debris">Corrective Action </label>
                <input type="text" class="form-control" name="Corection_9" id="Action_Debris" placeholder="" value="<%=dataCor.Corection_9 %>" >
			     </div>
				  
			
			  </div>
			  

	
	
              
			  
			  <div class="row"  >

				  
				  

				  
			<div class="col mb-3">	
	                <label for="Date_Debris">Date</label>
                <input type="Date" class="form-control" name="Corection_10" id="Date_Debris" placeholder="" value="<%=dataCor.Corection_10 %>" >
			     </div>
			<div class="col mb-3">	
				<label for="Time_Debris">Time</label>
                <input type="time" class="form-control" name="Corection_11" id="Time_Debris" placeholder="" value="<%=dataCor.Corection_11 %>" >
			     </div>
				  				  	  			<div class="col mb-3">	
						<label for="Corrected_Debris">Corrected By</label>
                <input type="text" class="form-control" name="Corection_12" id="Corrected_Debris" placeholder="" value="<%=dataCor.Corection_12 %>" >
			     </div>
              </div> 
			
			  
</div>
			  
			  			  			  			          <%  T++; }) %>
        <% } else{ %>
            <tr>
                
            </tr>
        <% } %>
<!----------------------------------------------------------------------------------------------------------------------------------->
  
 
<!-------Temperature Reading-------------------------------------------------------------------------------------------------------->
            <div class="row align-items-end">
              <div class="col-md-12 mb-3">
                <label for="Debris">Temperature Reading</label>
                  <select class="custom-select d-block w-100" id="Covered" onchange="Hide_Option_Covered()" name="Column_4">
                  <option value="<%=data.Column_4 %>"><%=data.Column_4 %></option>
                    <option Value="A">Acceptable</option>
					<option Value="R">Rejected</option>
                </select>
				         <div class="invalid-feedback">
                  Please select a valid Condition.
                </div>
              </div>
          
			  
			  </div>
			  
			  
<!-----------------------------------------------------------------------------------------------------------------------------------> 
			  
<!-------Corrective Action Needed?----------->
            <div class="row align-items-end">
              <div class="col-md-12 mb-3">
                <label for="Stored">Corrective Action Needed?</label>
                  <select class="custom-select d-block w-100" id="sanitized" onchange="Hide_Option_sanitized()" name="Column_5">
                  <option value="<%=data.Column_5 %>"><%=data.Column_5 %></option>
                    <option Value="A">Acceptable</option>
					<option Value="R">Rejected</option>
                </select>
				         <div class="invalid-feedback">
                  Please select a valid Condition.
                </div>
              </div>

          
			  
			  </div>
			  
			 
			  
 <!-- hidden Row --------------------------------------------------------------------------------------------------------->
			  			  			  	  <%
        if(userDataCor.length!=0){
        var T=1;
        userDataCor.forEach(function(dataCor){
        %>	  
			  
			  <div  id="Hide_sanitized" style="display:none">
			  <div class="row"  >
				  
				  
				  
			  		<div class="col mb-3">	
			<label for="Action_sanitized">Corrective Action </label>
                <input type="text" class="form-control" name="Corection_21" id="Action_sanitized" placeholder="" value="<%=dataCor.Corection_21 %>" >
			     </div>
				  
			
			  </div>
			  

	
	
              
			  
			  <div class="row"  >

				  
				  

				  
			<div class="col mb-3">	
	           
                <input type="hidden" class="form-control" name="Corection_22" id="Date_sanitized" placeholder="" value="<%=dataCor.Corection_22 %>" >

                <input type="hidden" class="form-control" name="Corection_23" id="Time_sanitized" placeholder="" value="<%=dataCor.Corection_23 %>" >

                <input type="hidden" class="form-control" name="Corection_24" id="Corrected_sanitized" placeholder="" value="<%=dataCor.Corection_24 %>" >
			     </div>
              </div> 
			
			  
</div>
			  
			  			  			  			          <%  T++; }) %>
        <% } else{ %>
            <tr>
                
            </tr>
        <% } %>
<!-----------------------------------------------------------------------------------------------------------------------------------> 
			  
<!-------Initial-------------------------------------------------------------------------------------------------------->
			  <label for="Covered">Initial</label>
<input type="text" class= "form-control" id="Trash" onchange="Hide_Option_Trash()" name="Column_6" value="<%=data.Column_6 %>">
				         <div class="invalid-feedback">
                  Please select a valid Condition.
                </div>
              </div>

			  
			  </div>
			  
			 
<!--------------------------------------------------------------------------------------------------------------------------> 
 
	
				          <%  Corection_Number++; }) %>
        <% } else{ %>
            <tr>
                
            </tr>
        <% } %>		  
			  
<!---------------Bottom Buttons------------------------------------------------------------------------------------------------------> 
			  <br>
			  <hr class="mb-4">
			
			  			  <div class="row"  >
							  
<%- include('../../Partials/Bottom_Buttons') -%>
							  
              </div> 
			  
      
			  
			  
			           <div class="row"  >
            <div class="col mb-3">	
            
           
            <button class="btn btn-primary btn-lg btn-block Green_Button" type="submit">Save</button>
				
				   </div> 
			   </div> 
			  
          </form>
        
  
			  

    </div>
<%- include('../../Partials/Weekly_Processing_Print_Table') -%>
<%- include('../../Partials/Excel_Export') -%>
<%- include('../../Partials/ScriptDataOnLoad') -%>
	  
  </body>
</html>
