<!DOCTYPE html>
<html lang="en">
	
<%- include('../Partials/MetaData') -%>

<body>

	<%- include('../Partials/NavBar') -%>
	<br>
	 <p class="bg-Grey content_continter2" >&nbsp; Welcome <%=userName %></p>
	<div class="container content_continter">
		
		       
		
<div class="row Colum_Properties" >
	
	
<div class="col d-flex justify-content-center"  >
<form action="../Frontend/Packing_Form_New" method="post">
	 <%- include('../Partials/Global_Variables') -%>
	<input id="Form_Title1" name="Form_Title" type="hidden" value="Packing">
	<button  Id= "Button_1" class="Form_Buttons mt-5 Pink Packing Button_Index2"  type="submit"  ></button>
	<P  Id= "Button_13" class=" Form_text Button_Index1" name="Var7">Packing</P>
    </form>	 
    </div>
								
<div class="col d-flex justify-content-center" >
<form action="../Frontend/Processing_Form_New" method="post">
	 <%- include('../Partials/Global_Variables') -%>
	<input id="Form_Title2" name="Form_Title" type="hidden" value="Processing">
	<button  Id= "Button_2" class="Form_Buttons mt-5 Purple Processing" type="submit" ></button>
	<P  Id= "Button_13" class=" Form_text Button_Index1" name="Var7">Processing</P>	
    </form>	  
</div>
								
<div class="col d-flex justify-content-center" >
<form action="../Frontend/Cold_Rooms_Form_New" method="post">
	 <%- include('../Partials/Global_Variables') -%>
	<input id="Form_Title3" name="Form_Title" type="hidden" value="Cold Rooms">
	<button  Id= "Button_3" class="Form_Buttons mt-5 Orange Cold_Room" name="Var7" type="submit" value="$Actual_Id" ></button>
	<P  Id= "Button_13" class=" Form_text Button_Index1" name="Var7">Cold <br>Rooms</P>	
    </form>	 
</div>
										
				
  </div>
		

		<div class="row " >
	
	
<div class="col  d-flex justify-content-center"   >
<form action="../Frontend/Thermometer_Calibration_Form_New" method="post">
	 <%- include('../Partials/Global_Variables') -%>
	<input id="Form_Title4" name="Form_Title" type="hidden" value="Thermometer Calibration">
	<button  Id= "Button_4" class="Form_Buttons mt-5 Green Thermometer" name="Var7" type="submit" value="$Actual_Id" ></button>
	<P  Id= "Button_13" class=" Form_text Button_Index1" name="Var7">Thermometer Calibration</P>
    </form>	 
    </div>
								
<div class="col d-flex justify-content-center" >
<form action="../Frontend/Raw_Product_Form_New" method="post">
	 <%- include('../Partials/Global_Variables') -%>
	<input id="Form_Title5" name="Form_Title" type="hidden" value="Raw Product">
	<button  Id= "Button_5" class="Form_Buttons mt-5 Yellow Raw_Product" name="Var7" type="submit" value="$Actual_Id" ></button>
	<P  Id= "Button_13" class=" Form_text Button_Index1" name="Var7">Raw <br>Product</P>	
    </form>	  
</div>
								
<div class="col d-flex justify-content-center" >
<form action="../Frontend/Cooler_Form_New" method="post" >
	 <%- include('../Partials/Global_Variables') -%>
	<input id="Form_Title6" name="Form_Title" type="hidden" value="Cooler">
	<button  Id= "Button_6" class="Form_Buttons mt-5 Green2 Cooler" type="submit"  ></button>
	<P  Id= "Button_13" class=" Form_text Button_Index1" name="Var7">Cooler</P>
    </form>	 
</div>
										
				
  </div>
		
		
		<div class="row " >
	
	
<div class="col d-flex justify-content-center"  >
<form action="../Frontend/Incoming_Materials_Form_New" method="post">
	  <%- include('../Partials/Global_Variables') -%>
	<input id="Form_Title7" name="Form_Title" type="hidden" value="Incoming Materials">
	<button  Id= "Button_7" class="Form_Buttons mt-5 Incoming_Materials Blue" name="Var7" type="submit" value="$Actual_Id" ></button>
	<P  Id= "Button_13" class=" Form_text Button_Index1" name="Var7">Incoming Materials</P>	
    </form>	 
    </div>
								
<div class="col d-flex justify-content-center" >
<form action="../Frontend/Brittle_Plastics_Form_New" method="post">
	  <%- include('../Partials/Global_Variables') -%>
	<input id="Form_Title8" name="Form_Title" type="hidden" value="Glass/Brittle Plastics">
	<button  Id= "Button_8" class="Form_Buttons mt-5 Brittle_Plastics Blue2" name="Var7" type="submit"  
			></button>
	<P  Id= "Button_13" class=" Form_text Button_Index1" name="Var7">Glass/<br>Plastics </P>	
    </form>	  
</div>
								
<div class="col d-flex justify-content-center" >
<form action="../Frontend/Dashboard2" method="post">
	  <%- include('../Partials/Global_Variables') -%>
	<input id="Form_Title9" name="Form_Title" type="hidden" value="Forms">
	<button  Id= "Button_9" class="Form_Buttons mt-5 Next_Button Red" name="Var7" type="submit" value="$Actual_Id" ></button>
	<P  Id= "Button_13" class=" Form_text Button_Index1" name="Var7">Next<br>Page </P>	
    </form>	 
</div>
										
				
  </div>
		
		
	
		
	

		
<!-- Blank Row --> 
			<div class="row" >
			
		<div class="col d-flex justify-content-center mt-5"  >

	</div>
		
				<div class="col d-flex justify-content-center mt-5"   >
		</div>
		</div>
		
		
		<!-- Blank Row --> 
			<div class="row" >
			
		<div class="col d-flex justify-content-center mt-5"  >

	</div>
		
				<div class="col d-flex justify-content-center mt-5"   >
		</div>
		</div>
		
		
		
		<!-- Blank Row --> 
			<div class="row" >
			
		<div class="col d-flex justify-content-center mt-5"  >

	</div>
		
				<div class="col d-flex justify-content-center mt-5"   >
		</div>
		</div>
		

				
</div>
		
<!-- Bottom Buttons --> 
		<div class="row fixed-bottom" >
              <div class="col mb-3">
				  
				  <form action="../Frontend/Previous_Form_Selection" class="button_height" method="post">
					    <%- include('../Partials/Global_Variables') -%>
					  <input id="Form_Title13" name="Form_Title" type="hidden" value="Previous Forms">
					  <br>
					  
                       <button class="btn btn-block btn-primary btn-lg Light_Green_Button button_height "  data-toggle="collapse" data-target="#Hide_Stored" type="submit">Previous Forms</button>
					  </form>
      
              </div>
		
              <div class="col  mb-3">
				 
				  <form action="../Frontend/Reports" class="button_height" method="post">
					    <%- include('../Partials/Global_Variables') -%>
					  <input id="Form_Title14" name="Form_Title" type="hidden" value="Reports">
					<br>
                       <button class="btn btn-block btn-primary btn-lg button_height Green_Button"  data-toggle="collapse" data-target="#Hide_Stored" type="submit">Reports</button>
       </form>
              </div>
		
		
	</div>
	
	

	
	</body>
</html>
