<!DOCTYPE html>
<html lang="en">
<%- include('../Partials/MetaData') -%>


<body>
<%- include('../Partials/NavBar') -%>
			    
	
	
	<div class="container">

   
        
<!-- Edit----------------------------------------------------------------------------------------------------------------> 	
		
			<%
        if(userData.length!=0){
        var T=1;
        userData.forEach(function(data){
        %>

		<form class="needs-validation" action="/Frontend/List_Update" method="post">
			  <%- include('../Partials/Global_Variables') -%>
			<input id="Id_Value" name="Id" type="hidden" value="<%=data.Id %>">
			<input id="Save" name="Type" type="hidden" value="<%=formName %>">
			<input id="Form_Title" name="Form_Title" type="hidden" value="<%=formName %>">
           			<div class="row " >
				
		
								<div class="col"  >
										<br>
										<br>
			
						<label for="Item">Name</label>
               <input type="text" class="form-control" id="Item" Name="Name" Value="<%=data.Name %>">
	</div>
	</div>
					
						
					<div class="row " >		
			<div class="col mb-3"  >
			
	<br>
        <button Class="btn btn-primary btn-lg btn-block Grey2" Id= "the_Cancel_Button" type="submit" value="$Actual_Id" > Save</button>		
		</form>	
				</div>
						
				<div class="col mb-3"  >		
				<form class="needs-validation" action="/Frontend/List_Edit" method="post">	
					  <%- include('../Partials/Global_Variables') -%>
				<input id="Cancel" name="Type" type="hidden" value="<%=formName %>">
					<input id="Form_Title2" name="Form_Title" type="hidden" value="<%=formName %>">
		<br>
        <button Class="btn btn-primary btn-lg btn-block Grey2" Id= "the_Save_Button" type="submit" value="$Actual_Id" > Cancel</button>		
		</form>	
			</div>
						
					
						
						
</div>
		
			          <%  T++; }) %>
        <% } 
		
		else{ %>

        <% } %>			
		
	

		
<!-- Bottom Buttons --> 
		<div class="row" >
              <div class="col mb-3">
				  
				  <form action="../Frontend/Dashboard" class="button_height" method="post">
					    <input id="username1" name="username" type="hidden" value="<%=userName %>">
					  <input id="Form_Title13" name="Form_Title" type="hidden" value="Forms">
					  <br>
                       <button class="btn btn-block btn-primary btn-lg Light_Green_Button button_height "  data-toggle="collapse" data-target="#Hide_Stored" type="submit">Dashboard</button>
					  </form>
      
              </div>
		
              <div class="col  mb-3">
				 
				  <form action="../Frontend/Reports" class="button_height" method="post">
					    <%- include('../Partials/Global_Variables') -%>
					  <input id="Form_Title14" name="Form_Title" type="hidden" value="Reports">
					   <br>
                       <button class="btn btn-block btn-primary btn-lg button_height  Green_Button"  data-toggle="collapse" data-target="#Hide_Stored" type="submit">Reports</button>
       </form>
              </div>
		
		
	</div>
		
	</div>
	
	
	</body>
</html>
