<!DOCTYPE html>
<html lang="en">
<%- include('../Partials/MetaData') -%>


<body>
<%- include('../Partials/NavBar') -%>
			    
	
	


   
<!---------------------------------------------------------------------------------------------------------------------->    

		<div class="container">
			
<form class="needs-validation" action="/Frontend/List_Edit" method="post">
	<%- include('../Partials/Global_Variables') -%>
				<input id="Name" name="Type" type="hidden" value="<%=formName %>">
				<input id="Form_Title" name="Form_Title" type="hidden" value="<%=formName %>">
										<div class="row " >
			
							
								<div class="col"  >
					<br>
										<br>
										
										<label for="Dept">Department</label>
                                <select class="custom-select d-block w-100" id="Dept" onchange="this.form.submit()" name="DeptLocation" > 
						<option Value="<%=SelectedDept %>"><%=SelectedDept %></option>			
                    <option Value="Cheese">Cheese</option>
					<option Value="Deli">Deli</option>
					<option Value="Meat">Meat</option>
                </select>
				</div>
								
							<div class="col"  >
					<br>
										<br>
										
										<label for="Dept">Location</label>
                                <select class="custom-select d-block w-100" id="Dept"  onchange="this.form.submit()" name="StoreLocation" > 
						<option Value="<%=SelectedStore %>"><%=SelectedStore %></option>
				    <option Value="All">All</option>
                    <option Value="Cotati">Cotati</option>
					<option Value="Montecito">Montecito</option>
					<option Value="Stony Point">Stony Point</option>
					<option Value="Windsor">Windsor</option>
                </select>
				</div>
								
								</div>
	
	
	
	
	
			
			</form>
			
			<form class="needs-validation" action="/List" method="post">
				  <%- include('../Partials/Global_Variables') -%>
			<input id="Name" name="Type" type="hidden" value="<%=formName %>">
				<input id="Form_Title" name="Form_Title" type="hidden" value="<%=formName %>">
           			<input id="Department" name="DeptLocation" type="hidden" value="<%=SelectedDept %>">
				<input id="Store" name="StoreLocation" type="hidden" value="<%=SelectedStore %>">

				
				<div class="row " >
			
							
								<div class="col"  >
										<br>
										<br>
						<label for="Item">Enter New Item</label>
               <input type="text" class="form-control" id="Item" Name="Name">
	</div>
						
								<div class="col"  >
									
										<br>
										<br>
										<br>
		
				     <button Class="btn btn-primary btn-lg btn-block Grey2" Id= "the_Add_Button" type="submit" >Add</button>
	</div>


			</form>
	
						
</div>
		
		</div>	
			
<!----------------------------------------------------------------------------------------------------------------------> 			
	
	
	
	
	
	
	<div class="container">

   
        
        <%
        if(userData.length!=0){
        var i=1;
        userData.forEach(function(data){
        %>
		
		
		
           			<div class="row " >
			

			<div class="col-lg-auto"  >
				<br>
					<br>
			<label for="Number_selection"><%=formName %></label>
                <p class="form-control" id="Number_selection" ><%=i; %></p>
	</div>
			
	
						
								<div class="col-lg"  >
										<br>
										<br>
						<label for="Date_selection">Name</label>
                <p class="form-control" id="Name_selection" ><%=data.Name %></p>
	</div>
						
														<div class="col-lg"  >
										<br>
										<br>
						<label for="Date_selection">Location</label>
                <p class="form-control" id="Location_selection" ><%=data.Location %></p>
	</div>
						
								<div class="col"  >
									
										<br>
										<br>
										<br>
			<form class="needs-validation" action="/Frontend/List_Edit_Item" method="post">
				  <%- include('../Partials/Global_Variables') -%>
					<input id="Id_Value" name="Id" type="hidden" value="<%=data.Id %>">
					<input id="Name_Form_Delete" name="Type" type="hidden" value="<%=formName %>">
				<input id="Form_Title2" name="Form_Title" type="hidden" value="<%=formName %>">
				<input id="Department" name="DeptLocation" type="hidden" value="<%=SelectedDept %>">
				<input id="Store" name="StoreLocation" type="hidden" value="<%=SelectedStore %>">
				     <button Class="btn btn-primary btn-lg btn-block Grey" Id= "the_Edit_Button" type="submit" value="$Actual_Id" > Edit</button>
				</form>
	</div>
									<div class="col"  >
								
										<br>
										<br>
										<br>
										<form class="needs-validation" action="/Frontend/List_Delete" method="post">
											  <%- include('../Partials/Global_Variables') -%>
											<input id="Id_Value" name="Id" type="hidden" value="<%=data.Id %>">
											<input id="Name_Form_Delete2" name="Type" type="hidden" value="<%=formName %>">
											<input id="Form_Title3" name="Form_Title" type="hidden" value="<%=formName %>">
											<input id="Department" name="DeptLocation" type="hidden" value="<%=SelectedDept %>">
											<input id="Store" name="StoreLocation" type="hidden" value="<%=SelectedStore %>">
        <button Class="btn btn-primary btn-lg btn-block Grey" Id= "the_Edit_Buttonw" type="submit" value="$Actual_Id" > Delete</button>
											</form>
</div>

			
	
						
</div>
			
			

        <%  i++; }) %>
        <% } else{ %>
           			<div class="row" >
			
		<div class="col d-flex justify-content-center mt-5"  >
			<p>No Data Found</p>
	</div>
		
	
		</div>
              
            
        <% } %>
 
		
	
		
		
		
		<!-- Bkank Row --> 
			<div class="row" >
			
		<div class="col d-flex justify-content-center mt-5"  >

	</div>
		
				<div class="col d-flex justify-content-center mt-5"   >
		</div>
		</div>
		
		
		
		<!-- Bkank Row --> 
			<div class="row" >
			
		<div class="col d-flex justify-content-center mt-5"  >

	</div>
		
				<div class="col d-flex justify-content-center mt-5"   >
		</div>
		</div>
		
					<!-- Bkank Row --> 
			<div class="row" >
			
		<div class="col d-flex justify-content-center mt-5"  >

	</div>
		
				<div class="col d-flex justify-content-center mt-5"   >
		</div>
		</div>
				

		
<!-- Bottom Buttons --> 
		<div class="row fixed-bottom" >
              <div class="col mb-3">
				  
				  <form action="../Frontend/Dashboard" class="button_height" method="post">
					  <%- include('../Partials/Global_Variables') -%>
					  <input id="Form_Title13" name="Form_Title" type="hidden" value="Forms">
					  <br>
                       <button class="btn btn-block btn-primary btn-lg Light_Green_Button button_height "  data-toggle="collapse" data-target="#Hide_Stored" type="submit">Dashboard</button>
					  </form>
      
              </div>
		
              <div class="col  mb-3">
				 
				  <form action="../Frontend/Reports" class="button_height" method="post">
					    <%- include('../Partials/Global_Variables') -%>
					  <input id="Form_Title14" name="Form_Title" type="hidden" value="Reports">
					   <br>
                       <button class="btn btn-block btn-primary btn-lg button_height  Green_Button"  data-toggle="collapse" data-target="#Hide_Stored" type="submit">Reports</button>
       </form>
              </div>
		
		
	</div>
		
	</div>
	
	
	</body>
</html>
