
<!doctype html>
<html lang="en">
<%- include('../Partials/MetaData') -%>

  <body  >

	  
	  <%- include('../Partials/NavBar') -%>
	  
	  	  <%
        if(userData.length!=0){
        var i=1;
        userData.forEach(function(data){
        %>
	 	  

	  
    <div class="container">
  

      <div class="row">
        
        <div class="col-md-12 order-md-1">	
      <p>Please select “Acceptable” if condition is acceptable. Select “Rejected” if condition is rejected AND record corrective actions taken, by whom and the date and time correction was completed.</p>
			</div> 
		    </div>
		
		
          <form class="needs-validation" action="/data" method="post">
			    <input id="username" name="username" type="hidden" value=<%=userName %>>
<input id="Form_Name" name="Form_Name" type="hidden" value="Packing">
	<input id="Form_Title" name="Form_Title" type="hidden" value="Forms">		  





			  

		  
		 <div class="row">
              <div class="col-md-6 mb-3">
                <label for="Date">Date</label>
                <input type="Date" class="form-control" id="Date" name="Date" value="<%=data.Date %>" >
                <div class="invalid-feedback">
                  Valid Date is .
                </div>
              </div>
					   
					   
              <div class="col-md-6 mb-3">
              </div>
					   
            </div>
			  
			  
			 
<!-------Floors/grounds clean and free of trash.-------------------------------------------------------------------------------------------------------->
            <div class="row align-items-end">
              <div class="col-md-12 mb-3">
                <label for="Floor_Ground">Floors/grounds clean and free of trash</label>
                  <select class="custom-select d-block w-100" id="Floor_Ground" onchange="Hide_Option_Floor_Ground()" name="Column_1"  >
                  <option value="<%=data.Column_1 %>"><%=data.Column_1 %></option>
                  <option Value="A" name="Column_1">Acceptable</option>
					<option Value="R" name="Column_1">Rejected</option>
                </select>
				         <div class="invalid-feedback">
                  Please select a valid Condition.
                </div>
              </div>
          
			  
			  </div>
			  
			 
			  
 <!-- hidden Row --------------------------------------------------------------------------------------------------------->
			  
			  <div  id="Hide_Floor_Ground" style="display:none">
			  <div class="row">
				  
				  
				  
			  		<div class="col mb-3">	
			<label for="Action_Taken1">Corrective Action </label>
                <input type="text" class="form-control" id="Action_Taken_Floor_Ground" placeholder="" value="" >
			     </div>
				  
			
			  </div>
			  

	
	
              
			  
			  <div class="row"  >

				  
				  

				  
			<div class="col mb-3">	
	                <label for="Date_Floor_Ground">Date</label>
                <input type="Date" class="form-control" id="Date_Floor_Ground" placeholder="" value="" >
			     </div>
			<div class="colmb-3">	
				<label for="Time_Floor_Ground">Time</label>
                <input type="time" class="form-control" id="Time_Floor_Ground" placeholder="" value="" >
			     </div>
				  				  	  			<div class="col mb-3">	
						<label for="Corrected_By_Floor_Ground">Corrected By</label>
                <input type="text" class="form-control" id="Corrected_By_Floor_Ground" placeholder="" value="" >
			     </div>
              </div> 
			
			  
</div>
<!----------------------------------------------------------------------------------------------------------------------------------->


<!-------Area free of pest activity-------------------------------------------------------------------------------------------------------->
            <div class="row align-items-end">
              <div class="col-md-12 mb-3">
                <label for="Pest">Area free of pest activity</label>
                  <select class="custom-select d-block w-100" id="Pest" onchange="Hide_Option_Pest()"  name="Column_2" >
                  <option value="<%=data.Column_2 %>"><%=data.Column_2 %></option>
                  <option Value="A" name="Column_2">Acceptable</option>
					<option Value="R" name="Column_2">Rejected</option>
                </select>
				         <div class="invalid-feedback">
                  Please select a valid Condition.
                </div>
              </div>
          
			  
			  </div>
			  
			 
			  
 <!-- hidden Row --------------------------------------------------------------------------------------------------------->
			  
			  <div  id="Hide_Pest" style="display:none">
			  <div class="row"  >
				  
				  
				  
			  		<div class="col mb-3">	
			<label for="Action_Pest">Corrective Action </label>
                <input type="text" class="form-control" id="Action_Pest" placeholder="" value="" >
			     </div>
				  
			
			  </div>
			  

	
	
              
			  
			  <div class="row"  >

				  
				  

				  
			<div class="col mb-3">	
	                <label for="Date_Pest">Date</label>
                <input type="Date" class="form-control" id="Date_Pest" placeholder="" value="" >
			     </div>
			<div class="colmb-3">	
				<label for="Time_Pest">Time</label>
                <input type="time" class="form-control" id="Time_Pest" placeholder="" value="" >
			     </div>
				  				  	  			<div class="col mb-3">	
						<label for="Corrected_Pest">Corrected By</label>
                <input type="text" class="form-control" id="Corrected_Pest" placeholder="" value="" >
			     </div>
              </div> 
			
			  
</div>
<!----------------------------------------------------------------------------------------------------------------------------------->

			  
<!-------All packing material free of debris/insects under shroud-------------------------------------------------------------------------------------------------------->
            <div class="row align-items-end">
              <div class="col-md-12 mb-3">
                <label for="Debris">All packing material free of debris/insects under shroud</label>
                  <select class="custom-select d-block w-100" id="Debris" onchange="Hide_Option_Debris()" name="Column_3" >
                  <option value="<%=data.Column_3 %>"><%=data.Column_3 %></option>
                  <option Value="A" name="Column_3">Acceptable</option>
					<option Value="R" name="Column_3">Rejected</option>
                </select>
				         <div class="invalid-feedback">
                  Please select a valid Condition.
                </div>
              </div>
     
          
			  
			  </div>
			  
			 
			  
 <!-- hidden Row --------------------------------------------------------------------------------------------------------->
			  
			  <div  id="Hide_Debris" style="display:none">
			  <div class="row"  >
				  
				  
				  
			  		<div class="col mb-3">	
			<label for="Action_Debris">Corrective Action </label>
                <input type="text" class="form-control" id="Action_Debris" placeholder="" value="" >
			     </div>
				  
			
			  </div>
			  

	
	
              
			  
			  <div class="row"  >

				  
				  

				  
			<div class="col mb-3">	
	                <label for="Date_Debris">Date</label>
                <input type="Date" class="form-control" id="Date_Debris" placeholder="" value="" >
			     </div>
			<div class="colmb-3">	
				<label for="Time_Debris">Time</label>
                <input type="time" class="form-control" id="Time_Debris" placeholder="" value="" >
			     </div>
				  				  	  			<div class="col mb-3">	
						<label for="Corrected_Debris">Corrected By</label>
                <input type="text" class="form-control" id="Corrected_Debris" placeholder="" value="" >
			     </div>
              </div> 
			
			  
</div>
<!----------------------------------------------------------------------------------------------------------------------------------->
  
 
<!-------All packing material are covered when not in use to prevent contamination-------------------------------------------------------------------------------------------------------->
         	  	 
			
			  
			  <div class="row align-items-end">
              <div class="col-md-12 mb-3">
                <label for="Covered">All packing material are covered when not in use to prevent contamination</label>
                  <select class="custom-select d-block w-100" id="Covered" onchange="Hide_Option_Covered()" name="Column_4" >
                  <option value="<%=data.Column_4 %>" id="CoveredT"><%=data.Column_4 %></option>
                  <option Value="A" name="Column_4">Acceptable</option>
					<option Value="R" name="Column_4">Rejected</option>
                </select>
				         <div class="invalid-feedback">
                  Please select a valid Condition.
                </div>
              </div>
              <div class="col-md-6 mb-3">
			
	
      
              </div>
          
			  
			  </div>
			  
			 
			  
 <!-- hidden Row --------------------------------------------------------------------------------------------------------->
			  
			  <div  id="Hide_Covered" style="display:none">
			  <div class="row "  >
				  
				  
				  
			  		<div class="col mb-3">	
			<label for="Action_Covered">Corrective Action </label>
                <input type="text" class="form-control" id="Action_Covered" placeholder="" value="" >
			     </div>
				  
			
			  </div>
			  

	
	
              
			  
			  <div class="row"  >

				  
				  

				  
			<div class="col mb-3">	
	                <label for="Date_Covered">Date</label>
                <input type="Date" class="form-control" id="Date_Covered" placeholder="" value="" >
			     </div>
			<div class="colmb-3">	
				<label for="Time_Covered">Time</label>
                <input type="time" class="form-control" id="Time_Covered" placeholder="" value="" >
			     </div>
				  				  	  			<div class="col mb-3">	
						<label for="Corrected_Covered">Corrected By</label>
                <input type="text" class="form-control" id="Corrected_Covered" placeholder="" value="" >
			     </div>
              </div> 
			
			  
</div>
<!----------------------------------------------------------------------------------------------------------------------------------->
 
<!-------Pallets/Boxes/stored away from the wall with enough space to inspect between. All boxes are stored off the ground----------->
            <div class="row align-items-end">
              <div class="col-md-12 mb-3">
                <label for="Stored">Pallets/Boxes/stored away from the wall with enough space to inspect between. All boxes are stored off the ground</label>
                  <select class="custom-select d-block w-100" id="Stored" onchange="Hide_Option_Stored()" name="Column_5" >
                  <option value="<%=data.Column_5 %>"><%=data.Column_5 %></option>
                  <option Value="A" name="Column_5">Acceptable</option>
					<option Value="R" name="Column_5">Rejected</option>
                </select>
				         <div class="invalid-feedback">
                  Please select a valid Condition.
                </div>
              </div>
          
			  
			  </div>
			  
			 
			  
 <!-- hidden Row --------------------------------------------------------------------------------------------------------->
			  
			  <div  id="Hide_Stored" style="display:none">
			  <div class="row"  >
				  
				  
				  
			  		<div class="col mb-3">	
			<label for="Action_Stored">Corrective Action </label>
                <input type="text" class="form-control" id="Action_Stored" placeholder="" value=""  >
			     </div>
				  
			
			  </div>
			  

	
	
              
			  
			  <div class="row"  >

				  
				  

				  
			<div class="col mb-3">	
	                <label for="Date_Stored">Date</label>
                <input type="Date" class="form-control" id="Date_Stored" placeholder="" value="" >
			     </div>
			<div class="colmb-3">	
				<label for="Time_Stored">Time</label>
                <input type="time" class="form-control" id="Time_Stored" placeholder="" value="" >
			     </div>
				  				  	  			<div class="col mb-3">	
						<label for="Corrected_Stored">Corrected By</label>
                <input type="text" class="form-control" id="Corrected_Stored" placeholder="" value="" >
			     </div>
              </div> 
			
			  
</div>
			  
			  
			  
			          <%  i++; }) %>
        <% } else{ %>
            <tr>
                <td colspan="7">No Data Found</td>
            </tr>
        <% } %>
<!-----------------------------------------------------------------------------------------------------------------------------------> 
			  <br>
			  <hr class="mb-4">
			
			  			  <div class="row"  >

				  
				  

				  
			<div class="col mb-3">	
				
	                                      <button class="btn btn-primary btn-lg btn-block Grey2"  data-toggle="collapse" data-target="#Hide_row_Floor_Ground" type="button">Export</button>
					
			     </div>
		
				  				  	  			<div class="col mb-3">
													
													<div class="test">
						                       <button class="btn btn-primary btn-lg btn-block Grey2"  data-toggle="collapse" data-target="#Hide_row_Floor_Ground" 
											   type="button" 
											   onclick="window.print();return false;">Print</button>
														</div>
			     </div>
              </div> 
      
			  
			  
			           <div class="row"  >
            <div class="col mb-3">	
            
           
            <button class="btn btn-primary btn-lg btn-block Green_Button" type="submit">Save</button>
				
				   </div> 
			   </div> 
			  
          </form>
        
  
			  

    </div>

<%- include('../Partials/ScriptDataOnLoad') -%>
	  

	  
  </body>
</html>
