
<!doctype html>
<html lang="en">
<%- include('../Partials/MetaData') -%>

  <body >
	  

<%- include('../Partials/NavBar') -%>
	  
	  
	  
    <div class="container">
  	  	  	  <%
        if(userData.length!=0){
        var Corection_Number=0;
	
        userData.forEach(function(data){
        %>
	  

      <div class="row">
        
        <div class="col-md-12 order-md-1">
      <p>Please select “Acceptable” if condition is acceptable. Select “Rejected” if condition is rejected AND record corrective actions taken, by whom and the date and time correction was completed.</p>
			</div> 
		    </div>
		
		
          <form class="needs-validation" action="../Frontend/Dashboard" method="post">
			 <input id="Form_Name" name="Form_Name" type="hidden" value="Processing">
			  <%- include('../Partials/Global_Variables') -%>
			  <input id="Form_Title" name="Form_Title" type="hidden" value="Forms">

		  
		 <div class="row">
              <div class="col-md-6 mb-3">
                <label for="Date">Date</label>
				  <p class="form-control"><%=data.Date %></p>
                <input type="hidden" class="form-control" id="Date" placeholder="" name="Date" value="<%=data.Date %>" >
                <div class="invalid-feedback">
                  Valid Date is .
                </div>
              </div>
					   
					   
              <div class="col-md-6 mb-3">
				 <label for="country">Store Location</label>
				  <p class="form-control"><%=data.store %></p>
                <input type="hidden" class="custom-select d-block w-100" id="country" name="FormStore" value="<%=data.store %>">
              </div>
					   
            </div>
			  
			  
			 
<!-------All lighting properly illuminating and shields intact. All shields free of debris and insect fragments-------------------------------------------------------------------------------------------------------->
            <div class="row align-items-end">
              <div class="col-md-12 mb-3">
                <label for="Floor_Ground">All lighting properly illuminating and shields intact. All shields free of debris and insect fragments.</label>
				  <p class="form-control"><%=data.Column_1 %></p>
                  <input type="hidden" class="custom-select d-block w-100" id="Floor_Ground" onchange="Hide_Option_Floor_Ground()" name="Column_1" value="<%=data.Column_1 %>">
              </div>
          
			  
			  </div>
			  
			 
			  
 <!-- hidden Row --------------------------------------------------------------------------------------------------------->
	
			  			  	  <%
        if(userDataCor.length!=0){
        var T=1;
        userDataCor.forEach(function(dataCor){
        %>	  
			  
			  <div  id="Hide_Floor_Ground" style="display:none">
			  <div class="row"  >
				  
				  
				  
			  		<div class="col mb-3">	
			<label for="Action_Taken1">Corrective Action </label>
						<p class="form-control"><%=dataCor.Corection_1 %></p>
                <input type="hidden" class="form-control" name="Corection_1" id="Action_Floor_Ground" placeholder="" value="<%=dataCor.Corection_1 %>" >
			     </div>
				  
			
			  </div>
			  

	
	
              
			  
			  <div class="row"  >

				  
				  

				  
			<div class="col mb-3">	
	                <label for="Date_Floor_Ground">Date</label>
				<p class="form-control"><%=dataCor.Corection_2 %></p>
                <input type="hidden" class="form-control" name="Corection_2" id="Date_Floor_Ground" placeholder="" value="<%=dataCor.Corection_2 %>" >
			     </div>
			<div class="colmb-3">	
				<label for="Time_Floor_Ground">Time</label>
				<p class="form-control"><%=dataCor.Corection_3 %></p>
                <input type="hidden" class="form-control" name="Corection_3" id="Time_Floor_Ground" placeholder="" value="<%=dataCor.Corection_3 %>" >
			     </div>
				  				  	  			<div class="col mb-3">	
						<label for="Corrected_By_Floor_Ground">Corrected By</label>
													<p class="form-control"><%=dataCor.Corection_4 %></p>
                <input type="hidden" class="form-control" name="Corection_4" id="Corrected_By_Floor_Ground" placeholder="" value="<%=dataCor.Corection_4 %>" >
			     </div>
              </div> 
			
			  
</div>
			  
			  			  			  			          <%  T++; }) %>
        <% } else{ %>
            <tr>
                <td colspan="7">No Data Found</td>
            </tr>
        <% } %>
<!----------------------------------------------------------------------------------------------------------------------------------->


<!-------Floors free of all trash and debris-------------------------------------------------------------------------------------------------------->
            <div class="row align-items-end">
              <div class="col-md-12 mb-3">
                <label for="Pest">Floors free of all trash and debris</label>
				  <p class="form-control"><%=data.Column_2 %></p>
                  <input type="hidden" class="custom-select d-block w-100" id="Pest" onchange="Hide_Option_Pest()" name="Column_2" value="<%=data.Column_2 %>">

              </div>
          
			  
			  </div>
			  
			 
			  
 <!-- hidden Row --------------------------------------------------------------------------------------------------------->
			  			  	  <%
        if(userDataCor.length!=0){
        var T=1;
        userDataCor.forEach(function(dataCor){
        %>	  
			  
			  <div  id="Hide_Pest" style="display:none">
			  <div class="row"  >
				  
				  
				  
			  		<div class="col mb-3">	
			<label for="Action_Pest">Corrective Action </label>
						<p class="form-control"><%=dataCor.Corection_5 %></p>
                <input type="hidden" class="form-control" name="Corection_5" id="Action_Pest" placeholder="" value="<%=dataCor.Corection_5 %>" >
			     </div>
				  
			
			  </div>
			  

	
	
              
			  
			  <div class="row"  >

				  
				  

				  
			<div class="col mb-3">	
	                <label for="Date_Pest">Date</label>
				<p class="form-control"><%=dataCor.Corection_6 %></p>
                <input type="hidden" class="form-control" name="Corection_6" id="Date_Pest" placeholder="" value="<%=dataCor.Corection_6 %>" >
			     </div>
			<div class="colmb-3">	
				<label for="Time_Pest">Time</label>
				<p class="form-control"><%=dataCor.Corection_7 %></p>
                <input type="hidden" class="form-control" name="Corection_7" id="Time_Pest" placeholder="" value="<%=dataCor.Corection_7 %>" >
			     </div>
				  				  	  			<div class="col mb-3">	
						<label for="Corrected_Pest">Corrected By</label>
													<p class="form-control"><%=dataCor.Corection_8 %></p>
                <input type="hidden" class="form-control" name="Corection_8" id="Corrected_Pest" placeholder="" value="<%=dataCor.Corection_8 %>" >
			     </div>
              </div> 
			
			  
</div>
			  
			  			  			  			          <%  T++; }) %>
        <% } else{ %>
            <tr>
                <td colspan="7">No Data Found</td>
            </tr>
        <% } %>
<!----------------------------------------------------------------------------------------------------------------------------------->

			  
<!-------Floors swept (clean and free of debris). Floor clean-------------------------------------------------------------------------------------------------------->
            <div class="row align-items-end">
              <div class="col-md-12 mb-3">
                <label for="Debris">Floors swept (clean and free of debris). Floor clean</label>
				  <p class="form-control"><%=data.Column_3 %></p>
                  <input type="hidden" class="custom-select d-block w-100" id="Debris" onchange="Hide_Option_Debris()" name="Column_3" value="<%=data.Column_3 %>">

              </div>

          
			  
			  </div>
			  
			 
			  
 <!-- hidden Row --------------------------------------------------------------------------------------------------------->
						  			  	  <%
        if(userDataCor.length!=0){
        var T=1;
        userDataCor.forEach(function(dataCor){
        %>	  
			  
			  <div  id="Hide_Debris" style="display:none">
			  <div class="row"  >
				  
				  
				  
			  		<div class="col mb-3">	
			<label for="Action_Debris">Corrective Action </label>
						<p class="form-control"><%=dataCor.Corection_9 %></p>
                <input type="hidden" class="form-control" name="Corection_9" id="Action_Debris" placeholder="" value="<%=dataCor.Corection_9 %>" >
			     </div>
				  
			
			  </div>
			  

	
	
              
			  
			  <div class="row"  >

				  
				  

				  
			<div class="col mb-3">	
	                <label for="Date_Debris">Date</label>
				<p class="form-control"><%=dataCor.Corection_10 %></p>
                <input type="hidden" class="form-control" name="Corection_10" id="Date_Debris" placeholder="" value="<%=dataCor.Corection_10 %>" >
			     </div>
			<div class="colmb-3">	
				<label for="Time_Debris">Time</label>
				<p class="form-control"><%=dataCor.Corection_11 %></p>
                <input type="hidden" class="form-control" name="Corection_11" id="Time_Debris" placeholder="" value="<%=dataCor.Corection_11 %>" >
			     </div>
				  				  	  			<div class="col mb-3">	
						<label for="Corrected_Debris">Corrected By</label>
													<p class="form-control"><%=dataCor.Corection_12 %></p>
                <input type="hidden" class="form-control" name="Corection_12" id="Corrected_Debris" placeholder="" value="<%=dataCor.Corection_12 %>" >
			     </div>
              </div> 
			
			  
</div>
			  
			  			  			  			          <%  T++; }) %>
        <% } else{ %>
            <tr>
                <td colspan="7">No Data Found</td>
            </tr>
        <% } %>
<!----------------------------------------------------------------------------------------------------------------------------------->
  
 
<!-------Walls, ceiling, overhead lights and pipelines clean and free of debris, mold, spider webs and dripping condensation-------------------------------------------------------------------------------------------------------->
            <div class="row align-items-end">
              <div class="col-md-12 mb-3">
                <label for="Covered">Walls, ceiling, overhead lights and pipelines clean and free of debris, mold, spider webs and dripping condensation</label>
				  <p class="form-control"><%=data.Column_4 %></p>
                  <input type="hidden" class="custom-select d-block w-100" id="Covered" onchange="Hide_Option_Covered()" name="Column_4" value="<%=data.Column_4 %>">
              </div>
          
			  
			  </div>
			  
			 
			  
 <!-- hidden Row --------------------------------------------------------------------------------------------------------->
					  			  	  <%
        if(userDataCor.length!=0){
        var T=1;
        userDataCor.forEach(function(dataCor){
        %>	  
			  
			  <div  id="Hide_Covered" style="display:none">
			  <div class="row "  >
				  
				  
				  
			  		<div class="col mb-3">	
			<label for="Action_Covered">Corrective Action </label>
						<p class="form-control"><%=dataCor.Corection_13 %></p>
                <input type="hidden" class="form-control" name="Corection_13" id="Action_Covered" placeholder="" value="<%=dataCor.Corection_13 %>" >
			     </div>
				  
			
			  </div>
			  

	
	
              
			  
			  <div class="row"  >

				  
				  

				  
			<div class="col mb-3">	
	                <label for="Date_Covered">Date</label>
				<p class="form-control"><%=dataCor.Corection_14 %></p>
                <input type="hidden" class="form-control" name="Corection_14" id="Date_Covered" placeholder="" value="<%=dataCor.Corection_14 %>" >
			     </div>
			<div class="colmb-3">	
				<label for="Time_Covered">Time</label>
				<p class="form-control"><%=dataCor.Corection_15 %></p>
                <input type="hidden" class="form-control" name="Corection_15" id="Time_Covered" placeholder="" value="<%=dataCor.Corection_15 %>" >
			     </div>
				  				  	  			<div class="col mb-3">	
						<label for="Corrected_Covered">Corrected By</label>
													<p class="form-control"><%=dataCor.Corection_16 %></p>
                <input type="hidden" class="form-control" name="Corection_16" id="Corrected_Covered" placeholder="" value="<%=dataCor.Corection_16 %>" >
			     </div>
              </div> 
			
			  
</div>
			  
			  			  			  			          <%  T++; }) %>
        <% } else{ %>
            <tr>
                <td colspan="7">No Data Found</td>
            </tr>
        <% } %>
<!----------------------------------------------------------------------------------------------------------------------------------->
 
<!-------No excess of equipment lubrication on equipment----------->
            <div class="row align-items-end">
              <div class="col-md-12 mb-3">
                <label for="Stored">No excess of equipment lubrication on equipment</label>
				  <p class="form-control"><%=data.Column_5 %></p>
                  <input type="hidden" class="custom-select d-block w-100" id="Stored" onchange="Hide_Option_Stored()" name="Column_5" value="<%=data.Column_5 %>">

              </div>

          
			  
			  </div>
			  
			 
			  
 <!-- hidden Row --------------------------------------------------------------------------------------------------------->
			  			  			  	  <%
        if(userDataCor.length!=0){
        var T=1;
        userDataCor.forEach(function(dataCor){
        %>	  
			  
			  <div  id="Hide_Stored" style="display:none">
			  <div class="row"  >
				  
				  
				  
			  		<div class="col mb-3">	
			<label for="Action_Stored">Corrective Action </label>
						<p class="form-control"><%=dataCor.Corection_17 %></p>
                <input type="hidden" class="form-control" name="Corection_17" id="Action_Stored" placeholder="" value="<%=dataCor.Corection_17 %>" >
			     </div>
				  
			
			  </div>
			  

	
	
              
			  
			  <div class="row"  >

				  
				  

				  
			<div class="col mb-3">	
	                <label for="Date_Stored">Date</label>
				<p class="form-control"><%=dataCor.Corection_18 %></p>
                <input type="hidden" class="form-control" name="Corection_18" id="Date_Stored" placeholder="" value="<%=dataCor.Corection_18 %>" >
			     </div>
			<div class="colmb-3">	
				<label for="Time_Stored">Time</label>
				<p class="form-control"><%=dataCor.Corection_19 %></p>
                <input type="hidden" class="form-control" name="Corection_19" id="Time_Stored" placeholder="" value="<%=dataCor.Corection_19 %>" >
			     </div>
				  				  	  			<div class="col mb-3">	
						<label for="Corrected_Stored">Corrected By</label>
													<p class="form-control"><%=dataCor.Corection_20 %></p>
                <input type="hidden" class="form-control" name="Corection_20" id="Corrected_Stored" placeholder="" value="<%=dataCor.Corection_20 %>" >
			     </div>
              </div> 
			
			  
</div>
			  
			  			  			  			          <%  T++; }) %>
        <% } else{ %>
            <tr>
                <td colspan="7">No Data Found</td>
            </tr>
        <% } %>
<!-----------------------------------------------------------------------------------------------------------------------------------> 
			  
<!-------ROP unit Equipment clean and sanitized.----------->
            <div class="row align-items-end">
              <div class="col-md-12 mb-3">
                <label for="sanitized">ROP unit Equipment clean and sanitized.</label>
				  <p class="form-control"><%=data.Column_6 %></p>
                  <input type="hidden" class="custom-select d-block w-100" id="sanitized" onchange="Hide_Option_sanitized()" name="Column_6" value="<%=data.Column_6 %>">
              </div>

          
			  
			  </div>
			  
			 
			  
 <!-- hidden Row --------------------------------------------------------------------------------------------------------->
			  			  			  	  <%
        if(userDataCor.length!=0){
        var T=1;
        userDataCor.forEach(function(dataCor){
        %>	  
			  
			  <div  id="Hide_sanitized" style="display:none">
			  <div class="row"  >
				  
				  
				  
			  		<div class="col mb-3">	
			<label for="Action_sanitized">Corrective Action </label>
						<p class="form-control"><%=dataCor.Corection_21 %></p>
                <input type="hidden" class="form-control" name="Corection_21" id="Action_sanitized" placeholder="" value="<%=dataCor.Corection_21 %>" >
			     </div>
				  
			
			  </div>
			  

	
	
              
			  
			  <div class="row"  >

				  
				  

				  
			<div class="col mb-3">	
	                <label for="Date_sanitized">Date</label>
				<p class="form-control"><%=dataCor.Corection_22 %></p>
                <input type="hidden" class="form-control" name="Corection_22" id="Date_sanitized" placeholder="" value="<%=dataCor.Corection_22 %>" >
			     </div>
			<div class="colmb-3">	
				<label for="Time_sanitized">Time</label>
				<p class="form-control"><%=dataCor.Corection_23 %></p>
                <input type="hidden" class="form-control" name="Corection_23" id="Time_sanitized" placeholder="" value="<%=dataCor.Corection_23 %>" >
			     </div>
				  				  	  			<div class="col mb-3">	
						<label for="Corrected_sanitized">Corrected By</label>
													<p class="form-control"><%=dataCor.Corection_24 %></p>
                <input type="hidden" class="form-control" name="Corection_24" id="Corrected_sanitized" placeholder="" value="<%=dataCor.Corection_24 %>" >
			     </div>
              </div> 
			
			  
</div>
			  
			  			  			  			          <%  T++; }) %>
        <% } else{ %>
            <tr>
                <td colspan="7">No Data Found</td>
            </tr>
        <% } %>
<!-----------------------------------------------------------------------------------------------------------------------------------> 
			  
<!-------Trash cans empty, clean and lined----------->
            <div class="row align-items-end">
              <div class="col-md-12 mb-3">
                <label for="Trash">Trash cans empty, clean and lined</label>
				  <p class="form-control"><%=data.Column_7 %></p>
                  <input type="hidden" class="custom-select d-block w-100" id="Trash" onchange="Hide_Option_Trash()" name="Column_7" value="<%=data.Column_7 %>" >
              </div>

			  
			  </div>
			  
			 
			  
 <!-- hidden Row --------------------------------------------------------------------------------------------------------->
			  			  			  	  <%
        if(userDataCor.length!=0){
        var T=1;
        userDataCor.forEach(function(dataCor){
        %>	  
			  
			  <div  id="Hide_Trash" style="display:none">
			  <div class="row"  >
				  
				  
				  
			  		<div class="col mb-3">	
			<label for="Action_Trash">Corrective Action </label>
						<p class="form-control"><%=dataCor.Corection_25 %></p>
                <input type="hidden" class="form-control" name="Corection_25" id="Action_Trash" placeholder="" value="<%=dataCor.Corection_25 %>" >
			     </div>
				  
			
			  </div>
			  

	
	
              
			  
			  <div class="row"  >

				  
				  

				  
			<div class="col mb-3">	
	                <label for="Date_Trash">Date</label>
				<p class="form-control"><%=dataCor.Corection_26 %></p>
                <input type="hidden" class="form-control" name="Corection_26" id="Date_Trash" placeholder="" value="<%=dataCor.Corection_26 %>" >
			     </div>
			<div class="colmb-3">	
				<label for="Time_Trash">Time</label>
				<p class="form-control"><%=dataCor.Corection_27 %></p>
                <input type="hidden" class="form-control" name="Corection_27" id="Time_Trash" placeholder="" value="<%=dataCor.Corection_27 %>" >
			     </div>
				  				  	  			<div class="col mb-3">	
						<label for="Corrected_Trash">Corrected By</label>
							<p class="form-control"><%=dataCor.Corection_28 %></p>						
                <input type="hidden" class="form-control" name="Corection_28" id="Corrected_Trash" placeholder="" value="<%=dataCor.Corection_28 %>" >
			     </div>
              </div> 
			
			  
</div>
			  
			  			  			  			          <%  T++; }) %>
        <% } else{ %>
            <tr>
                <td colspan="7">No Data Found</td>
            </tr>
        <% } %>
<!-----------------------------------------------------------------------------------------------------------------------------------> 
	
			  
<!-------Employees use health, hygiene, good habits----------->
            <div class="row align-items-end">
              <div class="col-md-12 mb-3">
                <label for="Health">Employees use health, hygiene, good habits</label>
				  <p class="form-control"><%=data.Column_8 %></p>
                  <input type="hidden" class="custom-select d-block w-100" id="Health" onchange="Hide_Option_Health()" name="Column_8" value="<%=data.Column_8 %>">
              </div>

          
			  
			  </div>
			  
			 
			  
 <!-- hidden Row --------------------------------------------------------------------------------------------------------->
			  			  			  	  <%
        if(userDataCor.length!=0){
        var T=1;
        userDataCor.forEach(function(dataCor){
        %>	  
			  
			  <div  id="Hide_Health" style="display:none">
			  <div class="row"  >
				  
				  
				  
			  		<div class="col mb-3">	
			<label for="Action_Health">Corrective Action </label>
						<p class="form-control"><%=dataCor.Corection_29 %></p>
                <input type="hidden" class="form-control" name="Corection_29" id="Action_Health" placeholder="" name="Column_9" value="<%=dataCor.Corection_29 %>">
			     </div>
				  
			
			  </div>
			  

	
	
              
			  
			  <div class="row"  >

				  
				  

				  
			<div class="col mb-3">	
	                <label for="Date_Health">Date</label>
				<p class="form-control"><%=dataCor.Corection_30 %></p>
                <input type="hidden" class="form-control" name="Corection_30" id="Date_Health" placeholder="" value="<%=dataCor.Corection_30 %>" >
			     </div>
			<div class="colmb-3">	
				<label for="Time_Health">Time</label>
				<p class="form-control"><%=dataCor.Corection_31 %></p>
                <input type="hidden" class="form-control" name="Corection_31" id="Time_Health" placeholder="" value="<%=dataCor.Corection_31 %>" >
			     </div>
				  				  	  			<div class="col mb-3">	
						<label for="Corrected_Health">Corrected By</label>
								<p class="form-control"><%=dataCor.Corection_32 %></p>					
                <input type="hidden" class="form-control" name="Corection_32" id="Corrected_Health" placeholder="" value="<%=dataCor.Corection_32 %>" >
			     </div>
              </div> 
			
			  
</div>
			  
			  			  			  			          <%  T++; }) %>
        <% } else{ %>
            <tr>
                <td colspan="7">No Data Found</td>
            </tr>
        <% } %>
<!-----------------------------------------------------------------------------------------------------------------------------------> 
	
			  
<!-------Employees are following GMPs (no chewing gum, leaving food out, wearing jewelry, etc.)----------->
            <div class="row align-items-end">
              <div class="col-md-12 mb-3">
                <label for="GMP">Employees are following GMPs (no chewing gum, leaving food out, wearing jewelry, etc.)</label>
				  <p class="form-control"><%=data.Column_9 %></p>
                  <input type="hidden" class="custom-select d-block w-100" id="GMP" onchange="Hide_Option_GMP()" name="Column_9" value="<%=data.Column_9 %>">

              </div>

          
			  
			  </div>
			  
			 
			  
 <!-- hidden Row --------------------------------------------------------------------------------------------------------->
			  			  			  	  <%
        if(userDataCor.length!=0){
        var T=1;
        userDataCor.forEach(function(dataCor){
        %>	  
			  
			  <div  id="Hide_GMP" style="display:none">
			  <div class="row"  >
				  
				  
				  
			  		<div class="col mb-3">	
			<label for="Action_GMP">Corrective Action </label>
						<p class="form-control"><%=dataCor.Corection_33 %></p>
                <input type="hidden" class="form-control" name="Corection_33" id="Action_GMP" placeholder="" value="<%=dataCor.Corection_33 %>" >
			     </div>
				  
			
			  </div>
			  

	
	
              
			  
			  <div class="row"  >

				  
				  

				  
			<div class="col mb-3">	
	                <label for="Date_GMP">Date</label>
				<p class="form-control"><%=dataCor.Corection_34 %></p>
                <input type="hidden" class="form-control" name="Corection_34" id="Date_GMP" placeholder="" value="<%=dataCor.Corection_34 %>" >
			     </div>
			<div class="colmb-3">	
				<label for="Time_GMP">Time</label>
				<p class="form-control"><%=dataCor.Corection_35 %></p>
                <input type="hidden" class="form-control" name="Corection_35" id="Time_GMP" placeholder="" value="<%=dataCor.Corection_35 %>" >
			     </div>
				  				  	  			<div class="col mb-3">	
						<label for="Corrected_GMP">Corrected By</label>
				<p class="form-control"><%=dataCor.Corection_36 %></p>				
                <input type="hidden" class="form-control" name="Corection_36" id="Corrected_GMP" placeholder="" value="<%=dataCor.Corection_36 %>" >
			     </div>
              </div> 
			
			  
</div>
			  
			  			  			  			          <%  T++; }) %>
        <% } else{ %>
            <tr>
                <td colspan="7">No Data Found</td>
            </tr>
        <% } %>
<!-----------------------------------------------------------------------------------------------------------------------------------> 
	
			  
<!-------No personal belongings in the area.----------->
            <div class="row align-items-end">
              <div class="col-md-12 mb-3">
                <label for="Belongings">No personal belongings in the area.</label>
				  <p class="form-control"><%=data.Column_10 %></p>
                  <input type="hidden" class="custom-select d-block w-100" id="Belongings" onchange="Hide_Option_Belongings()" name="Column_10" value="<%=data.Column_10 %>" >
              </div>

          
			  
			  </div>
			  
			 
			  
 <!-- hidden Row --------------------------------------------------------------------------------------------------------->
			  			  			  	  <%
        if(userDataCor.length!=0){
        var T=1;
        userDataCor.forEach(function(dataCor){
        %>	  
			  
			  <div id="Hide_Belongings" style="display:none">
			  <div class="row"  >
				  
				  
				  
			  		<div class="col mb-3">	
			<label for="Action_Belongings">Corrective Action </label>
						<p class="form-control"><%=dataCor.Corection_37 %></p>
                <input type="hidden" class="form-control" name="Corection_37" id="Action_Belongings" placeholder="" value="<%=dataCor.Corection_37 %>" >
			     </div>
				  
			
			  </div>
			  

	
	
              
			  
			  <div class="row"  >

				  
				  

				  
			<div class="col mb-3">	
	                <label for="Date_Belongings">Date</label>
				<p class="form-control"><%=dataCor.Corection_38 %></p>
                <input type="hidden" class="form-control" name="Corection_38" id="Date_Belongings" placeholder="" value="<%=dataCor.Corection_38 %>" >
			     </div>
			<div class="colmb-3">	
				<label for="Time_Belongings">Time</label>
				<p class="form-control"><%=dataCor.Corection_39 %></p>
                <input type="hidden" class="form-control" name="Corection_39" id="Time_Belongings" placeholder="" value="<%=dataCor.Corection_39 %>" >
			     </div>
				  				  	  			<div class="col mb-3">	
						<label for="Corrected_Belongings">Corrected By</label>
				<p class="form-control"><%=dataCor.Corection_40 %></p>				
                <input type="hidden" class="form-control" name="Corection_40" id="Corrected_Belongings" placeholder="" value="<%=dataCor.Corection_40 %>" >
			     </div>
              </div> 
			
			  
</div>
			  
			  			  			  			          <%  T++; }) %>
        <% } else{ %>
            <tr>
                <td colspan="7">No Data Found</td>
            </tr>
        <% } %>
<!-----------------------------------------------------------------------------------------------------------------------------------> 
	
			  
<!-------No temporary repairs in place----------->
            <div class="row align-items-end">
              <div class="col-md-12 mb-3">
                <label for="Repairs">No temporary repairs in place</label>
				  <p class="form-control"><%=data.Column_11 %></p>
                  <input type="hidden" class="custom-select d-block w-100" id="Repairs" onchange="Hide_Option_Repairs()" name="Column_11" value="<%=data.Column_11 %>">
              </div>

          
			  
			  </div>
			  
			 
			  
 <!-- hidden Row --------------------------------------------------------------------------------------------------------->
			  			  			  	  <%
        if(userDataCor.length!=0){
        var T=1;
        userDataCor.forEach(function(dataCor){
        %>	  
			  
			  <div  id="Hide_Repairs" style="display:none">
			  <div class="row"  >
				  
				  
				  
			  		<div class="col mb-3">	
			<label for="Action_Repairs">Corrective Action </label>
						<p class="form-control"><%=dataCor.Corection_41 %></p>
                <input type="hidden" class="form-control" name="Corection_41" id="Action_Repairs" placeholder="" value="<%=dataCor.Corection_41 %>" >
			     </div>
				  
			
			  </div>
			  

	
	
              
			  
			  <div class="row"  >

				  
				  

				  
			<div class="col mb-3">	
	                <label for="Date_Repairs">Date</label>
				<p class="form-control"><%=dataCor.Corection_42 %></p>
                <input type="hidden" class="form-control" name="Corection_42" id="Date_Repairs" placeholder="" value="<%=dataCor.Corection_42 %>" >
			     </div>
			<div class="colmb-3">	
				<label for="Time_Repairs">Time</label>
				<p class="form-control"><%=dataCor.Corection_43 %></p>
                <input type="hidden" class="form-control" name="Corection_43" id="Time_Repairs" placeholder="" value="<%=dataCor.Corection_43 %>" >
			     </div>
				  				  	  			<div class="col mb-3">	
						<label for="Corrected_Repairs">Corrected By</label>
							<p class="form-control"><%=dataCor.Corection_44 %></p>						
                <input type="hidden" class="form-control" name="Corection_44" id="Corrected_Repairs" placeholder="" value="<%=dataCor.Corection_44 %>" >
			     </div>
              </div> 
			
			  
</div>
			  
			  			  			  			          <%  T++; }) %>
        <% } else{ %>
            <tr>
                <td colspan="7">No Data Found</td>
            </tr>
        <% } %>
<!-----------------------------------------------------------------------------------------------------------------------------------> 
	
			  
<!-------All signage is in place.----------->
            <div class="row align-items-end">
              <div class="col-md-12 mb-3">
                <label for="Signage">All signage is in place.</label>
				  <p class="form-control"><%=data.Column_12 %></p>
                  <input type="hidden" class="custom-select d-block w-100" id="Signage" onchange="Hide_Option_Signage()" name="Column_12" value="<%=data.Column_12 %>">
              </div>  
			  </div>
			  
			 
			  
 <!-- hidden Row --------------------------------------------------------------------------------------------------------->
			  			  			  	  <%
        if(userDataCor.length!=0){
        var T=1;
        userDataCor.forEach(function(dataCor){
        %>	  
			  
			  <div  id="Hide_Signage" style="display:none">
			  <div class="row"  >
				  
				  
				  
			  		<div class="col mb-3">	
			<label for="Action_Signage">Corrective Action </label>
						<p class="form-control"><%=dataCor.Corection_45 %></p>
                <input type="hidden" class="form-control" name="Corection_45" id="Action_Signage" placeholder="" value="<%=dataCor.Corection_45 %>" >
			     </div>
				  
			
			  </div>
			  

	
	
              
			  
			  <div class="row"  >

				  
				  

				  
			<div class="col mb-3">	
	                <label for="Date_Signage">Date</label>
				<p class="form-control"><%=dataCor.Corection_46 %></p>
                <input type="hidden" class="form-control" name="Corection_46" id="Date_Signage" placeholder="" value="<%=dataCor.Corection_46 %>" >
			     </div>
			<div class="colmb-3">	
				<label for="Time_Signage">Time</label>
				<p class="form-control"><%=dataCor.Corection_47 %></p>
                <input type="hidden" class="form-control" name="Corection_47" id="Time_Signage" placeholder="" value="<%=dataCor.Corection_47 %>" >
			     </div>
				  				  	  			<div class="col mb-3">	
						<label for="Corrected_Signage">Corrected By</label>
									<p class="form-control"><%=dataCor.Corection_48 %></p>				
                <input type="hidden" class="form-control" name="Corection_48" id="Corrected_Signage" placeholder="" value="<%=dataCor.Corection_48 %>" >
			     </div>
              </div> 
			
			  
</div>
			  
			  			  			  			          <%  T++; }) %>
        <% } else{ %>
            <tr>
                <td colspan="7">No Data Found</td>
            </tr>
        <% } %>
<!-----------------------------------------------------------------------------------------------------------------------------------> 
	
			  
<!-------All walls are inspected for holes----------->
            <div class="row align-items-end">
              <div class="col-md-12 mb-3">
                <label for="Walls">All walls are inspected for holes</label>
				  <p class="form-control"><%=data.Column_13 %></p>
                  <input type="hidden" class="custom-select d-block w-100" id="Walls" onchange="Hide_Option_Walls()" name="Column_13" value="<%=data.Column_13 %>" >
              </div>

          
			  
			  </div>
			  
			 
			  
 <!-- hidden Row --------------------------------------------------------------------------------------------------------->
			  			  			  	  <%
        if(userDataCor.length!=0){
        var T=1;
        userDataCor.forEach(function(dataCor){
        %>	  
			  
			  <div  id="Hide_Walls" style="display:none">
			  <div class="row"  >
				  
				  
				  
			  		<div class="col mb-3">	
			<label for="Action_Walls">Corrective Action </label>
						<p class="form-control"><%=dataCor.Corection_49 %></p>
                <input type="hidden" class="form-control" name="Corection_49" id="Action_Walls" placeholder="" value="<%=dataCor.Corection_49 %>" >
			     </div>
				  
			
			  </div>
			  

	
	
              
			  
			  <div class="row"  >

				  
				  

				  
			<div class="col mb-3">	
	                <label for="Date_Walls">Date</label>
				<p class="form-control"><%=dataCor.Corection_50 %></p>
                <input type="hidden" class="form-control" name="Corection_50"id="Date_Walls" placeholder="" value="<%=dataCor.Corection_50 %>" >
			     </div>
			<div class="colmb-3">	
				<label for="Time_Walls">Time</label>
				<p class="form-control"><%=dataCor.Corection_51 %></p>
                <input type="hidden" class="form-control" name="Corection_51" id="Time_Walls" placeholder="" value="<%=dataCor.Corection_51 %>" >
			     </div>
				  				  	  			<div class="col mb-3">	
						<label for="Corrected_Walls">Corrected By</label>
									<p class="form-control"><%=dataCor.Corection_52 %></p>				
                <input type="hidden" class="form-control" name="Corection_52" id="Corrected_Walls" placeholder="" value="<%=dataCor.Corection_52 %>">
			     </div>
              </div> 
			
			  
</div>
			  
			  			  			  			          <%  T++; }) %>
        <% } else{ %>
            <tr>
                <td colspan="7">No Data Found</td>
            </tr>
        <% } %>
<!-----------------------------------------------------------------------------------------------------------------------------------> 
	
			  
<!-------No cartons or packing material placed onto the floor----------->
            <div class="row align-items-end">
              <div class="col-md-12 mb-3">
                <label for="Floor">No cartons or packing material placed onto the floor</label>
				  <p class="form-control"><%=data.Column_14 %></p>
                  <input type="hidden" class="custom-select d-block w-100" id="Floor" onchange="Hide_Option_Floor()" name="Column_14" value="<%=data.Column_14 %>">
              </div>

          
			  
			  </div>
			  
			 
			  
 <!-- hidden Row --------------------------------------------------------------------------------------------------------->
			  			  			  	  <%
        if(userDataCor.length!=0){
        var T=1;
        userDataCor.forEach(function(dataCor){
        %>	  
			  
			  <div  id="Hide_Floor" style="display:none">
			  <div class="row"  >
				  
				  
				  
			  		<div class="col mb-3">	
			<label for="Action_Floor">Corrective Action </label>
						<p class="form-control"><%=dataCor.Corection_53 %></p>
                <input type="hidden" class="form-control" name="Corection_53" id="Action_Floor" placeholder="" value="<%=dataCor.Corection_53 %>" onchange="Hide_Option_Action_Floor()" >
			     </div>
				  
			
			  </div>
			  

	
	
              
			  
			  <div class="row"  >

				  
				  

				  
			<div class="col mb-3">	
	                <label for="Date_Floor">Date</label>
				<p class="form-control"><%=dataCor.Corection_54 %></p>
                <input type="hidden" class="form-control" name="Corection_54" id="Date_Floor" placeholder="" value="<%=dataCor.Corection_54 %>" >
			     </div>
			<div class="colmb-3">	
				<label for="Time_Floor">Time</label>
				<p class="form-control"><%=dataCor.Corection_55 %></p>
                <input type="hidden" class="form-control" name="Corection_55" id="Time_Floor" placeholder="" value="<%=dataCor.Corection_55 %>" >
			     </div>
				  				  	  			<div class="col mb-3">	
						<label for="Corrected_Floor">Corrected By</label>
								<p class="form-control"><%=dataCor.Corection_56 %></p>					
                <input type="hidden" class="form-control" name="Corection_56" id="Corrected_Floor" placeholder="" value="<%=dataCor.Corection_56 %>">
			     </div>
              </div> 
			
			  
</div>
			  
			  			  			  			          <%  T++; }) %>
        <% } else{ %>
            <tr>
                <td colspan="7">No Data Found</td>
            </tr>
        <% } %>
<!-----------------------------------------------------------------------------------------------------------------------------------> 
	
			  
<!-------All gloves and aprons need to be placed in a specific area prior to leaving the processing area----------->
            <div class="row align-items-end">
              <div class="col-md-12 mb-3">
                <label for="Gloves">All gloves and aprons need to be placed in a specific area prior to leaving the processing area</label>
				  <p class="form-control"><%=data.Column_15 %></p>
                  <input type="hidden" class="custom-select d-block w-100" id="Gloves" onchange="Hide_Option_Action_Gloves()" name="Column_16" value="<%=data.Column_15 %>" >
              </div>

          
			  
			  </div>
			  
			 
			  
 <!-- hidden Row --------------------------------------------------------------------------------------------------------->
			  			  			  	  <%
        if(userDataCor.length!=0){
        var T=1;
        userDataCor.forEach(function(dataCor){
        %>	  
			  
			  <div  id="Hide_Gloves" style="display:none">
			  <div class="row"  >
				  
				  
				  
			  		<div class="col mb-3">	
			<label for="Action_Gloves">Corrective Action </label>
						<p class="form-control"><%=dataCor.Corection_57 %></p>
                <input type="hidden" class="form-control" name="Corection_57" id="Action_Gloves" placeholder="" value="<%=dataCor.Corection_57 %>" >
			     </div>
				  
			
			  </div>
			  

	
	
              
			  
			  <div class="row"  >

				  
				  

				  
			<div class="col mb-3">	
	                <label for="Date_Gloves">Date</label>
				<p class="form-control"><%=dataCor.Corection_58 %></p>
                <input type="hidden" class="form-control" name="Corection_58" id="Date_Gloves" placeholder="" value="<%=dataCor.Corection_58 %>" >
			     </div>
			<div class="colmb-3">	
				<label for="Time_Gloves">Time</label>
				<p class="form-control"><%=dataCor.Corection_59 %></p>
                <input type="hidden" class="form-control" name="Corection_59" id="Time_Gloves" placeholder="" value="<%=dataCor.Corection_59 %>" >
			     </div>
				  				  	  			<div class="col mb-3">	
						<label for="Corrected_Gloves">Corrected By</label>
											<p class="form-control"><%=dataCor.Corection_60 %></p>		
                <input type="hidden" class="form-control" name="Corection_60" id="Corrected_Gloves" placeholder="" value="<%=dataCor.Corection_60 %>" >
			     </div>
              </div> 
			
			  
</div>
			  
			  			  			  			          <%  T++; }) %>
        <% } else{ %>
            <tr>
                <td colspan="7">No Data Found</td>
            </tr>
        <% } %>
<!-----------------------------------------------------------------------------------------------------------------------------------> 
	
				          <%  Corection_Number++; }) %>
        <% } else{ %>
            <tr>
                <td colspan="7">No Data Found</td>
            </tr>
        <% } %>		  
			  
<!---------------Bottom Buttons------------------------------------------------------------------------------------------------------> 
			  <br>
			  <hr class="mb-4">
			
			  			  <div class="row"  >

				  
				  

				  
			<div class="col mb-3">	
				
	                                      <button class="btn btn-primary btn-lg btn-block Grey2"  data-toggle="collapse" data-target="#Hide_row_Floor_Ground" type="submit">Dashboard</button>
					
			     </div>
		
				  				  	  			<div class="col mb-3">
													
													<div class="test">
						                       <button class="btn btn-primary btn-lg btn-block Grey2"  data-toggle="collapse" data-target="#Hide_row_Floor_Ground" 
											   type="button" 
											   onclick="window.print();return false;">Print</button>
														</div>
			     </div>
              </div> 
			  
          </form>
        
  
			  

    </div>

<%- include('../Partials/ScriptDataOnLoad') -%>
	  
  </body>
</html>
