
<!doctype html>
<html lang="en">
<%- include('../Partials/MetaData') -%>

  <body >
	  
<%- include('../Partials/NavBar') -%>
	  
	  
	  
    <div class="container">
					  			  			  	  <%
        if(userData.length!=0){
        userData.forEach(function(data){
        %>
		
      <div class="py-3 text-center">
        <img class="d-block mx-auto mb-3" src="http://192.168.75.201/Images/User.png"  alt="" width="72" height="72">
        <h2><%=data.userName %> </h2>
      </div>

      <div class="row">
        
        <div class="col-md-12 order-md-1">
          <form class="needs-validation" novalidate action="/Frontend/User_List_Update" method="post">
          <input id="Id" name="Id" type="hidden" value="<%=data.Id %>">	
			  <%- include('../Partials/Global_Variables') -%>
			  
			  <% 
			          if(userName==data.userName){
        %>
			  <input id="check1" name="checkuser" type="hidden" value="1">
 <% } %>
			
			  			  <% 
			          if(userName!=data.userName){
        %>
			  <input id="check2" name="checkuser" type="hidden" value="2">
 <% } %>
			  
			  
			  
			  <input id="Form_Title" name="Form_Title" type="hidden" value="Forms">
            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="firstName">First name</label>
                <input type="text" class="form-control" id="firstName" name="firstname" placeholder="" required value="<%=data.firstname %>">
                <div class="invalid-feedback">
                  Valid first name is required.
                </div>
              </div>
              <div class="col-md-6 mb-3">
                <label for="lastName">Last name</label>
                <input type="text" class="form-control" id="lastName" name="lastname" placeholder="" required value="<%=data.lastname %>">
                <div class="invalid-feedback" >
                  Valid last name is required.
                </div>
              </div>
            </div>

            <div class="mb-3">
              <label for="username">Username</label>
              <div class="input-group">
                <div class="input-group-prepend">
                </div>
                <input type="text" class="form-control" id="username" name="userName" placeholder="Username" value="<%=data.userName %>" required>
                <div class="invalid-feedback" style="width: 100%;">
                  Your username is required.
                </div>
              </div>
            </div>

            <div class="mb-3">
              <label for="email">Email <span class="text-muted">(Optional)</span></label>
              <input type="email" class="form-control" id="email" name="email" placeholder="you@example.com" value="<%=data.email %>" >
              <div class="invalid-feedback">
                Please enter a valid email address for shipping updates.
              </div>
            </div>

           <!--  <div class="mb-3">
              <label for="address">Password</label>
              <input type="password" class="form-control" id="address" name="passwd" placeholder="********" >
              <div class="invalid-feedback">
                Please enter your shipping address.
              </div>
            </div> 

            <div class="mb-3">
              <label for="address2">Confirm Password</label>
              <input type="password" class="form-control" id="address2" placeholder="********">
            </div> -->

            <div class="row">
              <div class="col mb-3">
                <label for="country">Store Location</label>
                <select class="custom-select d-block w-100" id="country" name="store" value="<%=data.store %>" required>
                  <option value="<%=data.store %>"><%=data.store %></option>
                  <option value="Cotati">Cotati</option>
					<option value="Montecito">Montecito</option>
					<option value="Stony Point">Stony Point</option>
			        <option value="Windsor">Windsor</option>
					<option value="Corporate">Corporate</option>
                </select>
                <div class="invalid-feedback">
                  Please select a valid Store.
                </div>
              </div>
				
				          <div class="col mb-3">
                <label for="country">Role</label>
                <select class="custom-select d-block w-100" id="country2" name="role"  required>
                  <option value="<%=data.role %>"><%=data.role %></option>
                  <option value="Manager">Manager</option>
				  <option value="Lead">Lead</option>
					<option value="Store Level">Store Level</option>
                </select>
                <div class="invalid-feedback">
                  Please select a valid Store.
                </div>
              </div>
                </div>
          
                      

          

           
            
            
            <hr class="mb-4">
            <button class="btn btn-primary btn-lg btn-block Green_Button" type="submit">Save</button>
			  <% }) %>
			    <% } %>
          </form>
        </div>
      </div>

      
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="../../assets/js/vendor/holder.min.js"></script>
    <script>
      // Example starter JavaScript for disabling form submissions if there are invalid fields
      (function() {
        'use strict';

        window.addEventListener('load', function() {
          // Fetch all the forms we want to apply custom Bootstrap validation styles to
          var forms = document.getElementsByClassName('needs-validation');

          // Loop over them and prevent submission
          var validation = Array.prototype.filter.call(forms, function(form) {
            form.addEventListener('submit', function(event) {
              if (form.checkValidity() === false) {
                event.preventDefault();
                event.stopPropagation();
              }
              form.classList.add('was-validated');
            }, false);
          });
        }, false);
      })();
    </script>
  </body>
</html>
