
<!doctype html>
<html lang="en">
<%- include('../Partials/MetaData') -%>

  <body > 
	  
<%- include('../Partials/NavBar') -%>
	  
	    <div class="container">
  	  	  	  <%
        if(userData.length!=0){
        var i=1;
        userData.forEach(function(data){
        %>
	    
	  
    <div class="container">
  

      <div class="row " >
        
        <div class="col-md-10 mb-3" >
      <p id="collapsetext">Checking Accuracy of Thermometer: <br><br>
1. Place the thermometer in a container of ice water slurry (very little water/mostly ice). <br>
2. Stir water continuously to ensure a uniform temperature during the reading <br>
3. After the thermometer has stabilized record the temperature <br>
4. If the reading is within 32.0 ± 2.0 o F, the calibration is complete <br>
5. If the reading does not fall inside the above range the thermometer must be discarded. Each thermometer must be tagged with the calibratednumber. These numbers must be added or subtracted from the readings of the thermometers and recorded on each temperature log. <br>
6. Calibration can also be performed by comparing probes and digital thermometers against a NIST thermometer. The NIST thermometer iscalibrated by the manufacturer on an annual basis. Occasional verification of accuracy will be confirmed by placing NIST thermometer inslurry of ice to determine if it meets the range listed above. If it does not, it will immediately be sent back to the manufacturer. Add NIST thermometer testing results to chart as well.</p>
			
			<p id="collapsetext2" style="display:none" >Expand Instructions...</p>
			</div> 
		          
	
		  
		  <div class="col-md-2 mb-3">
			
  <button class= "btn btn-primary btn-lg Grey2" type="button" id="Up" style="display:Block" onclick="Hidetext()" >▲   

  </button>
			
				  
				  				  
  <button class= "btn btn-primary btn-lg Grey2" type="button" Id="Down" style="display:none"  onclick="Showtext()" >▼

  </button>
			</div>
		  
		    </div>
		
		
          <form class="needs-validation" action="/data_update" method="post">
			 <input id="Form_Name" name="Form_Name" type="hidden" value="Thermometer_Calibration">
			  <%- include('../Partials/Global_Variables') -%>
			  <input id="Form_Title" name="Form_Title" type="hidden" value="Forms">
<input id="Form_Id" name="Id" type="hidden" value="<%=data.Id %>">	
		  
		 <div class="row">
              <div class="col-md-6 mb-3">
                <label for="Date">Date</label>
                <input type="Date" class="form-control" id="Date" placeholder="" value="<%=data.Date %>" name="Date">
                <div class="invalid-feedback">
                  Valid Date is .
                </div>
              </div>
			 
			   <div class="col-md-6 mb-3">
				                  <label for="country">Store Location</label>
                <select class="custom-select d-block w-100" id="country" name="FormStore" required>
                 <option value="<%=data.store %>"><%=data.store %></option>
                  <option value="Cotati">Cotati</option>
					<option value="Montecito">Montecito</option>
					<option value="Stony Point">Stony Point</option>
					<option value="Windsor">Windsor</option>
                </select>
                <div class="invalid-feedback">
                  Please select a valid Store.
          
              </div>
              </div>
					   
					   
				  
              </div>
					   
     <!-------Time-------------------------------------------------------------------------------------------------------->
            <div class="row align-items-end">
              <div class="col-md-12 mb-3">
                <label for="Pest">Time</label>
                <input type="time" class="form-control" id="Pest" placeholder="" name="Column_1" value="<%=data.Column_1%>">
				         <div class="invalid-feedback">
                  Please select a valid Condition
                </div>
              </div>
          
			  
			  </div>                 
			  
			  
			 
<!-------Location-------------------------------------------------------------------------------------------------------->

                  <input type="hidden" class="custom-select d-block w-100" id="Floor_Ground" onchange="Hide_Option_Floor_Ground()" name="Column_2" value="<%=data.Column_2 %>">

			 
			  
 <!-- hidden Row --------------------------------------------------------------------------------------------------------->
			  			  	  <%
        if(userDataCor.length!=0){
        var T=1;
        userDataCor.forEach(function(dataCor){
        %>	
			  
			  <div  id="Hide_Floor_Ground" style="display:none">
			  <div class="row"  >
				  
				  
				  
			  		<div class="col mb-3">	
			<label for="Action_Taken1">Corrective Action </label>
                <input type="text" class="form-control" name="Corection_1" id="Action_Floor_Ground" placeholder="" value=<%=dataCor.Corection_1 %> >
			     </div>
				  
			
			  </div>
			  

	
	
              
			  
			  <div class="row"  >

				  
				  

				  
			<div class="col mb-3">	
	                <label for="Date_Floor_Ground">Date</label>
                <input type="Date" class="form-control" name="Corection_2" id="Date_Floor_Ground" placeholder="" value=<%=dataCor.Corection_2 %> >
			     </div>
			<div class="colmb-3">	
				<label for="Time_Floor_Ground">Time</label>
                <input type="time" class="form-control" name="Corection_3" id="Time_Floor_Ground" placeholder="" value=<%=dataCor.Corection_3 %> >
			     </div>
				  				  	  			<div class="col mb-3">	
						<label for="Corrected_By_Floor_Ground">Corrected By</label>
                <input type="text" class="form-control" name="Corection_4" id="Corrected_By_Floor_Ground" placeholder="" value=<%=dataCor.Corection_4 %> >
			     </div>
              </div> 
			
			  
</div>
			  
			  			  			          <%  T++; }) %>
        <% } else{ %>
            <tr>
                <td colspan="7">No Data Found</td>
            </tr>
        <% } %>
<!----------------------------------------------------------------------------------------------------------------------------------->


<!-------Therm. Or probe #s-------------------------------------------------------------------------------------------------------->
            <div class="row align-items-end">
              <div class="col-md-12 mb-3">
                <label for="Pest">Therm. Or probe #</label>
                  <select class="custom-select d-block w-100" id="Pest" onchange="Hide_Option_Pest()" name="Column_3" >
                  <option value="<%=data.Column_3 %>"><%=data.Column_3 %></option>
                    <option Value="Digital">Digital</option>
					<option Value="Analog">Analog</option>
		            <option Value="Infrared">Infrared</option>
                </select>
				         <div class="invalid-feedback">
                  Please select a valid Condition.
                </div>
              </div>
          
			  
			  </div>
			  
			 
			  
 <!-- hidden Row --------------------------------------------------------------------------------------------------------->
			  			  	  <%
        if(userDataCor.length!=0){
        var T=1;
        userDataCor.forEach(function(dataCor){
        %>	
			  
			  <div  id="Hide_Pest" style="display:none">
			  <div class="row"  >
				  
				  
				  
			  		<div class="col mb-3">	
			<label for="Action_Pest">Corrective Action </label>
                <input type="text" class="form-control" name="Corection_5" id="Action_Pest" placeholder="" value=<%=dataCor.Corection_5 %> >
			     </div>
				  
			
			  </div>
			  

	
	
              
			  
			  <div class="row"  >

				  
				  

				  
			<div class="col mb-3">	
	                <label for="Date_Pest">Date</label>
                <input type="Date" class="form-control" name="Corection_6" id="Date_Pest" placeholder="" value=<%=dataCor.Corection_6 %> >
			     </div>
			<div class="colmb-3">	
				<label for="Time_Pest">Time</label>
                <input type="time" class="form-control" name="Corection_7" id="Time_Pest" placeholder="" value=<%=dataCor.Corection_7 %> >
			     </div>
				  				  	  			<div class="col mb-3">	
						<label for="Corrected_Pest">Corrected By</label>
                <input type="text" class="form-control" name="Corection_8" id="Corrected_Pest" placeholder="" value=<%=dataCor.Corection_8 %> >
			     </div>
              </div> 
			
			  
</div>
			  
			  			  			          <%  T++; }) %>
        <% } else{ %>
            <tr>
                <td colspan="7">No Data Found</td>
            </tr>
        <% } %>
<!----------------------------------------------------------------------------------------------------------------------------------->

			  
<!-------Temperature Registered
˚F-------------------------------------------------------------------------------------------------------->
            <div class="row align-items-end">
              <div class="col-md-12 mb-3">
                <label for="Debris">Temperature Registered
˚F</label>
<input type="text" class= "form-control" id="Debris" value="<%=data.Column_4 %>" name="Column_4">
				         <div class="invalid-feedback">
                  Please select a valid Condition.
                </div>
              </div>

          
			  
			  </div>
			  
			 
			  
 <!-- hidden Row --------------------------------------------------------------------------------------------------------->
			  			  	  <%
        if(userDataCor.length!=0){
        var T=1;
        userDataCor.forEach(function(dataCor){
        %>	
			  
			  <div  id="Hide_Debris" style="display:none">
			  <div class="row"  >
				  
				  
				  
			  		<div class="col mb-3">	
			<label for="Action_Debris">Corrective Action </label>
                <input type="text" class="form-control" name="Corection_9" id="Action_Debris" placeholder="" value=<%=dataCor.Corection_9 %> >
			     </div>
				  
			
			  </div>
			  

	
	
              
			  
			  <div class="row"  >

				  
				  

				  
			<div class="col mb-3">	
	                <label for="Date_Debris">Date</label>
                <input type="Date" class="form-control" name="Corection_10" id="Date_Debris" placeholder="" value=<%=dataCor.Corection_10 %> >
			     </div>
			<div class="colmb-3">	
				<label for="Time_Debris">Time</label>
                <input type="time" class="form-control" name="Corection_11"  id="Time_Debris" placeholder="" value=<%=dataCor.Corection_11 %> >
			     </div>
				  				  	  			<div class="col mb-3">	
						<label for="Corrected_Debris">Corrected By</label>
                <input type="text" class="form-control" name="Corection_12" id="Corrected_Debris" placeholder="" value=<%=dataCor.Corection_12 %> >
			     </div>
              </div> 
			
			  
</div>
			  
			  			  			          <%  T++; }) %>
        <% } else{ %>
            <tr>
                <td colspan="7">No Data Found</td>
            </tr>
        <% } %>
<!----------------------------------------------------------------------------------------------------------------------------------->
  
 
<!-------NIST Temperature
˚F (Optional)-------------------------------------------------------------------------------------------------------->
<input type="hidden" class= "form-control" id="Covered" value="<%=data.Column_5 %>" name="Column_5">
			  
			 
			  
 <!-- hidden Row --------------------------------------------------------------------------------------------------------->
			  			  	  <%
        if(userDataCor.length!=0){
        var T=1;
        userDataCor.forEach(function(dataCor){
        %>	
			  
			  <div  id="Hide_Covered" style="display:none">
			  <div class="row "  >
				  
				  
				  
			  		<div class="col mb-3">	
			<label for="Action_Covered">Corrective Action </label>
                <input type="text" class="form-control" name="Corection_13" id="Action_Covered" placeholder="" value=<%=dataCor.Corection_13 %> >
			     </div>
				  
			
			  </div>
			  

	
	
              
			  
			  <div class="row"  >

				  
				  

				  
			<div class="col mb-3">	
	                <label for="Date_Covered">Date</label>
                <input type="Date" class="form-control" name="Corection_14" id="Date_Covered" placeholder="" value=<%=dataCor.Corection_14 %> >
			     </div>
			<div class="colmb-3">	
				<label for="Time_Covered">Time</label>
                <input type="time" class="form-control" name="Corection_15" id="Time_Covered" placeholder="" value=<%=dataCor.Corection_15 %> >
			     </div>
				  				  	  			<div class="col mb-3">	
						<label for="Corrected_Covered">Corrected By</label>
                <input type="text" class="form-control" name="Corection_16" id="Corrected_Covered" placeholder="" value=<%=dataCor.Corection_16 %> >
			     </div>
              </div> 
			
			  
</div>
			  
			  			  			          <%  T++; }) %>
        <% } else{ %>
            <tr>
                <td colspan="7">No Data Found</td>
            </tr>
        <% } %>
<!----------------------------------------------------------------------------------------------------------------------------------->
 
<!-------Corrective Action Needed?----------->
            <div class="row align-items-end">
              <div class="col-md-12 mb-3">
                <label for="Stored">Corrective Action Needed?</label>
                  <select class="custom-select d-block w-100" id="Stored" onchange="Hide_Option_Stored()" name="Column_6">
                  <option value="<%=data.Column_6 %>"><%=data.Column_6 %></option>
                    <option Value="A">No</option>
					<option Value="R">Yes</option>
                </select>
				         <div class="invalid-feedback">
                  Please select a valid Condition.
                </div>
              </div>

          
			  
			  </div>
			  
			 
			  
 <!-- hidden Row --------------------------------------------------------------------------------------------------------->

			  
			  <div  id="Hide_Stored" style="display:none">
			  <div class="row"  >
				  
				  
				  
			  		<div class="col mb-3">	
			<label for="Action_Stored">Corrective Action </label>
                <input type="text" class="form-control" name="Column_7" id="Action_Stored" placeholder="" value=<%=data.Column_7 %> >
						                <input type="hidden" class="form-control" id="Date_Stored" placeholder="" value="" >
	
		
                <input type="hidden" class="form-control"  id="Time_Stored" placeholder="" value="" >
			     </div>
				 			  				  	  			<div class="col mb-3">	
						<label for="Corrected_Stored">Corrected By</label>
                <input type="text" class="form-control" name="Column_8" id="Corrected_Stored" placeholder="" value=<%=data.Column_8 %> >
			     </div> 
			
			  </div>
			  

	
			
			  
</div>
			  
			  
			  				          <%  i++; }) %>
        <% } else{ %>
            <tr>
                <td colspan="7">No Data Found</td>
            </tr>
        <% } %>	
<!-----------------------------------------------------------------------------------------------------------------------------------> 
			 			  
			  
<!---------------Bottom Buttons------------------------------------------------------------------------------------------------------> 
			  <br>
			  <hr class="mb-4">
			
			  			  <div class="row"  >

				  
				  

				  
			<div class="col mb-3">	
				
	                                      <button class="btn btn-primary btn-lg btn-block Grey2"  data-toggle="collapse" data-target="#Hide_row_Floor_Ground" type="button">Export</button>
					
			     </div>
		
				  				  	  			<div class="col mb-3">
													
													<div class="test">
						                       <button class="btn btn-primary btn-lg btn-block Grey2"  data-toggle="collapse" data-target="#Hide_row_Floor_Ground" 
													    onclick="window.print();return false;"
													   type="button">Print</button>
														</div>
			     </div>
              </div> 
      
			  
			  
			           <div class="row"  >
            <div class="col mb-3">	
            
           
            <button class="btn btn-primary btn-lg btn-block Green_Button" type="submit">Save</button>
				
				   </div> 
			   </div> 
			  
          </form>
        
  
			  

    </div>

<%- include('../Partials/ScriptDataOnLoad') -%>
	  
  </body>
</html>
