<!DOCTYPE html>
<html lang="en">
	
<%- include('../Partials/MetaData') -%>
	
<style>
.hide-on-screen {display:none;}
.yesPrint, .noPrint {display:block;}

@media print {
   .hide-on-screen {display:block;}
   .noPrint {display:none;}

    body{
        padding-top: 1px;
        background: transparent;
    }
	}

</style>

<body>
<%- include('../Partials/NavBar') -%>		    
	
	
	<div class="container noPrint">

   
        
        <%
        if(userData.length!=0){
        var i=1;
		
        userData.forEach(function(data){
        %>
		
					<div class="row" >
						
									<div class="col-md-3"  >
				
			<label for="Number_selection">Form Number</label>
                <p class="form-control" id="Number_selection" ><%=i; %></p>
	</div>
						
 								<div class="col-md-9"  >
									
						<label for="Date_selection">Date</label>
									
                <p class="form-control" id="Name_selection" ><%=data.Date %></p>
	</div>
		</div>		
		
		
           			<div class="row " >
			
			
	
		
								<div class="col"  >
									
			<label for="Name_selection">Form</label>
                <p class="form-control" id="Name_selection" ><%=FormBox %></p>
	</div>
	
					
						
								<div class="col"  >
							<br>
			<form class="needs-validation" action="/Frontend/<%=AForm %>_Form" method="post">
				  <%- include('../Partials/Global_Variables') -%>
				<input id="Form_Title" name="Form_Title" type="hidden" value="<%=data.Form_Name %>">
        <button Class="btn btn-primary btn-lg btn-block Grey2" Id= "the_Edit_Button" type="submit" value="$Actual_Id" > Edit</button>
			 <input id="Id" name="Id" type="hidden" value="<%=data.Id %>">			
 <input id="Form_Name" name="Form_Name" type="hidden" value="<%=data.Form_Name %>">
 <input id="Date" name="Date" type="hidden" value="<%=data.Date %>">
 <input id="Correction_Id" name="Correction_Id" type="hidden" value="<%=data.Correction_Id %>">
 <input id="Column_1" name="Column_1" type="hidden" value="<%=data.Column_1 %>">
 <input id="Column_2" name="Column_2" type="hidden" value="<%=data.Column_2 %>">
 <input id="Column_3" name="Column_3" type="hidden" value="<%=data.Column_3 %>">
 <input id="Column_4" name="Column_4" type="hidden" value="<%=data.Column_4 %>">
 <input id="Column_5" name="Column_5" type="hidden" value="<%=data.Column_5 %>">
 <input id="Column_6" name="Column_6" type="hidden" value="<%=data.Column_6 %>">
 <input id="Column_7" name="Column_7" type="hidden" value="<%=data.Column_7 %>">
 <input id="Column_8" name="Column_8" type="hidden" value="<%=data.Column_8 %>">
 <input id="Column_9" name="Column_9" type="hidden" value="<%=data.Column_9 %>">
 <input id="Column_10" name="Column_10" type="hidden" value="<%=data.Column_10 %>">
 <input id="Column_11" name="Column_11" type="hidden" value="<%=data.Column_11 %>">
 <input id="Column_12" name="Column_12" type="hidden" value="<%=data.Column_12 %>">
 <input id="Column_13" name="Column_13" type="hidden" value="<%=data.Column_13 %>">
 <input id="Column_14" name="Column_14" type="hidden" value="<%=data.Column_14 %>">
 <input id="Column_15" name="Column_15" type="hidden" value="<%=data.Column_15 %>">
 <input id="Column_16" name="Column_16" type="hidden" value="<%=data.Column_16 %>">
 <input id="Column_17" name="Column_17" type="hidden" value="<%=data.Column_17 %>">
 <input id="Column_18" name="Column_18" type="hidden" value="<%=data.Column_18 %>">
 <input id="Column_19" name="Column_19" type="hidden" value="<%=data.Column_19 %>">
 <input id="Column_20" name="Column_20" type="hidden" value="<%=data.Column_20 %>">

			</form>
	</div>
						
</div>
		
           			<div class="row " >
			
			
	
		
								<div class="col"  >								
<br>
	</div>
		</div>	

        <%  i++; }) %>
        <% } else{ %>
           			<div class="row" >
			
		<div class="col d-flex justify-content-center mt-5"  >
			<p>No Data Found</p>
	</div>
		
	
		</div>
              
            
        <% } %>

	
	
		
		
		<!-- Bkank Row --> 
			<div class="row" >
			
		<div class="col d-flex justify-content-center mt-5"  >

	</div>
		
				<div class="col d-flex justify-content-center mt-5"   >
		</div>
		</div>
		
		
		
		<!-- Bkank Row --> 
			<div class="row" >
			
		<div class="col d-flex justify-content-center mt-5"  >

	</div>
		
				<div class="col d-flex justify-content-center mt-5"   >
		</div>
		</div>
		
					<!-- Bkank Row --> 
			<div class="row" >
			
		<div class="col d-flex justify-content-center mt-5"  >

	</div>
		
				<div class="col d-flex justify-content-center mt-5"   >
		</div>
		</div>
				

		
<!-- Bottom Buttons --> 
		<div class="row" >
			<div class="col mb-3">
				
				<form action="../Frontend/Export" class="button_height" method="post">
		<input type="submit" class="btn btn-primary btn-lg btn-block Grey2" value="Export">
					<%- include('../Partials/Global_Variables') -%>
					<input id="Form_Title14" name="Form_Title" type="hidden" value="Reports">
				 <input id="Form_Name" name="Form_Name" type="hidden" value="<%=AForm %>">
					<input id="Form_Name1" name="Date1" type="hidden" value="<%=Dateone %>">
					<input id="Form_Name2" name="Date2" type="hidden" value="<%=Datetwo %>">
					<input id="Report1" name="Report_Type" type="hidden" value="<%=ReportType %>">
					<input type="hidden"  id="Range_Select"  name="Report_Location" value="<%=Astore %>">
					<input id="Action_Id" name="Action" type="hidden" value="Export">
					</form>
					</div>
			
				  			<div class="col mb-3">
													
													<div class="test">
						                       <button class="btn btn-primary btn-lg btn-block Grey2"  data-toggle="collapse" data-target="#Hide_row_Floor_Ground" 
													   
													   type="button" onclick="window.print();return false;">Print</button>
														</div>
			     </div>
			</div>
				
		<div class="row" >
              <div class="col mb-3">
				  
				  <form action="../Frontend/Dashboard" class="button_height" method="post">
					    <%- include('../Partials/Global_Variables') -%>
					  <input id="Form_Title13" name="Form_Title" type="hidden" value="Forms">
					  <br>
					  
                       <button class="btn btn-block btn-primary btn-lg Light_Green_Button button_height "  data-toggle="collapse" data-target="#Hide_Stored" type="submit">Dashboard</button>
					  </form>
      
              </div>
		
              <div class="col  mb-3">
				 
				  <form action="../Frontend/Reports" class="button_height" method="post">
					    <%- include('../Partials/Global_Variables') -%>
					  <input id="Form_Title14" name="Form_Title" type="hidden" value="Reports">
					   <br>
                       <button class="btn btn-block btn-primary btn-lg button_height  Green_Button"  data-toggle="collapse" data-target="#Hide_Stored" type="submit">Reports</button>
       </form>
              </div>
		
		
	</div>
		
	</div>
	
	
	
	
			<%
        if(FormBox=="Packing"){
        %>	
	<%- include('../Partials/Weekly_Packing_Print_Table') -%>
		<% }  %>
			
				<%
        if(FormBox=="Processing"){
        %>	
	<%- include('../Partials/Weekly_Processing_Print_Table') -%>
		<% }  %>
	
				<%
        if(FormBox=="Cold Rooms"){
        %>	
	<%- include('../Partials/Weekly_Cold_Rooms_Print_Table') -%>
		<% }  %>	

	</body>
</html>

<script></script>
