<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<link href="../test.css" rel="stylesheet">
</head>


<body>
<nav class="navbar bg-green navbar-dark">
  <a class="bg-darkgreen" href="/Maint_Page.html"><%=formName %></a>
  <button class= "Menu_Button" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">

  </button>
  <div class=" collapse navbar-collapse bg-none" id="collapsibleNavbar">
	  <hr class="mb-4">
    <ul class="navbar-nav">
		   <li class="nav-item">
        <a class="bg-darkgreen2" href="/Settings_Page.html">Forms</a>
      </li>
      <li class="nav-item">
        <a class="bg-darkgreen2" href="/Settings_Page.html">Settings</a>
      </li>
      <li class="nav-item">
        <a class="bg-darkgreen2" href="/Maint_Page.html">Maintenance</a>
      </li>
      <li class="nav-item">
        <a class="bg-darkgreen2" href="Support_Page.html">Support</a>
      </li>
		      <li class="nav-item">
        <a class="bg-darkgreen2" href="/">Log Out</a>
      </li>   
    </ul>
  </div>  
</nav>
			    
	
	


   
<!---------------------------------------------------------------------------------------------------------------------->    

		<div class="container">
			<form class="needs-validation" action="/List" method="post">
			<input id="Name" name="Type" type="hidden" value="<%=formName %>">
           			<div class="row " >
			
							
								<div class="col"  >
										<br>
										<br>
						<label for="Item">Enter New Item</label>
               <input type="text" class="form-control" id="Item" Name="Name">
	</div>
						
								<div class="col"  >
									
										<br>
										<br>
										<br>
		
				     <button Class="btn btn-primary btn-lg btn-block Grey2" Id= "the_Add_Button" type="submit" >Add</button>
	</div>
									<div class="col"  >
								
										<br>
										<br>
										<br>

</div>

			</form>
	
						
</div>
		
		</div>	
			
<!----------------------------------------------------------------------------------------------------------------------> 			
	
	
	
	
	
	
	<div class="container">

   
        
        <%
        if(userData.length!=0){
        var i=1;
        userData.forEach(function(data){
        %>
		
		
		
           			<div class="row " >
			

			<div class="col"  >
				<br>
					<br>
			<label for="Number_selection"><%=formName %></label>
                <p class="form-control" id="Number_selection" ><%=i; %></p>
	</div>
			
	
						
								<div class="col"  >
										<br>
										<br>
						<label for="Date_selection">Name</label>
                <p class="form-control" id="Name_selection" ><%=data.Name %></p>
	</div>
						
								<div class="col"  >
									
										<br>
										<br>
										<br>
			<form class="needs-validation" action="/Frontend/List_Edit_Item" method="post">
											<input id="Id_Value" name="Id" type="hidden" value="<%=data.Id %>">
											<input id="Name_Form_Delete" name="Type" type="hidden" value="<%=formName %>">
				     <button Class="btn btn-primary btn-lg btn-block Grey" Id= "the_Edit_Button" type="submit" value="$Actual_Id" > Edit</button>
				</form>
	</div>
									<div class="col"  >
								
										<br>
										<br>
										<br>
										<form class="needs-validation" action="/Frontend/List_Delete" method="post">
											<input id="Id_Value" name="Id" type="hidden" value="<%=data.Id %>">
											<input id="Name_Form_Delete" name="Type" type="hidden" value="<%=formName %>">
        <button Class="btn btn-primary btn-lg btn-block Grey" Id= "the_Edit_Buttonw" type="submit" value="$Actual_Id" > Delete</button>
											</form>
</div>

			
	
						
</div>
			
			

        <%  i++; }) %>
        <% } else{ %>
           			<div class="row" >
			
		<div class="col d-flex justify-content-center mt-5"  >
			<p>No Data Found</p>
	</div>
		
	
		</div>
              
            
        <% } %>
 
		
	
		
		
		
		<!-- Bkank Row --> 
			<div class="row" >
			
		<div class="col d-flex justify-content-center mt-5"  >

	</div>
		
				<div class="col d-flex justify-content-center mt-5"   >
		</div>
		</div>
		
		
		
		<!-- Bkank Row --> 
			<div class="row" >
			
		<div class="col d-flex justify-content-center mt-5"  >

	</div>
		
				<div class="col d-flex justify-content-center mt-5"   >
		</div>
		</div>
		
					<!-- Bkank Row --> 
			<div class="row" >
			
		<div class="col d-flex justify-content-center mt-5"  >

	</div>
		
				<div class="col d-flex justify-content-center mt-5"   >
		</div>
		</div>
				

		
<!-- Bottom Buttons --> 
		<div class="row" >
              <div class="col mb-3">
				  
				  <form action="Dashboard.html" class="button_height" >
					  <br>
                       <button class="btn btn-block btn-primary btn-lg Light_Green_Button button_height "  data-toggle="collapse" data-target="#Hide_Stored" type="submit">Dashboard</button>
					  </form>
      
              </div>
		
              <div class="col  mb-3">
				 
				  <form action="Reports.html" class="button_height" >
					   <br>
                       <button class="btn btn-block btn-primary btn-lg button_height  Green_Button"  data-toggle="collapse" data-target="#Hide_Stored" type="submit">Reports</button>
       </form>
              </div>
		
		
	</div>
		
	</div>
	
	
	</body>
</html>
