
<!doctype html>
<html lang="en">
<%- include('../../Partials/MetaData') -%>
<%- include('../../Partials/Print_Style') -%>
  <body >
	  
<%- include('../../Partials/NavBar') -%>

	  	  	  <%
        if(userData.length!=0){
        var i=1;
        userData.forEach(function(data){
        %>	  
	  
	  
    <div class="container noPrint">
  

      <div class="row">
        
        <div class="col-md-12 order-md-1">
      <p>Materials cannot be received if PO# is not provided, trailer is not clean and odor free and/or there are safety/security issues.</p>
			</div> 
		    </div>
		
		
          <form class="needs-validation" action="../../Frontend/Dashboard" method="post">
			 <input id="Form_Name" name="Form_Name" type="hidden" value="Incoming_Materials">
			   <%- include('../../Partials/Global_Variables') -%>
			  <input id="Form_Title" name="Form_Title" type="hidden" value="Forms">
<input id="Form_Id" name="Id" type="hidden" value="<%=data.Id %>">	
		  
		 <div class="row">
              <div class="col-md-6 mb-3">
                <label for="Date">Date</label>
				  <p class="form-control"><%=data.Date %></p>
                <input type="hidden" class="form-control" id="Date" value="<%=data.Date %>" name="Date"  >
                <div class="invalid-feedback">
                  Valid Date is .
                </div>
              </div>
					   
					   
              <div class="col-md-6 mb-3">
				<label for="country">Store Location</label>
				  <p class="form-control"><%=data.store %></p>
                <input type="hidden" class="custom-select d-block w-100" id="country" name="FormStore" value="<%=data.store %>">
              </div>
					   
            </div>
			  
			  
			 
<!-------Material(s) Name & Approved Supplier Name-------------------------------------------------------------------------------------------------------->
            <div class="row align-items-end">
              <div class="col-md-12 mb-3">
                <label for="Floor_Ground">Material(s) Name</label>
				  <p class="form-control"><%=data.Column_1 %></p>
                <input type="hidden" class="form-control Floor_Ground" name="Column_1" id="Action_Taken_Floor_Ground" placeholder="" value="<%=data.Column_1 %>" >
              </div>
          
				              <div class="col-md-12 mb-3">
                <label for="Floor_Ground">Approved Supplier Name</label>
								  <p class="form-control"><%=data.Column_2 %></p>
                <input type="hidden" class="form-control Floor_Ground" name="Column_2" id="Column_2" placeholder="" value="<%=data.Column_2 %>" >
              </div>
          
			  
			  </div>
			  
<!----------------------------------------------------------------------------------------------------------------------------------->


<!-------PO #-------------------------------------------------------------------------------------------------------->
            <div class="row align-items-end">
              <div class="col-md-12 mb-3">
                <label for="Stored">PO #</label>
				  <p class="form-control"><%=data.Column_3 %></p>
    <input type="hidden" class="form-control" id="Column_3" value="<%=data.Column_3 %>" name="Column_3">
				         <div class="invalid-feedback">
                  Please select a valid Condition.
                </div>
              </div>

          
			  
			  </div>
			  
			
<!----------------------------------------------------------------------------------------------------------------------------------->

			  
<!-------Clean & Odor free trailer Yes/No-------------------------------------------------------------------------------------------------------->
            <div class="row align-items-end">
              <div class="col-md-12 mb-3">
                <label for="Debris">Clean & Odor free trailer Yes/No</label>
				  <p class="form-control"><%=data.Column_4 %></p>
                  <input type="hidden" class="custom-select d-block w-100" id="Column_4" name="Column_4" value="<%=data.Column_4 %>" >
              </div>

          
			  
			  </div>
			  
<!----------------------------------------------------------------------------------------------------------------------------------->
  
 
<!-------Safety/Security/Quality Issues Yes/No-------------------------------------------------------------------------------------------------------->
            <div class="row align-items-end">
              <div class="col-md-12 mb-3">
                <label for="Debris">Safety/Security/Quality Issues Yes/No</label>
				  <p class="form-control"><%=data.Column_5 %></p>
                  <input type="hidden" class="custom-select d-block w-100" id="Column_5" name="Column_5">
              </div>

          
			  
			  </div>
			 
<!----------------------------------------------------------------------------------------------------------------------------------->

			  
<!-------Accept?----------->
            <div class="row align-items-end">
              <div class="col-md-12 mb-3">
                <label for="Health">Accept?</label>
				  <p class="form-control">	<!-------------A or R Conversion---A Yes--R No----------Accept------------------------------------------>
			    	  	  	  <%
        if(data.Column_6=="A"){
        %>
					  Yes
        <% } else{ %>
			  			    	  	  	  <%
        if(data.Column_6=="R"){
        %>
					  No
        <% } else{ %>
<%=data.Column_6 %>
        <% } %>	
		<% } %>	
   <!---------------------------------------------------------------------------------------></p>
                  <input type="hidden" class="custom-select d-block w-100" id="Health" value="<%=data.Column_6 %>" onchange="Hide_Option_Health()" name="Column_6">
              </div>

          
			  
			  </div>
			  
			 
			  
 <!-- hidden Row --------------------------------------------------------------------------------------------------------->

			  			  			  	  <%
        if(userDataCor.length!=0){
        var T=1;
        userDataCor.forEach(function(dataCor){
        %>	
			  <div  id="Hide_Health" style="display:none">
			  <div class="row"  >
				  
				  
				  
			  		<div class="col mb-3">	
			<label for="Action_Health">Corrective Action Taken</label>
						<p class="form-control"><%=dataCor.Corection_1 %></p>
                <input type="hidden" class="form-control" name="Corection_1" id="Action_Health" placeholder="" value="<%=dataCor.Corection_1 %>" >
			     </div>
				  
			
			  </div>
			  

	
	
              
			  
			  <div class="row"  >

				  
				  

				  
			<div class="col mb-3">	
	                <label for="Date_Health">Corrected Date</label>
				<p class="form-control"><%=dataCor.Corection_2 %></P>
                <input type="hidden" class="form-control" name="Corection_2" id="Date_Health" placeholder="" value="<%=dataCor.Corection_2 %>" >
				<input type="hidden" class="form-control"  id="Time_Health" placeholder="" value="" >
			     </div>
				  				  	  			<div class="col mb-3">	
						<label for="Corrected_Health">Corrected By</label>
				<p class="form-control"><%=dataCor.Corection_3 %></p>
                <input type="hidden" class="form-control" name="Corection_3" id="Corrected_Health" placeholder="" value="<%=dataCor.Corection_3 %>" >
			     </div>
              </div> 
			
			  
</div>

			  			  			  			          <%  T++; }) %>
        <% } else{ %>
            <tr>
                <td colspan="7">No Data Found</td>
            </tr>
        <% } %> 
<!---------------------------------------------------------------------------------------------------------------------> 

<!-------Received By:----------------------------------------------------------->
            <div class="row align-items-end">
              <div class="col-md-12 mb-3">
                <label for="Comment">Received By:</label>
				  <p class="form-control"><%=data.Column_7 %></P>
                   <input type="hidden" class="form-control" id="Comment" placeholder="" value="<%=data.Column_7 %>" name="Column_7" >
				         <div class="invalid-feedback">
                  Please select a valid Condition.
                </div>
              </div>

			  
			  </div>		  
		  
			          <%  i++; }) %>
        <% } else{ %>
            <tr>
                <td colspan="7">No Data Found</td>
            </tr>
        <% } %>					 			  
			  
<!---------------Bottom Buttons------------------------------------------------------------------------------------------------------> 
			  <br>
			  <hr class="mb-4">
			
			  			  <div class="row"  >

				  
				  

				  
			<div class="col mb-3">	
				
	                                      <button class="btn btn-primary btn-lg btn-block Grey2"  data-toggle="collapse" data-target="#Hide_row_Floor_Ground" type="submit">Dashboard</button>
					
			     </div>
		
				  				  	  			<div class="col mb-3">
													
													<div class="test">
						                       <button class="btn btn-primary btn-lg btn-block Grey2"  data-toggle="collapse" data-target="#Hide_row_Floor_Ground" 
											   type="button" 
											   onclick="window.print();return false;">Print</button>
														</div>
			     </div>
              </div> 
			  
          </form>
        
  
			  

    </div>
<%- include('../../Partials/Print_Table') -%>
<%- include('../../Partials/ScriptDataOnLoad') -%>
	  
  </body>
</html>
