<div id="container2">
	  
  <title>SheetJS Table Export</title>
	
<!-------------Packing--------------------------------------------------------------------------------->	
    	     <%
        if(userData.length!=0 && userData[0].Form_Name=="Packing" ){
        %>
	
  <table id="data-table" hidden >
	  <tr>
		  <td>Form Number</td>
		  <%
        if(userData2.length!=0){
      
        userData2.forEach(function(data2){
        %>
	<td><%=data2.Question %></td>
			          <% }) %>
        <% } else{ %>
        <% } %>	    
		
    </tr>
	  
	     <%
        if(userData.length!=0){
        var i=1;
        userData.forEach(function(data){
        %>
    <tr>
      <td><%=i; %></td>
		<td>"<%=data.Date %>"</td>
		<td><%=data.Column_1 %></td>
		<td><%=data.Column_2 %></td>
		<td><%=data.Column_3 %></td>
		<td><%=data.Column_4 %></td>
		<td><%=data.Column_5 %></td>
    </tr>
	          <%  i++; }) %>
        <% }
	  
	  
	  else{ %>

        <% } %>

    <tr>
		<td>Form Number</td>
		<td>Date</td>
		<td>Corrective Action Taken for Rejected Conditions</td>
		<td>Corrected By</td>
		<td>Date</td>
		<td>Time</td>
    </tr>
	  
	     <%
        if(userData.length!=0){
        var i=1;
        userData.forEach(function(data){
        %>
	 
	    <%
		var Count_T=1;
        userData3.forEach(function(data3){
	    %>
		
				<%
        if(data.Id==data3.Id){
       

        %>
	  
	  
	  	  			     <%
        if(data3.Corection_1!=0){
         T++; 

        %>
		<tr>
		 <td><%=Count_T; %></td>	
        <td>"<%=data3.Date %>"</td>
	    <td><%=data3.Corection_1 %></td>
		<td><%=data3.Corection_4 %></td>
		<td>"<%=data3.Corection_2 %>"</td>	
		<td><%=data3.Corection_3 %></td>
		</tr>
	  	<% } else{ %>
	  
	
          <% } %>
	  
	  	  			     <%
        if(data3.Corection_5!=0){
         T++; 

        %>
	  <tr>    
		 <td><%=Count_T; %></td> 
		<td>"<%=data3.Date %>"</td>
	    <td><%=data3.Corection_5 %></td>
		<td><%=data3.Corection_8 %></td>
		<td>"<%=data3.Corection_6 %>"</td>	
		<td><%=data3.Corection_7 %></td>	
	  </tr>
	  	<% } else{ %>
	  
	
          <% } %>
	  
	  
	  	  			     <%
        if(data3.Corection_9!=0){
         T++; 

        %>
	  <tr>
		  <td><%=Count_T; %></td>
		<td>"<%=data3.Date %>"</td>
	    <td><%=data3.Corection_9 %></td>
		<td><%=data3.Corection_12 %></td>
		<td>"<%=data3.Corection_10 %>"</td>	
		<td><%=data3.Corection_11 %></td>	
	  </tr>
	  	<% } else{ %>
	  
	
          <% } %>
	  
	  	  			     <%
        if(data3.Corection_13!=0){
         T++; 

        %>
	  <tr>
		  <td><%=Count_T; %></td>
		  <td>"<%=data3.Date %>"</td>
	    <td><%=data3.Corection_13 %></td>
		<td><%=data3.Corection_16 %></td>
		<td>"<%=data3.Corection_14 %>"</td>	
		<td><%=data3.Corection_15 %></td>	</tr>
      	<% } else{ %>
	  
	
          <% } %>
	  
	  
	  	  			     <%
        if(data3.Corection_17!=0){
         T++; 

        %>
	  <tr>
		  <td><%=Count_T; %></td>
		  <td>"<%=data3.Date %>"</td>
	    <td><%=data3.Corection_17 %></td>
		<td><%=data3.Corection_20 %></td>
		<td>"<%=data3.Corection_18 %>"</td>	
		<td><%=data3.Corection_19 %></td>	</tr>
	 	<% } else{ %>
	  
	
          <% } %>
	  
	  
		           <% } else{ %>
          <% } %>
	<%  Count_T++; }) %>

	          <%  i++; }) %>
        <% }
	  
	  
	  else{ %>
            
        <% } %>
  </table>
	
	<% } %>
<!-------------------------------------------------------------------------------------------------------------->	

<!-------------Processings--------------------------------------------------------------------------------->	
  	     <%
        if(userData.length!=0 && userData[0].Form_Name=="Processing" ){
        %>
	
  <table id="data-table" hidden >
	  <tr>
		  <td>Form Number</td>
		  <%
        if(userData2.length!=0){
      
        userData2.forEach(function(data2){
        %>
	<td><%=data2.Question %></td>
			          <% }) %>
        <% } else{ %>
        <% } %>	    
		
    </tr>
	  
	     <%
        if(userData.length!=0){
        var i=1;
        userData.forEach(function(data){
        %>
    <tr>
      <td><%=i; %></td>
		<td>"<%=data.Date %>"</td>
		<td><%=data.Column_1 %></td>
		<td><%=data.Column_2 %></td>
		<td><%=data.Column_3 %></td>
		<td><%=data.Column_4 %></td>
		<td><%=data.Column_5 %></td>
		<td><%=data.Column_6 %></td>
		<td><%=data.Column_7 %></td>
		<td><%=data.Column_8 %></td>
		<td><%=data.Column_9 %></td>
		<td><%=data.Column_10 %></td>
		<td><%=data.Column_11 %></td>
		<td><%=data.Column_12 %></td>		
		<td><%=data.Column_13 %></td>
		<td><%=data.Column_14 %></td>
		<td><%=data.Column_15 %></td>
    </tr>
	          <%  i++; }) %>
        <% }
	  
	  
	  else{ %>

        <% } %>

    <tr>
		<td>Form Number</td>
		<td>Date</td>
		<td>Corrective Action Taken for Rejected Conditions</td>
		<td>Corrected By</td>
		<td>Date</td>
		<td>Time</td>
    </tr>
	  
	     <%
        if(userData.length!=0){
        var i=1;
        userData.forEach(function(data){
        %>
	 
	    <%
		var Count_T=1;
        userData3.forEach(function(data3){
	    %>
		
				<%
        if(data.Id==data3.Id){
       

        %>
	  
	  
	  	  			     <%
        if(data3.Corection_1!=0){
         T++; 

        %>
		<tr>
		 <td><%=Count_T; %></td>	
        <td>"<%=data3.Date %>"</td>
	    <td><%=data3.Corection_1 %></td>
		<td><%=data3.Corection_4 %></td>
		<td>"<%=data3.Corection_2 %>"</td>	
		<td><%=data3.Corection_3 %></td>
		</tr>
	  	<% } else{ %>
	  
	
          <% } %>
	  
	  	  			     <%
        if(data3.Corection_5!=0){
         T++; 

        %>
	  <tr>    
		 <td><%=Count_T; %></td> 
		<td>"<%=data3.Date %>"</td>
	    <td><%=data3.Corection_5 %></td>
		<td><%=data3.Corection_8 %></td>
		<td>"<%=data3.Corection_6 %>"</td>	
		<td><%=data3.Corection_7 %></td>	
	  </tr>
	  	<% } else{ %>
	  
	
          <% } %>
	  
	  
	  	  			     <%
        if(data3.Corection_9!=0){
         T++; 

        %>
	  <tr>
		  <td><%=Count_T; %></td>
		<td>"<%=data3.Date %>"</td>
	    <td><%=data3.Corection_9 %></td>
		<td><%=data3.Corection_12 %></td>
		<td>"<%=data3.Corection_10 %>"</td>	
		<td><%=data3.Corection_11 %></td>	
	  </tr>
	  	<% } else{ %>
	  
	
          <% } %>
	  
	  	  			     <%
        if(data3.Corection_13!=0){
         T++; 

        %>
	  <tr>
		  <td><%=Count_T; %></td>
		  <td>"<%=data3.Date %>"</td>
	    <td><%=data3.Corection_13 %></td>
		<td><%=data3.Corection_16 %></td>
		<td>"<%=data3.Corection_14 %>"</td>	
		<td><%=data3.Corection_15 %></td>	</tr>
      	<% } else{ %>
	  
	
          <% } %>
	  
	  
	  	  			     <%
        if(data3.Corection_17!=0){
         T++; 

        %>
	  <tr>
		  <td><%=Count_T; %></td>
		  <td>"<%=data3.Date %>"</td>
	    <td><%=data3.Corection_17 %></td>
		<td><%=data3.Corection_20 %></td>
		<td>"<%=data3.Corection_18 %>"</td>	
		<td><%=data3.Corection_19 %></td>	</tr>
	 	<% } else{ %>
	  
	
          <% } %>
	  
	  
	  	  			     <%
        if(data3.Corection_21!=0){
         T++; 

        %>
	  <tr>
		  <td><%=Count_T; %></td>
		  <td>"<%=data3.Date %>"</td>
	    <td><%=data3.Corection_21 %></td>
		<td><%=data3.Corection_24 %></td>
		<td>"<%=data3.Corection_22 %>"</td>	
		<td><%=data3.Corection_23 %></td>	</tr>
	  	<% } else{ %>
	  
	
          <% } %>
	  
	  
	  	  			     <%
        if(data3.Corection_25!=0){
         T++; 

        %>
	  <tr>
		<td><%=Count_T; %></td> 
		<td>"<%=data3.Date %>"</td>
	    <td><%=data3.Corection_25 %></td>
		<td><%=data3.Corection_28 %></td>
		<td>"<%=data3.Corection_26 %>"</td>	
		<td><%=data3.Corection_27 %></td>	</tr>
	  	<% } else{ %>
	  
	
          <% } %>
	  
	  	  			     <%
        if(data3.Corection_29!=0){
         T++; 

        %>
	  <tr>
		<td><%=Count_T; %></td>  
		<td>"<%=data3.Date %>"</td>
	    <td><%=data3.Corection_29 %></td>
		<td><%=data3.Corection_32 %></td>
		<td>"<%=data3.Corection_30 %>"</td>	
		<td><%=data3.Corection_31 %></td>	</tr>
      	<% } else{ %>
	  
	
          <% } %>
	  
	  
	  	  			     <%
        if(data3.Corection_33!=0){
         T++; 

        %>
	  <tr>        
		<td><%=Count_T; %></td>  
		<td>"<%=data3.Date %>"</td>
	    <td><%=data3.Corection_33 %></td>
		<td><%=data3.Corection_36 %></td>
		<td>"<%=data3.Corection_34 %>"</td>	
		<td><%=data3.Corection_35 %></td>	</tr>
	  	<% } else{ %>
	  
	
          <% } %>
	  
	  
	  	  			     <%
        if(data3.Corection_37!=0){
         T++; 

        %>
	  <tr>        
		<td><%=Count_T; %></td>  
		<td>"<%=data3.Date %>"</td>
	    <td><%=data3.Corection_37 %></td>
		<td><%=data3.Corection_40 %></td>
		<td>"<%=data3.Corection_38 %>"</td>	
		<td><%=data3.Corection_39 %></td>	</tr>
	  	<% } else{ %>
	  
	
          <% } %>
	  
	  
	  	  			     <%
        if(data3.Corection_41!=0){
         T++; 

        %>
	  <tr>
		<td><%=Count_T; %></td>  
		<td>"<%=data3.Date %>"</td>
	    <td><%=data3.Corection_41 %></td>
		<td><%=data3.Corection_44 %></td>
		<td>"<%=data3.Corection_32 %>"</td>	
		<td><%=data3.Corection_43 %></td>	</tr>
	  	<% } else{ %>
	  
	
          <% } %>
	  
	  
	  	  			     <%
        if(data3.Corection_45!=0){
         T++; 

        %>
	  <tr>
		<td><%=Count_T; %></td>  
		<td>"<%=data3.Date %>"</td>
	    <td><%=data3.Corection_45 %></td>
		<td><%=data3.Corection_48 %></td>
		<td>"<%=data3.Corection_46 %>"</td>	
		<td><%=data3.Corection_47 %></td>	</tr>
      	<% } else{ %>
	  
	
          <% } %>
	  
	  
	  	  			     <%
        if(data3.Corection_49!=0){
         T++; 

        %>
	  <tr>        
		<td><%=Count_T; %></td>  
		<td>"<%=data3.Date %>"</td>
	    <td><%=data3.Corection_49 %></td>
		<td><%=data3.Corection_52 %></td>
		<td>"<%=data3.Corection_50 %>"</td>	
		<td><%=data3.Corection_51 %></td>	</tr>
	  	<% } else{ %>
	  
	
          <% } %>
	  
	  
	  	  			     <%
        if(data3.Corection_53!=0){
         T++; 

        %>
	  <tr>        
		<td><%=Count_T; %></td>
		<td>"<%=data3.Date %>"</td>
	    <td><%=data3.Corection_53 %></td>
		<td><%=data3.Corection_56 %></td>
		<td>"<%=data3.Corection_54 %>"</td>	
		<td><%=data3.Corection_55 %></td>	</tr>
	  	<% } else{ %>
	  
	
          <% } %>
	  
	  
	  	  			     <%
        if(data3.Corection_57!=0){
         T++; 

        %>
	  <tr>        
		<td><%=Count_T; %></td>  
		<td>"<%=data3.Date %>"</td>
	    <td><%=data3.Corection_57 %></td>
		<td><%=data3.Corection_60 %></td>
		<td>"<%=data3.Corection_58 %>"</td>	
		<td><%=data3.Corection_59 %></td>	</tr>
   	<% } else{ %>
	  
	
          <% } %>
	  
		           <% } else{ %>
          <% } %>
	<%  Count_T++; }) %>

	          <%  i++; }) %>
        <% }
	  
	  
	  else{ %>
            
        <% } %>
  </table>
	
	<% } %>
	
<!-------------------------------------------------------------------------------------------------------------->	
	
<!-------------Cold Rooms--------------------------------------------------------------------------------->	
    	     <%
        if(userData.length!=0 && userData[0].Form_Name=="Cold_Rooms" ){
        %>
	
  <table id="data-table" hidden >
	  <tr>
		  <td>Form Number</td>
		  <%
        if(userData2.length!=0){
      
        userData2.forEach(function(data2){
        %>
	<td><%=data2.Question %></td>
			          <% }) %>
        <% } else{ %>
        <% } %>	    
		
    </tr>
	  
	     <%
        if(userData.length!=0){
        var i=1;
        userData.forEach(function(data){
        %>
    <tr>
      <td><%=i; %></td>
		<td>"<%=data.Date %>"</td>
		<td><%=data.Column_1 %></td>
		<td><%=data.Column_2 %></td>
		<td><%=data.Column_3 %></td>
		<td><%=data.Column_4 %></td>
		<td><%=data.Column_5 %></td>
		<td><%=data.Column_6 %></td>
		<td><%=data.Column_7 %></td>
    </tr>
	          <%  i++; }) %>
        <% }
	  
	  
	  else{ %>

        <% } %>

    <tr>
		<td>Form Number</td>
		<td>Date</td>
		<td>Corrective Action Taken for Rejected Conditions</td>
		<td>Corrected By</td>
		<td>Date</td>
		<td>Time</td>
    </tr>
	  
	     <%
        if(userData.length!=0){
        var i=1;
        userData.forEach(function(data){
        %>
	 
	    <%
		var Count_T=1;
        userData3.forEach(function(data3){
	    %>
		
				<%
        if(data.Id==data3.Id){
       

        %>
	  
	  
	  	  			     <%
        if(data3.Corection_1!=0){
         T++; 

        %>
		<tr>
		 <td><%=Count_T; %></td>	
        <td>"<%=data3.Date %>"</td>
	    <td><%=data3.Corection_1 %></td>
		<td><%=data3.Corection_4 %></td>
		<td>"<%=data3.Corection_2 %>"</td>	
		<td><%=data3.Corection_3 %></td>
		</tr>
	  	<% } else{ %>
	  
	
          <% } %>
	  
	  	  			     <%
        if(data3.Corection_5!=0){
         T++; 

        %>
	  <tr>    
		 <td><%=Count_T; %></td> 
		<td>"<%=data3.Date %>"</td>
	    <td><%=data3.Corection_5 %></td>
		<td><%=data3.Corection_8 %></td>
		<td>"<%=data3.Corection_6 %>"</td>	
		<td><%=data3.Corection_7 %></td>	
	  </tr>
	  	<% } else{ %>
	  
	
          <% } %>
	  
	  
	  	  			     <%
        if(data3.Corection_9!=0){
         T++; 

        %>
	  <tr>
		  <td><%=Count_T; %></td>
		<td>"<%=data3.Date %>"</td>
	    <td><%=data3.Corection_9 %></td>
		<td><%=data3.Corection_12 %></td>
		<td>"<%=data3.Corection_10 %>"</td>	
		<td><%=data3.Corection_11 %></td>	
	  </tr>
	  	<% } else{ %>
	  
	
          <% } %>
	  
	  	  			     <%
        if(data3.Corection_13!=0){
         T++; 

        %>
	  <tr>
		  <td><%=Count_T; %></td>
		  <td>"<%=data3.Date %>"</td>
	    <td><%=data3.Corection_13 %></td>
		<td><%=data3.Corection_16 %></td>
		<td>"<%=data3.Corection_14 %>"</td>	
		<td><%=data3.Corection_15 %></td>	</tr>
      	<% } else{ %>
	  
	
          <% } %>
	  
	  
	  	  			     <%
        if(data3.Corection_17!=0){
         T++; 

        %>
	  <tr>
		  <td><%=Count_T; %></td>
		  <td>"<%=data3.Date %>"</td>
	    <td><%=data3.Corection_17 %></td>
		<td><%=data3.Corection_20 %></td>
		<td>"<%=data3.Corection_18 %>"</td>	
		<td><%=data3.Corection_19 %></td>	</tr>
	 	<% } else{ %>
	  
	
          <% } %>
	  
	  
	  	  			     <%
        if(data3.Corection_21!=0){
         T++; 

        %>
	  <tr>
		  <td><%=Count_T; %></td>
		  <td>"<%=data3.Date %>"</td>
	    <td><%=data3.Corection_21 %></td>
		<td><%=data3.Corection_24 %></td>
		<td>"<%=data3.Corection_22 %>"</td>	
		<td><%=data3.Corection_23 %></td>	</tr>
	  	<% } else{ %>
	  
	
          <% } %>
	  
	  
	  	  			     <%
        if(data3.Corection_25!=0){
         T++; 

        %>
	  <tr>
		<td><%=Count_T; %></td> 
		<td>"<%=data3.Date %>"</td>
	    <td><%=data3.Corection_25 %></td>
		<td><%=data3.Corection_28 %></td>
		<td>"<%=data3.Corection_26 %>"</td>	
		<td><%=data3.Corection_27 %></td>	</tr>
	  	<% } else{ %>
	  
	
          <% } %>
	  
	  
		           <% } else{ %>
          <% } %>
	<%  Count_T++; }) %>

	          <%  i++; }) %>
        <% }
	  
	  
	  else{ %>
            
        <% } %>
  </table>
	
	<% } %>
<!-------------------------------------------------------------------------------------------------------------->
	
<!-------------Cooler--------------------------------------------------------------------------------->	
  	     <%
        if(userData.length!=0 && userData[0].Form_Name=="Cooler" ){
        %>
	
  <table id="data-table" hidden >
    <tr>

				

			  <%
        if(userData2.length!=0){
        var i=1;
        userData2.forEach(function(data2){
        %>
	<td><%=data2.Question %></td>
			          <%  i++; }) %>
        <% } else{ %>
            
        <% } %>
		<td>Date</td>
		<td>Corrective Action Taken for Rejected Conditions</td>
		<td>Corrected By</td>
		<td>Corrected Date</td>
    </tr>
	  
	     <%
        if(userData.length!=0){
        var i=1;
        userData.forEach(function(data){
        %>
    <tr>
		<td>"<%=data.Date %>"</td>
		<td><%=data.Column_1 %></td>
		<td><%=data.Column_2 %></td>
		<td><%=data.Column_3 %></td>
		<td><%=data.Column_4 %></td>
		<td><%=data.Column_5 %></td>
		<td><%=data.Column_6 %></td>
		<td><%=data.Column_7 %></td>
	    <%
		var T=1;
        userData3.forEach(function(data3){
	    %>
		
				<%
        if(data.Id==data3.Id){
         T++; 

        %>
			     <%
        if(data3.Corection_21!=0){
         T++; 

        %>
        <td>"<%=data3.Date %>"</td>
	    <td><%=data3.Corection_21 %></td>
		<td><%=data3.Corection_24 %></td>
		<td>"<%=data3.Corection_22 %>"</td>		
	<% } else{ %>
	  
		
	    <td></td>
		<td></td>
		<td></td>
		<td></td>	

          <% } %>
		           <% } else{ %>
          <% } %>
	<%  T++; }) %>
		
    </tr>
	          <%  i++; }) %>
        <% }
	  
	  
	  else{ %>
           			<div class="row" >
			
		<div class="col d-flex justify-content-center mt-5"  >
			<p>No Data Found</p>
	</div>
		
	
		</div>
              
            
        <% } %>
  </table>
	
	<% } %>
	
<!-------------------------------------------------------------------------------------------------------------->	
	

<!-------------Thermometer Calibration--------------------------------------------------------------------------------->	
  	     <%
        if(userData.length!=0 && userData[0].Form_Name=="Thermometer_Calibration" ){
        %>
	
  <table id="data-table" hidden >
    <tr>
		
			  
		
		
		

      <td>Room Location</td>
		<td>Therm. Or probe #</td>
		<td>Date</td>
		<td>Time</td>
<td>Temperature Registered ˚F</td>
<td>NIST Temperature ˚F (Optional)</td>
<td>Corrective Action</td>
<td>Corrected By:(initials)</td>
		
    </tr>
	  
	     <%
        if(userData.length!=0){
        var i=1;
        userData.forEach(function(data){
        %>
    <tr>
		<td><%=data.Column_2 %></td>
		<td><%=data.Column_3 %></td>
		<td><%=data.Date %></td>
		<td><%=data.Column_1 %></td>
		<td><%=data.Column_4 %></td>
		<td><%=data.Column_5 %></td>
		<td><%=data.Column_7 %></td>
				<%
        if(data.Column_7!=0){
         T++; 

        %>
		<td><%=data.Column_8 %></td>
		
		           <% } else{ %>
           
                <td></td>
           
        <% } %>
		
    </tr>
	          <%  i++; }) %>
        <% }
	  
	  
	  else{ %>
              
            
        <% } %>
  </table>
	
	<% } %>
	
<!-------------------------------------------------------------------------------------------------------------->	
	
<!-------------Raw Product--------------------------------------------------------------------------------->	
  	     <%
        if(userData.length!=0 && userData[0].Form_Name=="Raw_Product" ){
        %>
	
  <table id="data-table" hidden >
    <tr>

				

			  <%
        if(userData2.length!=0){
        var i=1;
        userData2.forEach(function(data2){
        %>
	<td><%=data2.Question %></td>
			          <%  i++; }) %>
        <% } else{ %>
            
        <% } %>
		<td>Date</td>
		<td>Corrective Action Taken for Rejected Conditions</td>
		<td>Corrected By</td>
		<td>Corrected Date</td>
    </tr>
	  
	     <%
        if(userData.length!=0){
        var i=1;
        userData.forEach(function(data){
        %>
    <tr>
		<td>"<%=data.Date %>"</td>
		<td><%=data.Column_1 %></td>
		<td><%=data.Column_2 %></td>
		<td><%=data.Column_3 %></td>
		<td><%=data.Column_4 %></td>
		<td><%=data.Column_5 %></td>
		<td><%=data.Column_6 %></td>
		<td><%=data.Column_7 %></td>
		<td><%=data.Column_8 %></td>
		<td><%=data.Column_9 %></td>
		<td><%=data.Column_10 %></td>
	    <%
		var T=1;
        userData3.forEach(function(data3){
	    %>
		
				<%
        if(data.Id==data3.Id){
         T++; 

        %>
			     <%
        if(data3.Corection_29!=0){
         T++; 

        %>
        <td>"<%=data3.Date %>"</td>
	    <td><%=data3.Corection_29 %></td>
		<td><%=data3.Corection_32 %></td>
		<td>"<%=data3.Corection_30 %>"</td>		
	<% } else{ %>
	  
		
	    <td></td>
		<td></td>
		<td></td>
		<td></td>	

          <% } %>
		           <% } else{ %>
          <% } %>
	<%  T++; }) %>
		
    </tr>
	          <%  i++; }) %>
        <% }
	  
	  
	  else{ %>
           			<div class="row" >
			
		<div class="col d-flex justify-content-center mt-5"  >
			<p>No Data Found</p>
	</div>
		
	
		</div>
              
            
        <% } %>
  </table>
	
	<% } %>
	
<!-------------------------------------------------------------------------------------------------------------->		
	
	
<!-------------Incoming Materials--------------------------------------------------------------------------------->	
	
	  	     <%
        if(userData.length!=0 && userData[0].Form_Name=="Incoming_Materials" ){
        %>
 
		  
		    <table id="data-table" hidden >
				
			    <tr class="Row_Tall">
      <td>Date</td>
		<td>Material(s) Name & Approved Supplier Name</td>
<td>PO #*</td>
<td>Clean & Odor free trailer* Yes/No</td>
<td>Safety/Security/Quality Issues* Yes/No</td>
<td>Accepted Yes/No</td>
<td>Received By</td>
<td>Material</td>
<td>PO#</td>
<td>Corrective Action Taken</td>
<td>Correction Date</td>
<td>Corrected By</td>
    </tr>	
				
		<%
		userData.forEach(function(data){
        %>
		
		    <tr>
		<td>"<%=data.Date %>"</td>
		<td><%=data.Column_1 %>&nbsp;<%=data.Column_2 %></td>
		<td><%=data.Column_3 %></td>
		<td><%=data.Column_4 %></td>
		<td><%=data.Column_5 %></td>
				<td>
		<!--=========================Yes No Check===============================-->			
			<%
        if(data.Column_6=="R"){
  

        %>
		No
		
		           <% } else{ %>
           
                			<%
        if(data.Column_6=="A"){
  

        %>
		Yes
		
		           <% } else{ %>
           
                <%=data.Column_6 %>
           
        <% } %>   
           
        <% } %>              
<!--=================================================================-->
		</td>
		<td><%=data.Column_7 %></td>
								
				
			<%
		var T=0;
		userData3.forEach(function(data3){
        %>
								<%
        if(data.Id==data3.Id){
         T++; 

        %>
		
			     <%
        if(data3.Corection_1!=0){
         T++; 

        %>
					    <%
		var T=1;
        userData.forEach(function(data){
	    %>
				<%
        if(data.Id==data3.Id){
         T++; 

        %>
<td><%=data.Column_1 %></td>
<td><%=data.Column_3 %></td>
		           <% } else{ %>
          <% } %>
				<%  T++; }) %>
		<td><%=data3.Corection_1 %></td>
		<td>"<%=data3.Corection_2 %>"</td>
		<td><%=data3.Corection_3 %></td>		
  	
	<% }  %>			
				           <% } else{ %>
				
          <% } %>			
	<%  i++; }) %>	
    </tr>

				
				
				
				
	          <%  }) %>
	
			</table>	
				
	<% } %>	
	
<!-------------------------------------------------------------------------------------------------------------->	
	
<!-------------Brittle Plastics--------------------------------------------------------------------------------->	
	
	  	     <%
        if(userData.length!=0 && userData[0].Form_Name=="Brittle_Plastics" )
		{
        %>
 
		  
		    <table id="data-table" hidden >
			
<tr>
<td>Description</td>
<td>Location</td>
<td>Status</td>
<td>Corrective Action</td>
<td>Corrected By</td>
<td>Correction Date</td>
<td>Correction Time</td>
<td>Correction Review By</td>
<td>Status</td>
</tr>		
			
		<%
		var T=1
		userData.forEach(function(data){
			
        %>				
<!--++++++++++++++++++++++++++++++++++Row 1+++++++++++++++++++++++++++++++++++++++++++++-->
    <tr>
		<td>Overhead Lights</td>
		<td><%=data.Column_1 %></td>
		<td><strong><%=data.Column_2 %></strong></td>	
	    <%
		var T=1;
        userData3.forEach(function(data3){
	    %>
		
				<%
        if(data.Id==data3.Id){
         T++; 

        %>
		<td><%=data3.Corection_1 %></td>
		<td><%=data3.Corection_4 %></td>
		<td><%=data3.Corection_2 %></td>
		<td><%=data3.Corection_3 %></td>
		<td></td>
		<td></td>
		
		           <% } else{ %>
          <% } %>
	<%  T++; }) %>
</tr>
<!--++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->

<!--++++++++++++++++++++++++++++++++++Row 2+++++++++++++++++++++++++++++++++++++++++++++-->
    <tr>
		<td>Clocks</td>
		<td><%=data.Column_3 %></td>
		<td><strong><%=data.Column_4 %></strong></td>	
	    <%
		var T=1;
        userData3.forEach(function(data3){
	    %>
		
				<%
        if(data.Id==data3.Id){
         T++; 

        %>
		<td><%=data3.Corection_5 %></td>
		<td><%=data3.Corection_8 %></td>
		<td><%=data3.Corection_6 %></td>
		<td><%=data3.Corection_7 %></td>
		<td></td>
		<td></td>
		
		           <% } else{ %>
          <% } %>
	<%  T++; }) %>
</tr>
<!--++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->		
		
<!--++++++++++++++++++++++++++++++++++Row 3+++++++++++++++++++++++++++++++++++++++++++++-->
    <tr>
		<td>Windows</td>
		<td><%=data.Column_5 %></td>
		<td><strong><%=data.Column_6 %></strong></td>	
	    <%
		var T=1;
        userData3.forEach(function(data3){
	    %>
		
				<%
        if(data.Id==data3.Id){
         T++; 

        %>
		<td><%=data3.Corection_9 %></td>
		<td><%=data3.Corection_12 %></td>
		<td><%=data3.Corection_10 %></td>
		<td><%=data3.Corection_11 %></td>
		<td></td>
		<td></td>
		
		           <% } else{ %>
          <% } %>
	<%  T++; }) %>
</tr>
<!--++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->	
		
<!--++++++++++++++++++++++++++++++++++Row 4+++++++++++++++++++++++++++++++++++++++++++++-->
    <tr>
		<td>Doors</td>
		<td><%=data.Column_7 %></td>
		<td><strong><%=data.Column_8 %></strong></td>	
	    <%
		var T=1;
        userData3.forEach(function(data3){
	    %>
		
				<%
        if(data.Id==data3.Id){
         T++; 

        %>
		<td><%=data3.Corection_13 %></td>
		<td><%=data3.Corection_16 %></td>
		<td><%=data3.Corection_14 %></td>
		<td><%=data3.Corection_15 %></td>
		<td></td>
		<td></td>
		
		           <% } else{ %>
          <% } %>
	<%  T++; }) %>
</tr>
<!--++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->	
		
<!--++++++++++++++++++++++++++++++++++Row 5+++++++++++++++++++++++++++++++++++++++++++++-->
    <tr>
		<td>Hand Soap</td>
		<td><%=data.Column_9 %></td>
		<td><strong><%=data.Column_10 %></strong></td>	
	    <%
		var T=1;
        userData3.forEach(function(data3){
	    %>
		
				<%
        if(data.Id==data3.Id){
         T++; 

        %>
		<td><%=data3.Corection_17 %></td>
		<td><%=data3.Corection_20 %></td>
		<td><%=data3.Corection_18 %></td>
		<td><%=data3.Corection_19 %></td>
		<td></td>
		<td></td>
		
		           <% } else{ %>
          <% } %>
	<%  T++; }) %>
</tr>
<!--++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->	
		
<!--++++++++++++++++++++++++++++++++++Row 6+++++++++++++++++++++++++++++++++++++++++++++-->
      <tr>
		<td>Machine Guards</td>
		<td><%=data.Column_11 %></td>
		<td><strong><%=data.Column_12 %></strong></td>	
	    <%
		var T=1;
        userData3.forEach(function(data3){
	    %>
		
				<%
        if(data.Id==data3.Id){
         T++; 

        %>
		<td><%=data3.Corection_21 %></td>
		<td><%=data3.Corection_24 %></td>
		<td><%=data3.Corection_22 %></td>
		<td><%=data3.Corection_23 %></td>
		<td></td>
		<td></td>
		
		           <% } else{ %>
          <% } %>
	<%  T++; }) %>
</tr>
<!--++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->	
		
<!--++++++++++++++++++++++++++++++++++Row 7+++++++++++++++++++++++++++++++++++++++++++++-->
      <tr>
		<td>Scale Faces</td>
		<td><%=data.Column_13 %></td>
		<td><strong><%=data.Column_14 %></strong></td>	
	    <%
		var T=1;
        userData3.forEach(function(data3){
	    %>
		
				<%
        if(data.Id==data3.Id){
         T++; 

        %>
		<td><%=data3.Corection_25 %></td>
		<td><%=data3.Corection_28 %></td>
		<td><%=data3.Corection_26 %></td>
		<td><%=data3.Corection_27 %></td>
		<td></td>
		<td></td>
		
		           <% } else{ %>
          <% } %>
	<%  T++; }) %>
</tr>
<!--++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->	
		
<!--++++++++++++++++++++++++++++++++++Row 8+++++++++++++++++++++++++++++++++++++++++++++-->
      <tr>
		<td>Display Cases</td>
		<td><%=data.Column_15 %></td>
		<td><strong><%=data.Column_16 %></strong></td>	
	    <%
		var T=1;
        userData3.forEach(function(data3){
	    %>
		
				<%
        if(data.Id==data3.Id){
         T++; 

        %>
		<td><%=data3.Corection_29 %></td>
		<td><%=data3.Corection_32 %></td>
		<td><%=data3.Corection_30 %></td>
		<td><%=data3.Corection_31 %></td>
		<td></td>
		<td></td>
		
		           <% } else{ %>
          <% } %>
	<%  T++; }) %>
</tr>
<!--++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->	
	
				
			<%  T++; }) %>
				</table>
	<% } %>	
	
<!-------------------------------------------------------------------------------------------------------------->	
	
<!-------------Preventative Maintenance--------------------------------------------------------------------------------->	
	
	  	     <%
        if(userData.length!=0 && userData[0].Form_Name=="Preventative_Maintenance" ){
        %>
 
		  
		    <table id="data-table" hidden >
			
		    <tr>
      <td>ROP Equipment</td>
		<td>Maintenance Required/Instruction</td>
<td>Date Completed</td>
<td>Comments/Corrective Actions</td>
<td>Completed By</td>

    </tr>		
				
				
		<%
		userData.forEach(function(data){
        %>
    <tr>
		<td><%=data.Column_1%></td>
		<td><%=data.Column_2 %></td>
										<td>		<%
        if(data.Column_3!=0){
  

        %>
		"<%=data.Column_3 %>"
		
		           <% } else{ %>
           
        
           
        <% } %>                </td>
		<td><%=data.Column_4 %></td>
								 
		<%
        if(data.Column_4!=0){
        

        %>
		<td><%=data.Column_5 %></td>
		
		           <% } else{ %>
           
                <td></td>
           
        <% } %>
	</tr>
	          <% }) %>
	
			</table>	
				
	<% } %>	
	
<!-------------------------------------------------------------------------------------------------------------->	

<!-------------NUOCA--------------------------------------------------------------------------------->	
	
	  	     <%
        if(userData.length!=0 && userData[0].Form_Name=="NUOCA" ){
        %>
 
		  
		    <table id="data-table" hidden >
				
			    <tr class="Row_Tall">
      <td>Date</td>
		<td>Description of Occurrence</td>
<td>Corrective Actions</td>
<td>Date completed</td>
<td>Preventative Actions</td>
<td>Reported By</td>
    </tr>	
				
		<%
		userData.forEach(function(data){
        %>
    <tr class="Row_Tall">
						<td>		<%
        if(data.Date!=0){
  

        %>
		"<%=data.Date %>"
		
		           <% } else{ %>
           
        
           
        <% } %>                </td>
		<td><%=data.Column_1%></td>
		<td><%=data.Column_2 %></td>
								<td>		<%
        if(data.Column_3!=0){
  

        %>
		"<%=data.Column_3 %>"
		
		           <% } else{ %>
           
        
           
        <% } %>                </td>
		<td><%=data.Column_4 %></td>
								 
		<%
        if(data.Column_1!=0){
         

        %>
		<td><%=data.Column_5 %></td>
		
		           <% } else{ %>
           
                <td></td>
           
        <% } %>
		
		
				 
	</tr>
	          <%  }) %>
	
			</table>	
				
	<% } %>	
	
<!-------------------------------------------------------------------------------------------------------------->	
	
<!-------------Work Order--------------------------------------------------------------------------------->	  	     <%
        if(userData.length!=0 && userData[0].Form_Name=="Work_Order" ){
        var i=1;        %>
	
	<table id="data-table" hidden>
    <tr>
      <td>Requested By:</td>
		<td>Location:</td>
        <td>Date:</td>
        <td>Time:</td>
        <td>Problem or Concern:</td>
        <td>Priority:</td>
        <td>Dept. Responsible:</td>
		<td>Category</td>
        <td>Start Date:</td>
        <td>Time:</td>
        <td>Complete Date:</td>
        <td>Time:</td>
		<td>All tools and parts accounted for?</td>
		<td>Explanation:</td>
		<td>All guards in place and safety devices tested?</td>
		<td>All tools cleaned</td>
		<td>Area cleaned and ready for production?</td>
		<td>Area sanitized and ready for production?</td>
		<td>Initials</td>
		<td>Corrective Action:</td>
		</tr>
		
		<%
		userData.forEach(function(data){
        %>
    <tr>
		<td><%=data.Column_2%></td>
		<td><%=data.store %></td>
		<td>		<%
        if(data.Date!=0){
  

        %>
		"<%=data.Date %>"
		
		           <% } else{ %>
           
        
           
        <% } %>                </td>
		<td><%=data.Column_1 %></td>
		<td><%=data.Column_3 %></td>
		<td><%=data.Column_4 %></td>
		<td><%=data.Column_5 %></td>
	    <td>		<%
        if(data.Column_6=="R"){
  

        %>
		<%=data.Column_19 %>
		
		           <% } else{ %>
           
                <%=data.Column_6 %>
           
        <% } %>              </td>
		<td>		<%
        if(data.Column_7!=0){
  

        %>
		"<%=data.Column_7 %>"
		
		           <% } else{ %>
           
        
           
        <% } %>                </td>
		<td><%=data.Column_8 %></td>
		<td>		<%
        if(data.Column_9!=0){
  

        %>
		"<%=data.Column_9 %>"
		
		           <% } else{ %>
           
        
           
        <% } %>   
	
	</td>
		
		<td><%=data.Column_10 %></td>
		
	    <td>
			
<!--=========================Yes No Check===============================-->			
			<%
        if(data.Column_11=="R"){
  

        %>
		No
		
		           <% } else{ %>
           
                			<%
        if(data.Column_11=="A"){
  

        %>
		Yes
		
		           <% } else{ %>
           
                <%=data.Column_11 %>
           
        <% } %>   
           
        <% } %>              
<!--=================================================================-->	
		</td>
		
		<td><%=data.Column_18 %> </td>
		<td><%=data.Column_12 %></td>
		<td><%=data.Column_13 %></td>
		<td><%=data.Column_14 %></td>
		<td><%=data.Column_15 %></td>
		<td><%=data.Column_16 %></td>
		<td><%=data.Column_17 %></td>
	</tr>
	          <%  i++; }) %>
		

</table>
	
	 <% } %>
<!------------------------------------------------------------------------------------------------------------------------->	
	
	
<!-------------Released_Material--------------------------------------------------------------------------------->	  	     <%
        if(userData.length!=0 && userData[0].Form_Name=="Released_Material" ){
        var i=1;        %>
	
	<table id="data-table" hidden>
 <tr>
<td>Product</td>
<td>Supplier</td>
<td>Lot Code</td>
<td>On-Hold Date</td>
<td>Time</td>
<td>Amount of product</td>
<td>Rejection Date</td>
<td>Hold By</td>
<td>Reason for Hold/Rejection</td>
<td>Corrective Actions (including Release or Disposal details)</td>
<td>Release Date</td>
<td>Released By</td>
<td>Certificate of Destruction on File Y / N</td>
<td>Comments:</td>
 </tr>
		
		<%
		userData.forEach(function(data){
        %>
    <tr>
		<td><%=data.Column_1%></td>
		<td><%=data.Column_2 %></td>
		<td><%=data.Column_3 %></td>
				<td>		<%
        if(data.Column_4!=0){
  

        %>
		"<%=data.Column_4 %>"
		
		           <% } else{ %>
           
        
           
        <% } %>                </td>
		<td><%=data.Column_5 %></td>
		<td><%=data.Column_6 %></td>
				<td>		<%
        if(data.Column_7!=0){
  

        %>
		"<%=data.Column_7 %>"
		
		           <% } else{ %>
           
        
           
        <% } %>                </td>
		<td><%=data.Column_8 %></td>
		<td><%=data.Column_9%></td>
		<td><%=data.Column_14 %></td>
						<td>		<%
        if(data.Column_10!=0){
  

        %>
		"<%=data.Column_10 %>"
		
		           <% } else{ %>
           
        
           
        <% } %>                </td>
		<td><%=data.Column_11%></td>
		<td><%=data.Column_12 %></td>
		<td><%=data.Column_13 %></td>
	</tr>
	          <%  i++; }) %>
		

</table>
	
	 <% } %>
<!------------------------------------------------------------------------------------------------------------------------->	
	
<!-------------Foreign Materials--------------------------------------------------------------------------------->	
	
	  	     <%
        if(userData.length!=0 && userData[0].Form_Name=="Foreign_Materials" ){
        %>
 
		  
		    <table id="data-table" hidden >
				
			    <tr class="Row_Tall">
<td>Date</td>
<td>Time</td>
<td>Product</td>
<td>Describe Foreign Material found</td>
<td>Corrective Action</td>
<td>Corrected By (Name)</td>
    </tr>	
				
		<%
		userData.forEach(function(data){
        %>
    <tr class="Row_Tall">
						<td>		<%
        if(data.Date!=0){
  

        %>
		"<%=data.Date %>"
		
		           <% } else{ %>
           
        
           
        <% } %>                </td>
		<td><%=data.Column_1 %></td>
		<td><%=data.Column_2 %></td>
		<td><%=data.Column_3 %></td>
		
		   <%
		var T=1;
        userData3.forEach(function(data3){
	    %>
		
						<%
        if(data.Id==data3.Id){
         T++; 

        %>
		<td><%=data3.Corection_9 %></td>
		<%
        if(data3.Corection_9!=0){
         T++; 

        %>
		<td><%=data3.Corection_12 %></td>
		
      <% } else{ %>
           
                <td></td>
           
            <% } %>	
		
		    <% } 
		
		else{ %>
          <% } %>
		
<%  T++; }) %>
		
				 
	</tr>
	          <%  }) %>
	
			</table>	
				
	<% } %>	
	
<!-------------------------------------------------------------------------------------------------------------->
	
</div>