<div id="container2">
	  
  <title>SheetJS Table Export</title>
  <table id="data-table" hidden >
    <tr>
      <td>Form Number</td>
		<td>Form</td>
		
			     <%
        if(userData2.length!=0){
        var i=1;
        userData2.forEach(function(data2){
        %>
	<td><%=data2.Question %></td>
			          <%  i++; }) %>
        <% } else{ %>
           			<div class="row" >
			
		<div class="col d-flex justify-content-center mt-5"  >
			<p>No Data Found</p>
	</div>
		
	
		</div>
              
            
        <% } %>
		
    </tr>
	  
	     <%
        if(userData.length!=0){
        var i=1;
        userData.forEach(function(data){
        %>
    <tr>
      <td><%=i; %></td>
		<td><%=FormBox %></td>
		<td>"<%=data.Date %>"</td>
		<td><%=data.Column_1 %></td>
		<td><%=data.Column_2 %></td>
		<td><%=data.Column_3 %></td>
		<td><%=data.Column_4 %></td>
		<td><%=data.Column_5 %></td>
		<td><%=data.Column_6 %></td>
		<td><%=data.Column_7 %></td>
		<td><%=data.Column_8 %></td>
		<td><%=data.Column_9 %></td>
		<td><%=data.Column_10 %></td>
		<td><%=data.Column_11 %></td>
		<td><%=data.Column_12 %></td>		
		<td><%=data.Column_13 %></td>
		<td><%=data.Column_14 %></td>
		<td><%=data.Column_15 %></td>
		<td><%=data.Column_16 %></td>
		<td><%=data.Column_17 %></td>
		<td><%=data.Column_18 %></td>
		<td><%=data.Column_19 %></td>
		<td><%=data.Column_19 %></td>
		
    </tr>
	          <%  i++; }) %>
        <% } else{ %>
           			<div class="row" >
			
		<div class="col d-flex justify-content-center mt-5"  >
			<p>No Data Found</p>
	</div>
		
	
		</div>
              
            
        <% } %>
  </table>
</div>