<div id="container2" class="hide-on-screen">




	  	 
<!-------------Cold_Rooms----------------------------------------------------------------------------------------------------->	  	     <%
        if(userData.length!=0 && userData[0].Form_Name=="Cold_Rooms" ){
        %>
		<table  class="Row_border">
  <tbody>
    <tr>
      <td><strong>OLIVER’S MARKET</strong>
</td>
    </tr>
  </tbody>
</table>
	
	<table  border="1" class="Row_main">
  <tbody>
	  <tr >
      <td ><strong>Doc #</strong><br> FORM 10.1C
HACCP ROP</td>
      <td><strong>Title:</strong> <br>
Daily Pre-Operational Inspection Checklist (Cold Rooms)</td>
      <td><strong>Date Created:</strong><br>
08-01-2019</td>
    </tr>
    <tr>
      <td><strong>Version #:</strong><br>
V 2.0</td>
      <td><strong>Prepared By:</strong><br>
John Matthews.</td>
      <td><strong>Date Revised:</strong><br>
07-15-2020</td>
    </tr>
  </tbody>
</table>
	
	
		<table width="100%" >
  <tbody>
    <tr class="Row_no_border">
      <td >Month: Year:_________ Store Loc:_________________</td>
		
		
		<td  >		
	<table width="100%" class="Row_border2">
  <tbody>
    <tr >
		<td  >	<table width="100%" class="Row_border3" >
  <tbody>
    <tr >
		<td  ><strong>Complete</strong> checklist <strong>BEFORE</strong> starting production</td>
		
    </tr>
  </tbody>
</table></td>
		
    </tr>
  </tbody>
</table>
		
		</td>
		
    </tr>
  </tbody>
			
			
</table>
	<p>Please circle “A” if condition is acceptable. Circle “R” if condition is rejected AND record corrective actions taken, by whom and the date and time correction was completed.</p>
<table id="data-table2" border="1" class="Print_Table">

      <tr><td>Cold Rooms Inspection Checklist</td>

	 
<!-------Day---------------------------------------------------------------------------------------------> 		
						

<!-------Sunday---------------------------------------------------------------------------------------------> 			<%

			var Sunday =0;		
		userData.forEach(function(data){

var d = new Date(data.Date+"T00:00:00");
var dayName = d.getDay();
        %>
		
			<%
        if(dayName==0){
			Sunday++;
        %>		
		<% }  %>
		
			
						<%
        if(dayName==0){
        %>
<td>Sun</td>
		<% }  %>
			
			
			 <%   }) %>
						
			
						<%
        if(Sunday==0){
        %>
<td>Sun</td>
			
		<% }  %>
<!---------------------------------------------------------------------------------------------------------> 				
<!-------Monday---------------------------------------------------------------------------------------------> 			
	<%

			var Monday =0;	
		userData.forEach(function(data){

var d = new Date(data.Date+"T00:00:00");
var dayName = d.getDay();
        %>
		
			<%
        if(dayName==1){
			Monday++;
        %>		
		<% }  %>
		
			
						<%
        if(dayName==1){
        %>
<td>Mon</td>
		<% }  %>
			
			
			 <%   }) %>
						
			
						<%
        if(Monday==0){
        %>
<td>Mon</td>
			
		<% }  %>
<!---------------------------------------------------------------------------------------------------------> 		

<!-------Tuesday---------------------------------------------------------------------------------------------> 			
	<%

			var Tuesday =0;	
		userData.forEach(function(data){

var d = new Date(data.Date+"T00:00:00");
var dayName = d.getDay();
        %>
		
			<%
        if(dayName==2){
			Tuesday++;
        %>		
		<% }  %>
		
			
						<%
        if(dayName==2){
        %>
<td>Tue</td>
		<% }  %>
			
			
			 <%   }) %>
						
			
						<%
        if(Tuesday==0){
        %>
<td>Tue</td>
			
		<% }  %>
<!---------------------------------------------------------------------------------------------------------> 		
	
<!-------Wednesday---------------------------------------------------------------------------------------------> 			
	<%

			var Wednesday =0;	
		userData.forEach(function(data){

var d = new Date(data.Date+"T00:00:00");
var dayName = d.getDay();
        %>
		
			<%
        if(dayName==3){
			Wednesday++;
        %>		
		<% }  %>
		
			
						<%
        if(dayName==3){
        %>
<td>Wed</td>
		<% }  %>
			
			
			 <%   }) %>
						
			
						<%
        if(Wednesday==0){
        %>
<td>Wed</td>
			
		<% }  %>
<!---------------------------------------------------------------------------------------------------------> 		
			
<!-------Thursday---------------------------------------------------------------------------------------------> 			
	<%


			var Thursday =0;	
		userData.forEach(function(data){

var d = new Date(data.Date+"T00:00:00");
var dayName = d.getDay();
        %>
		
			<%
        if(dayName==4){
			Thursday++;
        %>		
		<% }  %>
		
			
						<%
        if(dayName==4){
        %>
<td>Thu</td>
		<% }  %>
			
			
			 <%   }) %>
						
			
						<%
        if(Thursday==0){
        %>
<td>Thu</td>
			
		<% }  %>
<!---------------------------------------------------------------------------------------------------------> 		

<!-------Friday---------------------------------------------------------------------------------------------> 			
	<%


			var Friday =0;
		userData.forEach(function(data){

var d = new Date(data.Date+"T00:00:00");
var dayName = d.getDay();
        %>
		
			<%
        if(dayName==5){
			Friday++;
        %>		
		<% }  %>
		
			
						<%
        if(dayName==5){
        %>
<td>Fri</td>
		<% }  %>
			
			
			 <%   }) %>
						
			
						<%
        if(Friday==0){
        %>
<td>Fri</td>
			
		<% }  %>
<!---------------------------------------------------------------------------------------------------------> 		
			
<!-------Saturday---------------------------------------------------------------------------------------------> 		<%


			var Saturday =0;	
		userData.forEach(function(data){

var d = new Date(data.Date+"T00:00:00");
var dayName = d.getDay();
        %>
		
			<%
        if(dayName==6){
			Saturday++;
        %>		
		<% }  %>
		
			
						<%
        if(dayName==6){
        %>
<td>Sat</td>
		<% }  %>
			
			
			 <%   }) %>
						
			
						<%
        if(Saturday==0){
        %>
<td>Sat</td>
			
		<% }  %>
			
			 </tr>
<!---------------------------------------------------------------------------------------------------------> 
	
	
<!-------Date---------------------------------------------------------------------------------------------> 		
		<tr>
			
	  <td>Date of Inspection</td>
			
			

<!-------Sunday---------------------------------------------------------------------------------------------> 			<%

			var Sunday =0;		
		userData.forEach(function(data){

var d = new Date(data.Date+"T00:00:00");
var dayName = d.getDay();
        %>
		
			<%
        if(dayName==0){
			Sunday++;
        %>		
		<% }  %>
		
			
						<%
        if(dayName==0){
        %>
<td><%=data.Date %></td>
		<% }  %>
			
			
			 <%   }) %>
						
			
						<%
        if(Sunday==0){
        %>
<td>&nbsp;</td>
			
		<% }  %>
<!---------------------------------------------------------------------------------------------------------> 				
<!-------Monday---------------------------------------------------------------------------------------------> 			
	<%

			var Monday =0;	
		userData.forEach(function(data){

var d = new Date(data.Date+"T00:00:00");
var dayName = d.getDay();
        %>
		
			<%
        if(dayName==1){
			Monday++;
        %>		
		<% }  %>
		
			
						<%
        if(dayName==1){
        %>
<td><%=data.Date %></td>
		<% }  %>
			
			
			 <%   }) %>
						
			
						<%
        if(Monday==0){
        %>
<td>&nbsp;</td>
			
		<% }  %>
<!---------------------------------------------------------------------------------------------------------> 		

<!-------Tuesday---------------------------------------------------------------------------------------------> 			
	<%

			var Tuesday =0;	
		userData.forEach(function(data){

var d = new Date(data.Date+"T00:00:00");
var dayName = d.getDay();
        %>
		
			<%
        if(dayName==2){
			Tuesday++;
        %>		
		<% }  %>
		
			
						<%
        if(dayName==2){
        %>
<td><%=data.Date %></td>
		<% }  %>
			
			
			 <%   }) %>
						
			
						<%
        if(Tuesday==0){
        %>
<td>&nbsp;</td>
			
		<% }  %>
<!---------------------------------------------------------------------------------------------------------> 		
	
<!-------Wednesday---------------------------------------------------------------------------------------------> 			
	<%

			var Wednesday =0;	
		userData.forEach(function(data){

var d = new Date(data.Date+"T00:00:00");
var dayName = d.getDay();
        %>
		
			<%
        if(dayName==3){
			Wednesday++;
        %>		
		<% }  %>
		
			
						<%
        if(dayName==3){
        %>
<td><%=data.Date %></td>
		<% }  %>
			
			
			 <%   }) %>
						
			
						<%
        if(Wednesday==0){
        %>
<td>&nbsp;</td>
			
		<% }  %>
<!---------------------------------------------------------------------------------------------------------> 		
			
<!-------Thursday---------------------------------------------------------------------------------------------> 			
	<%


			var Thursday =0;	
		userData.forEach(function(data){

var d = new Date(data.Date+"T00:00:00");
var dayName = d.getDay();
        %>
		
			<%
        if(dayName==4){
			Thursday++;
        %>		
		<% }  %>
		
			
						<%
        if(dayName==4){
        %>
<td><%=data.Date %></td>
		<% }  %>
			
			
			 <%   }) %>
						
			
						<%
        if(Thursday==0){
        %>
<td>&nbsp;</td>
			
		<% }  %>
<!---------------------------------------------------------------------------------------------------------> 		

<!-------Friday---------------------------------------------------------------------------------------------> 			
	<%


			var Friday =0;
		userData.forEach(function(data){

var d = new Date(data.Date+"T00:00:00");
var dayName = d.getDay();
        %>
		
			<%
        if(dayName==5){
			Friday++;
        %>		
		<% }  %>
		
			
						<%
        if(dayName==5){
        %>
<td><%=data.Date %></td>
		<% }  %>
			
			
			 <%   }) %>
						
			
						<%
        if(Friday==0){
        %>
<td>&nbsp;</td>
			
		<% }  %>
<!---------------------------------------------------------------------------------------------------------> 		
			
<!-------Saturday---------------------------------------------------------------------------------------------> 		<%


			var Saturday =0;	
		userData.forEach(function(data){

var d = new Date(data.Date+"T00:00:00");
var dayName = d.getDay();
        %>
		
			<%
        if(dayName==6){
			Saturday++;
        %>		
		<% }  %>
		
			
						<%
        if(dayName==6){
        %>
<td><%=data.Date %></td>
		<% }  %>
			
			
			 <%   }) %>
						
			
						<%
        if(Saturday==0){
        %>
<td>&nbsp;</td>
			
		<% }  %>
			
			 </tr>
<!---------------------------------------------------------------------------------------------------------> 				
<!-------Column 1---------------------------------------------------------------------------------------------> 		
		<tr>
			
	  <td><%=userData2[1].Question %></td>
			
			

<!-------Sunday---------------------------------------------------------------------------------------------> 			<%

			var Sunday =0;		
		userData.forEach(function(data){

var d = new Date(data.Date+"T00:00:00");
var dayName = d.getDay();
        %>
		
			<%
        if(dayName==0){
			Sunday++;
        %>		
		<% }  %>
		
			
						<%
        if(dayName==0){
        %>
<td><%=data.Column_1  %></td>
		<% }  %>
			
			
			 <%   }) %>
						
			
						<%
        if(Sunday==0){
        %>
<td>A R</td>
			
		<% }  %>
<!---------------------------------------------------------------------------------------------------------> 				
<!-------Monday---------------------------------------------------------------------------------------------> 			
	<%

			var Monday =0;	
		userData.forEach(function(data){

var d = new Date(data.Date+"T00:00:00");
var dayName = d.getDay();
        %>
		
			<%
        if(dayName==1){
			Monday++;
        %>		
		<% }  %>
		
			
						<%
        if(dayName==1){
        %>
<td><%=data.Column_1  %></td>
		<% }  %>
			
			
			 <%   }) %>
						
			
						<%
        if(Monday==0){
        %>
<td>A R</td>
			
		<% }  %>
<!---------------------------------------------------------------------------------------------------------> 		

<!-------Tuesday---------------------------------------------------------------------------------------------> 			
	<%

			var Tuesday =0;	
		userData.forEach(function(data){

var d = new Date(data.Date+"T00:00:00");
var dayName = d.getDay();
        %>
		
			<%
        if(dayName==2){
			Tuesday++;
        %>		
		<% }  %>
		
			
						<%
        if(dayName==2){
        %>
<td><%=data.Column_1  %></td>
		<% }  %>
			
			
			 <%   }) %>
						
			
						<%
        if(Tuesday==0){
        %>
<td>A R</td>
			
		<% }  %>
<!---------------------------------------------------------------------------------------------------------> 		
	
<!-------Wednesday---------------------------------------------------------------------------------------------> 			
	<%

			var Wednesday =0;	
		userData.forEach(function(data){

var d = new Date(data.Date+"T00:00:00");
var dayName = d.getDay();
        %>
		
			<%
        if(dayName==3){
			Wednesday++;
        %>		
		<% }  %>
		
			
						<%
        if(dayName==3){
        %>
<td><%=data.Column_1  %></td>
		<% }  %>
			
			
			 <%   }) %>
						
			
						<%
        if(Wednesday==0){
        %>
<td>A R</td>
			
		<% }  %>
<!---------------------------------------------------------------------------------------------------------> 		
			
<!-------Thursday---------------------------------------------------------------------------------------------> 			
	<%


			var Thursday =0;	
		userData.forEach(function(data){

var d = new Date(data.Date+"T00:00:00");
var dayName = d.getDay();
        %>
		
			<%
        if(dayName==4){
			Thursday++;
        %>		
		<% }  %>
		
			
						<%
        if(dayName==4){
        %>
<td><%=data.Column_1  %></td>
		<% }  %>
			
			
			 <%   }) %>
						
			
						<%
        if(Thursday==0){
        %>
<td>A R</td>
			
		<% }  %>
<!---------------------------------------------------------------------------------------------------------> 		

<!-------Friday---------------------------------------------------------------------------------------------> 			
	<%


			var Friday =0;
		userData.forEach(function(data){

var d = new Date(data.Date+"T00:00:00");
var dayName = d.getDay();
        %>
		
			<%
        if(dayName==5){
			Friday++;
        %>		
		<% }  %>
		
			
						<%
        if(dayName==5){
        %>
<td><%=data.Column_1  %></td>
		<% }  %>
			
			
			 <%   }) %>
						
			
						<%
        if(Friday==0){
        %>
<td>A R</td>
			
		<% }  %>
<!---------------------------------------------------------------------------------------------------------> 		
			
<!-------Saturday---------------------------------------------------------------------------------------------> 		<%


			var Saturday =0;	
		userData.forEach(function(data){

var d = new Date(data.Date+"T00:00:00");
var dayName = d.getDay();
        %>
		
			<%
        if(dayName==6){
			Saturday++;
        %>		
		<% }  %>
		
			
						<%
        if(dayName==6){
        %>
<td><%=data.Column_1  %></td>
		<% }  %>
			
			
			 <%   }) %>
						
			
						<%
        if(Saturday==0){
        %>
<td>A R</td>
			
		<% }  %>
			
			 </tr>
<!---------------------------------------------------------------------------------------------------------> 				
<!-------Column 2---------------------------------------------------------------------------------------------> 		
		<tr>
			
	  <td><%=userData2[2].Question %></td>
			
			

<!-------Sunday---------------------------------------------------------------------------------------------> 			<%

			var Sunday =0;		
		userData.forEach(function(data){

var d = new Date(data.Date+"T00:00:00");
var dayName = d.getDay();
        %>
		
			<%
        if(dayName==0){
			Sunday++;
        %>		
		<% }  %>
		
			
						<%
        if(dayName==0){
        %>
<td><%=data.Column_2  %></td>
		<% }  %>
			
			
			 <%   }) %>
						
			
						<%
        if(Sunday==0){
        %>
<td>A R</td>
			
		<% }  %>
<!---------------------------------------------------------------------------------------------------------> 				
<!-------Monday---------------------------------------------------------------------------------------------> 			
	<%

			var Monday =0;	
		userData.forEach(function(data){

var d = new Date(data.Date+"T00:00:00");
var dayName = d.getDay();
        %>
		
			<%
        if(dayName==1){
			Monday++;
        %>		
		<% }  %>
		
			
						<%
        if(dayName==1){
        %>
<td><%=data.Column_2  %></td>
		<% }  %>
			
			
			 <%   }) %>
						
			
						<%
        if(Monday==0){
        %>
<td>A R</td>
			
		<% }  %>
<!---------------------------------------------------------------------------------------------------------> 		

<!-------Tuesday---------------------------------------------------------------------------------------------> 			
	<%

			var Tuesday =0;	
		userData.forEach(function(data){

var d = new Date(data.Date+"T00:00:00");
var dayName = d.getDay();
        %>
		
			<%
        if(dayName==2){
			Tuesday++;
        %>		
		<% }  %>
		
			
						<%
        if(dayName==2){
        %>
<td><%=data.Column_2  %></td>
		<% }  %>
			
			
			 <%   }) %>
						
			
						<%
        if(Tuesday==0){
        %>
<td>A R</td>
			
		<% }  %>
<!---------------------------------------------------------------------------------------------------------> 		
	
<!-------Wednesday---------------------------------------------------------------------------------------------> 			
	<%

			var Wednesday =0;	
		userData.forEach(function(data){

var d = new Date(data.Date+"T00:00:00");
var dayName = d.getDay();
        %>
		
			<%
        if(dayName==3){
			Wednesday++;
        %>		
		<% }  %>
		
			
						<%
        if(dayName==3){
        %>
<td><%=data.Column_2  %></td>
		<% }  %>
			
			
			 <%   }) %>
						
			
						<%
        if(Wednesday==0){
        %>
<td>A R</td>
			
		<% }  %>
<!---------------------------------------------------------------------------------------------------------> 		
			
<!-------Thursday---------------------------------------------------------------------------------------------> 			
	<%


			var Thursday =0;	
		userData.forEach(function(data){

var d = new Date(data.Date+"T00:00:00");
var dayName = d.getDay();
        %>
		
			<%
        if(dayName==4){
			Thursday++;
        %>		
		<% }  %>
		
			
						<%
        if(dayName==4){
        %>
<td><%=data.Column_2  %></td>
		<% }  %>
			
			
			 <%   }) %>
						
			
						<%
        if(Thursday==0){
        %>
<td>A R</td>
			
		<% }  %>
<!---------------------------------------------------------------------------------------------------------> 		

<!-------Friday---------------------------------------------------------------------------------------------> 			
	<%


			var Friday =0;
		userData.forEach(function(data){

var d = new Date(data.Date+"T00:00:00");
var dayName = d.getDay();
        %>
		
			<%
        if(dayName==5){
			Friday++;
        %>		
		<% }  %>
		
			
						<%
        if(dayName==5){
        %>
<td><%=data.Column_2  %></td>
		<% }  %>
			
			
			 <%   }) %>
						
			
						<%
        if(Friday==0){
        %>
<td>A R</td>
			
		<% }  %>
<!---------------------------------------------------------------------------------------------------------> 		
			
<!-------Saturday---------------------------------------------------------------------------------------------> 		<%


			var Saturday =0;	
		userData.forEach(function(data){

var d = new Date(data.Date+"T00:00:00");
var dayName = d.getDay();
        %>
		
			<%
        if(dayName==6){
			Saturday++;
        %>		
		<% }  %>
		
			
						<%
        if(dayName==6){
        %>
<td><%=data.Column_2  %></td>
		<% }  %>
			
			
			 <%   }) %>
						
			
						<%
        if(Saturday==0){
        %>
<td>A R</td>
			
		<% }  %>
			
			 </tr>
<!---------------------------------------------------------------------------------------------------------> 				
<!-------Column 3---------------------------------------------------------------------------------------------> 		
		<tr>
			
	  <td><%=userData2[3].Question %></td>
			
			

<!-------Sunday---------------------------------------------------------------------------------------------> 			<%

			var Sunday =0;		
		userData.forEach(function(data){

var d = new Date(data.Date+"T00:00:00");
var dayName = d.getDay();
        %>
		
			<%
        if(dayName==0){
			Sunday++;
        %>		
		<% }  %>
		
			
						<%
        if(dayName==0){
        %>
<td><%=data.Column_3  %></td>
		<% }  %>
			
			
			 <%   }) %>
						
			
						<%
        if(Sunday==0){
        %>
<td>A R</td>
			
		<% }  %>
<!---------------------------------------------------------------------------------------------------------> 				
<!-------Monday---------------------------------------------------------------------------------------------> 			
	<%

			var Monday =0;	
		userData.forEach(function(data){

var d = new Date(data.Date+"T00:00:00");
var dayName = d.getDay();
        %>
		
			<%
        if(dayName==1){
			Monday++;
        %>		
		<% }  %>
		
			
						<%
        if(dayName==1){
        %>
<td><%=data.Column_3  %></td>
		<% }  %>
			
			
			 <%   }) %>
						
			
						<%
        if(Monday==0){
        %>
<td>A R</td>
			
		<% }  %>
<!---------------------------------------------------------------------------------------------------------> 		

<!-------Tuesday---------------------------------------------------------------------------------------------> 			
	<%

			var Tuesday =0;	
		userData.forEach(function(data){

var d = new Date(data.Date+"T00:00:00");
var dayName = d.getDay();
        %>
		
			<%
        if(dayName==2){
			Tuesday++;
        %>		
		<% }  %>
		
			
						<%
        if(dayName==2){
        %>
<td><%=data.Column_3  %></td>
		<% }  %>
			
			
			 <%   }) %>
						
			
						<%
        if(Tuesday==0){
        %>
<td>A R</td>
			
		<% }  %>
<!---------------------------------------------------------------------------------------------------------> 		
	
<!-------Wednesday---------------------------------------------------------------------------------------------> 			
	<%

			var Wednesday =0;	
		userData.forEach(function(data){

var d = new Date(data.Date+"T00:00:00");
var dayName = d.getDay();
        %>
		
			<%
        if(dayName==3){
			Wednesday++;
        %>		
		<% }  %>
		
			
						<%
        if(dayName==3){
        %>
<td><%=data.Column_3  %></td>
		<% }  %>
			
			
			 <%   }) %>
						
			
						<%
        if(Wednesday==0){
        %>
<td>A R</td>
			
		<% }  %>
<!---------------------------------------------------------------------------------------------------------> 		
			
<!-------Thursday---------------------------------------------------------------------------------------------> 			
	<%


			var Thursday =0;	
		userData.forEach(function(data){

var d = new Date(data.Date+"T00:00:00");
var dayName = d.getDay();
        %>
		
			<%
        if(dayName==4){
			Thursday++;
        %>		
		<% }  %>
		
			
						<%
        if(dayName==4){
        %>
<td><%=data.Column_3  %></td>
		<% }  %>
			
			
			 <%   }) %>
						
			
						<%
        if(Thursday==0){
        %>
<td>A R</td>
			
		<% }  %>
<!---------------------------------------------------------------------------------------------------------> 		

<!-------Friday---------------------------------------------------------------------------------------------> 			
	<%


			var Friday =0;
		userData.forEach(function(data){

var d = new Date(data.Date+"T00:00:00");
var dayName = d.getDay();
        %>
		
			<%
        if(dayName==5){
			Friday++;
        %>		
		<% }  %>
		
			
						<%
        if(dayName==5){
        %>
<td><%=data.Column_3  %></td>
		<% }  %>
			
			
			 <%   }) %>
						
			
						<%
        if(Friday==0){
        %>
<td>A R</td>
			
		<% }  %>
<!---------------------------------------------------------------------------------------------------------> 		
			
<!-------Saturday---------------------------------------------------------------------------------------------> 		<%


			var Saturday =0;	
		userData.forEach(function(data){

var d = new Date(data.Date+"T00:00:00");
var dayName = d.getDay();
        %>
		
			<%
        if(dayName==6){
			Saturday++;
        %>		
		<% }  %>
		
			
						<%
        if(dayName==6){
        %>
<td><%=data.Column_3  %></td>
		<% }  %>
			
			
			 <%   }) %>
						
			
						<%
        if(Saturday==0){
        %>
<td>A R</td>
			
		<% }  %>
			
			 </tr>
<!---------------------------------------------------------------------------------------------------------> 		
	
	
<!-------Column 4---------------------------------------------------------------------------------------------> 		
		<tr>
			
	  <td><%=userData2[4].Question %></td>
			
			

<!-------Sunday---------------------------------------------------------------------------------------------> 			<%

			var Sunday =0;		
		userData.forEach(function(data){

var d = new Date(data.Date+"T00:00:00");
var dayName = d.getDay();
        %>
		
			<%
        if(dayName==0){
			Sunday++;
        %>		
		<% }  %>
		
			
						<%
        if(dayName==0){
        %>
<td><%=data.Column_4  %></td>
		<% }  %>
			
			
			 <%   }) %>
						
			
						<%
        if(Sunday==0){
        %>
<td>A R</td>
			
		<% }  %>
<!---------------------------------------------------------------------------------------------------------> 				
<!-------Monday---------------------------------------------------------------------------------------------> 			
	<%

			var Monday =0;	
		userData.forEach(function(data){

var d = new Date(data.Date+"T00:00:00");
var dayName = d.getDay();
        %>
		
			<%
        if(dayName==1){
			Monday++;
        %>		
		<% }  %>
		
			
						<%
        if(dayName==1){
        %>
<td><%=data.Column_4  %></td>
		<% }  %>
			
			
			 <%   }) %>
						
			
						<%
        if(Monday==0){
        %>
<td>A R</td>
			
		<% }  %>
<!---------------------------------------------------------------------------------------------------------> 		

<!-------Tuesday---------------------------------------------------------------------------------------------> 			
	<%

			var Tuesday =0;	
		userData.forEach(function(data){

var d = new Date(data.Date+"T00:00:00");
var dayName = d.getDay();
        %>
		
			<%
        if(dayName==2){
			Tuesday++;
        %>		
		<% }  %>
		
			
						<%
        if(dayName==2){
        %>
<td><%=data.Column_4  %></td>
		<% }  %>
			
			
			 <%   }) %>
						
			
						<%
        if(Tuesday==0){
        %>
<td>A R</td>
			
		<% }  %>
<!---------------------------------------------------------------------------------------------------------> 		
	
<!-------Wednesday---------------------------------------------------------------------------------------------> 			
	<%

			var Wednesday =0;	
		userData.forEach(function(data){

var d = new Date(data.Date+"T00:00:00");
var dayName = d.getDay();
        %>
		
			<%
        if(dayName==3){
			Wednesday++;
        %>		
		<% }  %>
		
			
						<%
        if(dayName==3){
        %>
<td><%=data.Column_4  %></td>
		<% }  %>
			
			
			 <%   }) %>
						
			
						<%
        if(Wednesday==0){
        %>
<td>A R</td>
			
		<% }  %>
<!---------------------------------------------------------------------------------------------------------> 		
			
<!-------Thursday---------------------------------------------------------------------------------------------> 			
	<%


			var Thursday =0;	
		userData.forEach(function(data){

var d = new Date(data.Date+"T00:00:00");
var dayName = d.getDay();
        %>
		
			<%
        if(dayName==4){
			Thursday++;
        %>		
		<% }  %>
		
			
						<%
        if(dayName==4){
        %>
<td><%=data.Column_4  %></td>
		<% }  %>
			
			
			 <%   }) %>
						
			
						<%
        if(Thursday==0){
        %>
<td>A R</td>
			
		<% }  %>
<!---------------------------------------------------------------------------------------------------------> 		

<!-------Friday---------------------------------------------------------------------------------------------> 			
	<%


			var Friday =0;
		userData.forEach(function(data){

var d = new Date(data.Date+"T00:00:00");
var dayName = d.getDay();
        %>
		
			<%
        if(dayName==5){
			Friday++;
        %>		
		<% }  %>
		
			
						<%
        if(dayName==5){
        %>
<td><%=data.Column_4  %></td>
		<% }  %>
			
			
			 <%   }) %>
						
			
						<%
        if(Friday==0){
        %>
<td>A R</td>
			
		<% }  %>
<!---------------------------------------------------------------------------------------------------------> 		
			
<!-------Saturday---------------------------------------------------------------------------------------------> 		<%


			var Saturday =0;	
		userData.forEach(function(data){

var d = new Date(data.Date+"T00:00:00");
var dayName = d.getDay();
        %>
		
			<%
        if(dayName==6){
			Saturday++;
        %>		
		<% }  %>
		
			
						<%
        if(dayName==6){
        %>
<td><%=data.Column_4  %></td>
		<% }  %>
			
			
			 <%   }) %>
						
			
						<%
        if(Saturday==0){
        %>
<td>A R</td>
			
		<% }  %>
			
			 </tr>
<!---------------------------------------------------------------------------------------------------------> 				
	         
<!-------Column 5---------------------------------------------------------------------------------------------> 		
		<tr>
			
	  <td><%=userData2[5].Question %></td>
			
			

<!-------Sunday---------------------------------------------------------------------------------------------> 			<%

			var Sunday =0;		
		userData.forEach(function(data){

var d = new Date(data.Date+"T00:00:00");
var dayName = d.getDay();
        %>
		
			<%
        if(dayName==0){
			Sunday++;
        %>		
		<% }  %>
		
			
						<%
        if(dayName==0){
        %>
<td><%=data.Column_5  %></td>
		<% }  %>
			
			
			 <%   }) %>
						
			
						<%
        if(Sunday==0){
        %>
<td>A R</td>
			
		<% }  %>
<!---------------------------------------------------------------------------------------------------------> 				
<!-------Monday---------------------------------------------------------------------------------------------> 			
	<%

			var Monday =0;	
		userData.forEach(function(data){

var d = new Date(data.Date+"T00:00:00");
var dayName = d.getDay();
        %>
		
			<%
        if(dayName==1){
			Monday++;
        %>		
		<% }  %>
		
			
						<%
        if(dayName==1){
        %>
<td><%=data.Column_5  %></td>
		<% }  %>
			
			
			 <%   }) %>
						
			
						<%
        if(Monday==0){
        %>
<td>A R</td>
			
		<% }  %>
<!---------------------------------------------------------------------------------------------------------> 		

<!-------Tuesday---------------------------------------------------------------------------------------------> 			
	<%

			var Tuesday =0;	
		userData.forEach(function(data){

var d = new Date(data.Date+"T00:00:00");
var dayName = d.getDay();
        %>
		
			<%
        if(dayName==2){
			Tuesday++;
        %>		
		<% }  %>
		
			
						<%
        if(dayName==2){
        %>
<td><%=data.Column_5  %></td>
		<% }  %>
			
			
			 <%   }) %>
						
			
						<%
        if(Tuesday==0){
        %>
<td>A R</td>
			
		<% }  %>
<!---------------------------------------------------------------------------------------------------------> 		
	
<!-------Wednesday---------------------------------------------------------------------------------------------> 			
	<%

			var Wednesday =0;	
		userData.forEach(function(data){

var d = new Date(data.Date+"T00:00:00");
var dayName = d.getDay();
        %>
		
			<%
        if(dayName==3){
			Wednesday++;
        %>		
		<% }  %>
		
			
						<%
        if(dayName==3){
        %>
<td><%=data.Column_5  %></td>
		<% }  %>
			
			
			 <%   }) %>
						
			
						<%
        if(Wednesday==0){
        %>
<td>A R</td>
			
		<% }  %>
<!---------------------------------------------------------------------------------------------------------> 		
			
<!-------Thursday---------------------------------------------------------------------------------------------> 			
	<%


			var Thursday =0;	
		userData.forEach(function(data){

var d = new Date(data.Date+"T00:00:00");
var dayName = d.getDay();
        %>
		
			<%
        if(dayName==4){
			Thursday++;
        %>		
		<% }  %>
		
			
						<%
        if(dayName==4){
        %>
<td><%=data.Column_5  %></td>
		<% }  %>
			
			
			 <%   }) %>
						
			
						<%
        if(Thursday==0){
        %>
<td>A R</td>
			
		<% }  %>
<!---------------------------------------------------------------------------------------------------------> 		

<!-------Friday---------------------------------------------------------------------------------------------> 			
	<%


			var Friday =0;
		userData.forEach(function(data){

var d = new Date(data.Date+"T00:00:00");
var dayName = d.getDay();
        %>
		
			<%
        if(dayName==5){
			Friday++;
        %>		
		<% }  %>
		
			
						<%
        if(dayName==5){
        %>
<td><%=data.Column_5  %></td>
		<% }  %>
			
			
			 <%   }) %>
						
			
						<%
        if(Friday==0){
        %>
<td>A R</td>
			
		<% }  %>
<!---------------------------------------------------------------------------------------------------------> 		
			
<!-------Saturday---------------------------------------------------------------------------------------------> 		<%


			var Saturday =0;	
		userData.forEach(function(data){

var d = new Date(data.Date+"T00:00:00");
var dayName = d.getDay();
        %>
		
			<%
        if(dayName==6){
			Saturday++;
        %>		
		<% }  %>
		
			
						<%
        if(dayName==6){
        %>
<td><%=data.Column_5  %></td>
		<% }  %>
			
			
			 <%   }) %>
						
			
						<%
        if(Saturday==0){
        %>
<td>A R</td>
			
		<% }  %>
			
			 </tr>
<!---------------------------------------------------------------------------------------------------------> 		
	
<!-------Column 6---------------------------------------------------------------------------------------------> 		
		<tr>
			
	  <td><%=userData2[6].Question %></td>
			
			

<!-------Sunday---------------------------------------------------------------------------------------------> 			<%

			var Sunday =0;		
		userData.forEach(function(data){

var d = new Date(data.Date+"T00:00:00");
var dayName = d.getDay();
        %>
		
			<%
        if(dayName==0){
			Sunday++;
        %>		
		<% }  %>
		
			
						<%
        if(dayName==0){
        %>
<td><%=data.Column_6  %></td>
		<% }  %>
			
			
			 <%   }) %>
						
			
						<%
        if(Sunday==0){
        %>
<td>A R</td>
			
		<% }  %>
<!---------------------------------------------------------------------------------------------------------> 				
<!-------Monday---------------------------------------------------------------------------------------------> 			
	<%

			var Monday =0;	
		userData.forEach(function(data){

var d = new Date(data.Date+"T00:00:00");
var dayName = d.getDay();
        %>
		
			<%
        if(dayName==1){
			Monday++;
        %>		
		<% }  %>
		
			
						<%
        if(dayName==1){
        %>
<td><%=data.Column_6  %></td>
		<% }  %>
			
			
			 <%   }) %>
						
			
						<%
        if(Monday==0){
        %>
<td>A R</td>
			
		<% }  %>
<!---------------------------------------------------------------------------------------------------------> 		

<!-------Tuesday---------------------------------------------------------------------------------------------> 			
	<%

			var Tuesday =0;	
		userData.forEach(function(data){

var d = new Date(data.Date+"T00:00:00");
var dayName = d.getDay();
        %>
		
			<%
        if(dayName==2){
			Tuesday++;
        %>		
		<% }  %>
		
			
						<%
        if(dayName==2){
        %>
<td><%=data.Column_6  %></td>
		<% }  %>
			
			
			 <%   }) %>
						
			
						<%
        if(Tuesday==0){
        %>
<td>A R</td>
			
		<% }  %>
<!---------------------------------------------------------------------------------------------------------> 		
	
<!-------Wednesday---------------------------------------------------------------------------------------------> 			
	<%

			var Wednesday =0;	
		userData.forEach(function(data){

var d = new Date(data.Date+"T00:00:00");
var dayName = d.getDay();
        %>
		
			<%
        if(dayName==3){
			Wednesday++;
        %>		
		<% }  %>
		
			
						<%
        if(dayName==3){
        %>
<td><%=data.Column_6  %></td>
		<% }  %>
			
			
			 <%   }) %>
						
			
						<%
        if(Wednesday==0){
        %>
<td>A R</td>
			
		<% }  %>
<!---------------------------------------------------------------------------------------------------------> 		
			
<!-------Thursday---------------------------------------------------------------------------------------------> 			
	<%


			var Thursday =0;	
		userData.forEach(function(data){

var d = new Date(data.Date+"T00:00:00");
var dayName = d.getDay();
        %>
		
			<%
        if(dayName==4){
			Thursday++;
        %>		
		<% }  %>
		
			
						<%
        if(dayName==4){
        %>
<td><%=data.Column_6  %></td>
		<% }  %>
			
			
			 <%   }) %>
						
			
						<%
        if(Thursday==0){
        %>
<td>A R</td>
			
		<% }  %>
<!---------------------------------------------------------------------------------------------------------> 		

<!-------Friday---------------------------------------------------------------------------------------------> 			
	<%


			var Friday =0;
		userData.forEach(function(data){

var d = new Date(data.Date+"T00:00:00");
var dayName = d.getDay();
        %>
		
			<%
        if(dayName==5){
			Friday++;
        %>		
		<% }  %>
		
			
						<%
        if(dayName==5){
        %>
<td><%=data.Column_6  %></td>
		<% }  %>
			
			
			 <%   }) %>
						
			
						<%
        if(Friday==0){
        %>
<td>A R</td>
			
		<% }  %>
<!---------------------------------------------------------------------------------------------------------> 		
			
<!-------Saturday---------------------------------------------------------------------------------------------> 		<%


			var Saturday =0;	
		userData.forEach(function(data){

var d = new Date(data.Date+"T00:00:00");
var dayName = d.getDay();
        %>
		
			<%
        if(dayName==6){
			Saturday++;
        %>		
		<% }  %>
		
			
						<%
        if(dayName==6){
        %>
<td><%=data.Column_6  %></td>
		<% }  %>
			
			
			 <%   }) %>
						
			
						<%
        if(Saturday==0){
        %>
<td>A R</td>
			
		<% }  %>
			
			 </tr>
<!---------------------------------------------------------------------------------------------------------> 	         
<!-------Column 7---------------------------------------------------------------------------------------------> 		
		<tr>
			
	  <td><%=userData2[7].Question %></td>
			
			

<!-------Sunday---------------------------------------------------------------------------------------------> 			<%

			var Sunday =0;		
		userData.forEach(function(data){

var d = new Date(data.Date+"T00:00:00");
var dayName = d.getDay();
        %>
		
			<%
        if(dayName==0){
			Sunday++;
        %>		
		<% }  %>
		
			
						<%
        if(dayName==0){
        %>
<td><%=data.Column_7  %></td>
		<% }  %>
			
			
			 <%   }) %>
						
			
						<%
        if(Sunday==0){
        %>
<td>A R</td>
			
		<% }  %>
<!---------------------------------------------------------------------------------------------------------> 				
<!-------Monday---------------------------------------------------------------------------------------------> 			
	<%

			var Monday =0;	
		userData.forEach(function(data){

var d = new Date(data.Date+"T00:00:00");
var dayName = d.getDay();
        %>
		
			<%
        if(dayName==1){
			Monday++;
        %>		
		<% }  %>
		
			
						<%
        if(dayName==1){
        %>
<td><%=data.Column_7  %></td>
		<% }  %>
			
			
			 <%   }) %>
						
			
						<%
        if(Monday==0){
        %>
<td>A R</td>
			
		<% }  %>
<!---------------------------------------------------------------------------------------------------------> 		

<!-------Tuesday---------------------------------------------------------------------------------------------> 			
	<%

			var Tuesday =0;	
		userData.forEach(function(data){

var d = new Date(data.Date+"T00:00:00");
var dayName = d.getDay();
        %>
		
			<%
        if(dayName==2){
			Tuesday++;
        %>		
		<% }  %>
		
			
						<%
        if(dayName==2){
        %>
<td><%=data.Column_7  %></td>
		<% }  %>
			
			
			 <%   }) %>
						
			
						<%
        if(Tuesday==0){
        %>
<td>A R</td>
			
		<% }  %>
<!---------------------------------------------------------------------------------------------------------> 		
	
<!-------Wednesday---------------------------------------------------------------------------------------------> 			
	<%

			var Wednesday =0;	
		userData.forEach(function(data){

var d = new Date(data.Date+"T00:00:00");
var dayName = d.getDay();
        %>
		
			<%
        if(dayName==3){
			Wednesday++;
        %>		
		<% }  %>
		
			
						<%
        if(dayName==3){
        %>
<td><%=data.Column_7  %></td>
		<% }  %>
			
			
			 <%   }) %>
						
			
						<%
        if(Wednesday==0){
        %>
<td>A R</td>
			
		<% }  %>
<!---------------------------------------------------------------------------------------------------------> 		
			
<!-------Thursday---------------------------------------------------------------------------------------------> 			
	<%


			var Thursday =0;	
		userData.forEach(function(data){

var d = new Date(data.Date+"T00:00:00");
var dayName = d.getDay();
        %>
		
			<%
        if(dayName==4){
			Thursday++;
        %>		
		<% }  %>
		
			
						<%
        if(dayName==4){
        %>
<td><%=data.Column_7  %></td>
		<% }  %>
			
			
			 <%   }) %>
						
			
						<%
        if(Thursday==0){
        %>
<td>A R</td>
			
		<% }  %>
<!---------------------------------------------------------------------------------------------------------> 		

<!-------Friday---------------------------------------------------------------------------------------------> 			
	<%


			var Friday =0;
		userData.forEach(function(data){

var d = new Date(data.Date+"T00:00:00");
var dayName = d.getDay();
        %>
		
			<%
        if(dayName==5){
			Friday++;
        %>		
		<% }  %>
		
			
						<%
        if(dayName==5){
        %>
<td><%=data.Column_7  %></td>
		<% }  %>
			
			
			 <%   }) %>
						
			
						<%
        if(Friday==0){
        %>
<td>A R</td>
			
		<% }  %>
<!---------------------------------------------------------------------------------------------------------> 		
			
<!-------Saturday---------------------------------------------------------------------------------------------> 		<%


			var Saturday =0;	
		userData.forEach(function(data){

var d = new Date(data.Date+"T00:00:00");
var dayName = d.getDay();
        %>
		
			<%
        if(dayName==6){
			Saturday++;
        %>		
		<% }  %>
		
			
						<%
        if(dayName==6){
        %>
<td><%=data.Column_7  %></td>
		<% }  %>
			
			
			 <%   }) %>
						
			
						<%
        if(Saturday==0){
        %>
<td>A R</td>
			
		<% }  %>
			
			 </tr>
	</table>
<!---------------------------------------------------------------------------------------------------------> 	

<!---------------------------------------------------------------------------------------------------------> 


	
			  	     <%
        if(userData3.length!=0 && userData3[0].Form_Name=="Cold_Rooms" ){
			
        %>
	<br>
	<table id="Correction-table" border="1" class="Print_Table">
	    <tr>
		<td>Date</td>
		<td>Corrective Action Taken for Rejected Conditions</td>
		<td>Corrected By</td>
		<td>Date</td>
		<td>Time</td>

		
    </tr>
		
			<%
		var T=0;
		userData3.forEach(function(data3){
        %>
		
			     <%
        if(data3.Corection_1!=0){
         T++; 

        %>
    <tr>
		<td><%=data3.Date %></td>
		<td><%=data3.Corection_1 %></td>
		<td><%=data3.Corection_4 %></td>
		<td><%=data3.Corection_2 %></td>
		<td><%=data3.Corection_3 %></td>		
    </tr>		
	<% }  %>
			
	     <%
        if(data3.Corection_5!=0){
         T++; 

        %>
		<tr>
   <td><%=data3.Date %></td>
			<td><%=data3.Corection_5 %></td>
		<td><%=data3.Corection_8 %></td>
		<td><%=data3.Corection_6 %></td>
		<td><%=data3.Corection_7 %></td>		
    </tr>    
        <% }  %>


		
	     <%
        if(data3.Corection_9!=0){
         T++; 

        %>
			<tr>
   <td><%=data3.Date %></td>
	    		<td><%=data3.Corection_9 %></td>
		<td><%=data3.Corection_12 %></td>
		<td><%=data3.Corection_10 %></td>
		<td><%=data3.Corection_11 %></td>		
    </tr>
        <% } %>

	
	     <%
        if(data3.Corection_13!=0){
        T++; 

        %>
		<tr>
   <td><%=data3.Date %></td>
	    		<td><%=data3.Corection_13 %></td>
		<td><%=data3.Corection_16 %></td>
		<td><%=data3.Corection_14 %></td>
		<td><%=data3.Corection_15 %></td>		
    </tr>
        <% } %>

		     <%
        if(data3.Corection_17!=0){
         T++; 

        %>
		<tr>	
   <td><%=data3.Date %></td>
	    		<td><%=data3.Corection_17 %></td>
		<td><%=data3.Corection_20 %></td>
		<td><%=data3.Corection_18 %></td>
		<td><%=data3.Corection_19 %></td>		
    </tr>	
        <% } %>
		
				     <%
        if(data3.Corection_21!=0){
         T++; 

        %>
		<tr>	
   <td><%=data3.Date %></td>
	    		<td><%=data3.Corection_21 %></td>
		<td><%=data3.Corection_24 %></td>
		<td><%=data3.Corection_22 %></td>
		<td><%=data3.Corection_23 %></td>		
    </tr>	
        <% } %>
		
						     <%
        if(data3.Corection_25!=0){
         T++; 

        %>
		<tr>	
   <td><%=data3.Date %></td>
	    		<td><%=data3.Corection_25 %></td>
		<td><%=data3.Corection_28 %></td>
		<td><%=data3.Corection_26 %></td>
		<td><%=data3.Corection_27 %></td>		
    </tr>	
        <% } %>								     		
		
	<%   }) %>	
		
						<%
        if(T==0){
        %>
		<tr>
        <td>&nbsp;</td>	
        <td>&nbsp;</td>	
		<td>&nbsp;</td>	
		<td>&nbsp;</td>	
		<td>&nbsp;</td>		
      </tr>
			<tr>
        <td>&nbsp;</td>	
        <td>&nbsp;</td>	
		<td>&nbsp;</td>	
		<td>&nbsp;</td>	
		<td>&nbsp;</td>		
      </tr>
			<tr>
        <td>&nbsp;</td>	
        <td>&nbsp;</td>	
		<td>&nbsp;</td>	
		<td>&nbsp;</td>	
		<td>&nbsp;</td>		
      </tr>
			<tr>
        <td>&nbsp;</td>	
        <td>&nbsp;</td>	
		<td>&nbsp;</td>	
		<td>&nbsp;</td>	
		<td>&nbsp;</td>		
      </tr>
		
					<tr>
        <td>&nbsp;</td>	
        <td>&nbsp;</td>	
		<td>&nbsp;</td>	
		<td>&nbsp;</td>	
		<td>&nbsp;</td>		
      </tr>
        <% }  %>
		
		<%
        if(T==1){
        %>
		<tr>
        <td>&nbsp;</td>	
        <td>&nbsp;</td>	
		<td>&nbsp;</td>	
		<td>&nbsp;</td>	
		<td>&nbsp;</td>		
      </tr>
			<tr>
        <td>&nbsp;</td>	
        <td>&nbsp;</td>	
		<td>&nbsp;</td>	
		<td>&nbsp;</td>	
		<td>&nbsp;</td>		
      </tr>
			<tr>
        <td>&nbsp;</td>	
        <td>&nbsp;</td>	
		<td>&nbsp;</td>	
		<td>&nbsp;</td>	
		<td>&nbsp;</td>		
      </tr>
			<tr>
        <td>&nbsp;</td>	
        <td>&nbsp;</td>	
		<td>&nbsp;</td>	
		<td>&nbsp;</td>	
		<td>&nbsp;</td>		
      </tr>
        <% }  %>
		
					     <%
        if(T==2){
        %>
		<tr>
        <td>&nbsp;</td>	
        <td>&nbsp;</td>	
		<td>&nbsp;</td>	
		<td>&nbsp;</td>	
		<td>&nbsp;</td>		
      </tr>
			<tr>
        <td>&nbsp;</td>	
        <td>&nbsp;</td>	
		<td>&nbsp;</td>	
		<td>&nbsp;</td>	
		<td>&nbsp;</td>		
      </tr>
			<tr>
        <td>&nbsp;</td>	
        <td>&nbsp;</td>	
		<td>&nbsp;</td>	
		<td>&nbsp;</td>	
		<td>&nbsp;</td>		
      </tr>
        <% }  %>
		
					     <%
        if(T==3){
        %>
		<tr>
        <td>&nbsp;</td>	
        <td>&nbsp;</td>	
		<td>&nbsp;</td>	
		<td>&nbsp;</td>	
		<td>&nbsp;</td>		
      </tr>
			<tr>
        <td>&nbsp;</td>	
        <td>&nbsp;</td>	
		<td>&nbsp;</td>	
		<td>&nbsp;</td>	
		<td>&nbsp;</td>		
      </tr>

        <% }  %>
		
					     <%
        if(T==4){
        %>
		<tr>
        <td>&nbsp;</td>	
        <td>&nbsp;</td>	
		<td>&nbsp;</td>	
		<td>&nbsp;</td>	
		<td>&nbsp;</td>		
      </tr>

        <% }  %>

	          
	</table>
	
	<% } %>
	<br>
		<p>I have observed completion of the items checked above:</p>
	<br>
	<p>__________________	
	<!------------------------------------------Signature Field---------------------------------------------------------------> 
	
		<%
        if(userData.length!=0){
        var W=1;
        userData.forEach(function(data){
        %>

				<%
        if(data.Sign1!=null){
        %>
				<%
        if(W==1){
        %>
<%=data.Sign1 %>
		        <% } else{ %>

        <% } %>	
		        <% W++; } else{ %>

        <% } %>	

			  				          <%   }) %>
        <% } else{ %>

        <% } %>
		<!---------------------------------------------------------------------------------------------------------> 
		____________________/ __________________	<!------------------------------------------Signature Field---------------------------------------------------------------> 
	
		<%
        if(userData.length!=0){
        var W=1;
        userData.forEach(function(data){
        %>

				<%
        if(data.Sign1!=null){
        %>
				<%
        if(W==1){
        %>
<%=data.Sign1 %>
		        <% } else{ %>

        <% } %>	
		        <% W++; } else{ %>

        <% } %>	

			  				          <%   }) %>
        <% } else{ %>

        <% } %>
		<!---------------------------------------------------------------------------------------------------------> ________________  Date: _____	<!------------------------------------------Signature Field---------------------------------------------------------------> 
	
		<%
        if(userData.length!=0){
        var W=1;
        userData.forEach(function(data){
        %>

				<%
        if(data.Sign1!=null){
        %>
				<%
        if(W==1){
        %>
<%=data.SignDate1 %>
		        <% } else{ %>

        <% } %>	
		        <% W++; } else{ %>

        <% } %>	

			  				          <%   }) %>
        <% } else{ %>

        <% } %>
		<!---------------------------------------------------------------------------------------------------------> ______</p>
	<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Signature&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Printed Name</p>
	<br>
		<p>Reviewed By:_____________	<!------------------------------------------Signature Field---------------------------------------------------------------> 
	
		<%
        if(userData.length!=0){
        var W=1;
        userData.forEach(function(data){
        %>

				<%
        if(data.Sign2!=null){
        %>
				<%
        if(W==1){
        %>
<%=data.Sign2 %>
		        <% } else{ %>

        <% } %>	
		        <% W++; } else{ %>

        <% } %>	

			  				          <%   }) %>
        <% } else{ %>

        <% } %>
		<!---------------------------------------------------------------------------------------------------------> _____________/ __________________	<!------------------------------------------Signature Field---------------------------------------------------------------> 
	
		<%
        if(userData.length!=0){
        var W=1;
        userData.forEach(function(data){
        %>

				<%
        if(data.Sign2!=null){
        %>
				<%
        if(W==1){
        %>
<%=data.Sign2 %>
		        <% } else{ %>

        <% } %>	
		        <% W++; } else{ %>

        <% } %>	

			  				          <%   }) %>
        <% } else{ %>

        <% } %>
		<!---------------------------------------------------------------------------------------------------------> _________________  Date:______	<!------------------------------------------Signature Field---------------------------------------------------------------> 
	
		<%
        if(userData.length!=0){
        var W=1;
        userData.forEach(function(data){
        %>

				<%
        if(data.Sign2!=null){
        %>
				<%
        if(W==1){
        %>
<%=data.SignDate2 %>
		        <% } else{ %>

        <% } %>	
		        <% W++; } else{ %>

        <% } %>	

			  				          <%   }) %>
        <% } else{ %>

        <% } %>
		<!---------------------------------------------------------------------------------------------------------> ______</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Signature&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Printed Name</p>
        <% } %>
<!--------------------------------------------------------------------------------------------------------------------->
	
	  
	 



</div>